<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>
    </SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nexus-advanced.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>nexus-advanced</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$nexus-advanced</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SqlAuthenticateRepository" Order="1" Enabled="False">
          <Destination Path="Data Source=ccq3fxyzu0.database.windows.net;Initial Catalog=Nexus;User ID=roberto;Password=pZATy5r5KlqoH67r0VcV;Application Name=EntityFramework" Name="Data Source=ccq3fxyzu0.database.windows.net;Initial Catalog=Nexus;User ID=roberto;Password=pZATy5r5KlqoH67r0VcV;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Nexus.Sql_Repository.SqlAuthenticateRepository, Nexus.Sql_Repository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SqlDataRepository" Order="2" Enabled="False">
          <Destination Path="Data Source=ccq3fxyzu0.database.windows.net;Initial Catalog=Nexus;User ID=roberto;Password=pZATy5r5KlqoH67r0VcV;Application Name=EntityFramework" Name="Data Source=ccq3fxyzu0.database.windows.net;Initial Catalog=Nexus;User ID=roberto;Password=pZATy5r5KlqoH67r0VcV;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Nexus.Sql_Repository.SqlDataRepository, Nexus.Sql_Repository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Nexus.Sql_Repository.SqlRepositoryContext" Order="3" Enabled="False">
          <Destination Path="Data Source=devsrvr01.company.local\sql2014;Initial Catalog=Nexus;User ID=sa;Password=Password1;Application Name=EntityFramework" Name="Data Source=devsrvr01.company.local\sql2014;Initial Catalog=Nexus;User ID=sa;Password=Password1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Nexus.Sql_Repository.SqlRepositoryContext, Nexus.Sql_Repository" MigrationConfiguration="Nexus.Sql_Repository.Migrations.Configuration, Nexus.Sql_Repository" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Nexus.Sql_Repository.SqlRepositoryContext-Web.config Connection String">
      <ParameterValue>Data Source=devsrvr01.company.local\sql2014;Initial Catalog=Nexus;User ID=sa;Password=Password1;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlAuthenticateRepository-Web.config Connection String">
      <ParameterValue>Data Source=ccq3fxyzu0.database.windows.net;Initial Catalog=Nexus;User ID=roberto;Password=pZATy5r5KlqoH67r0VcV;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlDataRepository-Web.config Connection String">
      <ParameterValue>Data Source=ccq3fxyzu0.database.windows.net;Initial Catalog=Nexus;User ID=roberto;Password=pZATy5r5KlqoH67r0VcV;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Nexus.Sql_Repository.SqlRepositoryContext" />
  </ItemGroup>
</Project>