<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>

  <!-- 1. In order to configure remote endpoints use the format: "queue@machine" 
       2. Input queue must be on the same machine as the process feeding off of it.
       3. Error queue can (and often should) be on a different machine.
       4. The community edition doesn't support more than one worker thread.
  -->

  <MsmqTransportConfig
    ErrorQueue="error"
    NumberOfWorkerThreads="1"
    MaxRetries="5"
  />

  <UnicastBusConfig>
    <MessageEndpointMappings>


<!--  Subscribe to funding messages from publisher.  Can also act as publisher for these messages if this is commented out.

      <add Messages="Fusion.Messages.SocialCare.FundingChangeMessage, Fusion.Messages.SocialCare" Endpoint="caresyspublisher" /> 
      <add Messages="Fusion.Messages.SocialCare.FunderChangeMessage, Fusion.Messages.SocialCare" Endpoint="caresyspublisher" /> 
-->

<!--  Destinations for point to point messages. Will these cause attempt to auto-subscribe? They are ICommand, we will see

      <add Messages="Fusion.Messages.SocialCare.CaresysInvoiceLineInsertMessage, Fusion.Messages.SocialCare" Endpoint="caresys" /> 
      <add Messages="Fusion.Messages.SocialCare.ServiceUserDailyRecordChangeMessage, Fusion.Messages.SocialCare" Endpoint="caresys" /> 
-->

      <!-- subscribe to staff messages from republisher -->      

      <add Messages="Fusion.Messages.SocialCare.StaffChangeMessage, Fusion.Messages.SocialCare" Endpoint="fusion.publisher.socialcare.staff" />      
      <add Messages="Fusion.Messages.SocialCare.StaffChangeRequest, Fusion.Messages.SocialCare" Endpoint="fusion.publisher.socialcare.staff" />

      <add Messages="Fusion.Messages.SocialCare.StaffPostChangeMessage, Fusion.Messages.SocialCare" Endpoint="fusion.publisher.socialcare.staff" />
      <add Messages="Fusion.Messages.SocialCare.StaffPostChangeRequest, Fusion.Messages.SocialCare" Endpoint="fusion.publisher.socialcare.staff" />

      <!-- subscribe to service user messages from republisher -->
      <add Messages="Fusion.Messages.SocialCare.ServiceUserChangeMessage, Fusion.Messages.SocialCare" Endpoint="fusion.publisher.socialcare.serviceuser" />
      <add Messages="Fusion.Messages.SocialCare.ServiceUserChangeRequest, Fusion.Messages.SocialCare" Endpoint="fusion.publisher.socialcare.serviceuser" />

      <add Messages="Fusion.Messages.SocialCare.ServiceUserCareDeliveryAddressChangeMessage, Fusion.Messages.SocialCare" Endpoint="fusion.publisher.socialcare.serviceuser" />
      <add Messages="Fusion.Messages.SocialCare.ServiceUserCareDeliveryAddressChangeRequest, Fusion.Messages.SocialCare" Endpoint="fusion.publisher.socialcare.serviceuser" />

      <add Messages="Fusion.Messages.SocialCare.ServiceUserHomeAddressChangeMessage, Fusion.Messages.SocialCare" Endpoint="fusion.publisher.socialcare.serviceuser" />
      <add Messages="Fusion.Messages.SocialCare.ServiceUserHomeAddressChangeRequest, Fusion.Messages.SocialCare" Endpoint="fusion.publisher.socialcare.serviceuser" />


      <!--      <add Messages="Fusion.Messages.Example.PayrollIdAssignedMessage, Fusion.Messages.Example" Endpoint="exampleconnector" />   -->

    </MessageEndpointMappings>
  </UnicastBusConfig>

</configuration>
