<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  
  <connectionStrings>
    <!--<add name="DynamicEntities" providerName="System.Data.SqlClient" connectionString="Data Source=.\sql2014;Initial Catalog=Dynamic;User Id=sa;Password=asr;" />-->
    <!--<add name="DynamicModel" providerName="System.Data.SqlClient" connectionString="Data Source=.\sql2014;Initial Catalog=Dynamic;User Id=sa;Password=asr;" />-->
    
    <!--<add name="DynamicModel" connectionString="metadata=res://*/DynamicModel.csdl|res://*/DynamicModel.ssdl|res://*/DynamicModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2014;initial catalog=Dynamic;persist security info=True;user id=sa;password=asr;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DynamicModel" connectionString="metadata=res://*/DynamicModel.csdl|res://*/DynamicModel.ssdl|res://*/DynamicModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2014;initial catalog=Dynamic;persist security info=True;user id=sa;password=asr;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DynamicDbContext" connectionString="data source=.\sql2014;initial catalog=Dynamic;integrated security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />




  </connectionStrings>
</configuration>