<appSettings>
  <add key="DefaultCulture" value="en-gb" />
  <add key="Theme" value="Chocolate" />
  <add key="MessageFontSize" value="10" />
  <add key="ValidationMessageFontSize" value="8" />
  <add key="OLEFolder_Server" />
  <add key="OLEFolder_Local" />
  <add key="PhotographFolder" />
  <add key="SubmissionTimeout" value="120" />
  <add key="LookupRowsRange" value="20" />
  <add key="MobileKey" value="HpBz8hccUhcakz@kkntE3vtK@2szGOwyfxN2vGdollwefHu02"/>
  <add key="WorkflowURL" value="http://COA14270.coa.local/openhrworkflow/"/>
  <add key="DefaultActiveDirectoryServer" value="COA.local" />
  <add key="TabletBackColour" value="lightgray" />
</appSettings>
