body {
}


.bulletbox { background-color: transparent;}

.captionBottom {
	color: gray;
	position: absolute; 
	text-align: center; 
	font-size: 6pt; 
	top: 24px; 
	width: 15px; 
	margin-left: -8px;
}

.markBottom 
{
	background-color: rgb(204, 204, 204); 
	color: white; 
	height: 7px; 
	position: absolute; 
	text-align: justify; 
	width: 1px; 
	top: 20px; 
	z-index: 1;
}

.bulletbox {
	position:relative; 
	border-style: solid; 
	border-width: 1px; 
	border-color: #cccccc; 
	color: #222; 
	float: left; 
	font-size: 1em; 
	height: 20px; 
	line-height: 1.5em; 
	margin-right: 4px; 
	text-align: justify;
	width: 200px;
}

.actual {
	background-attachment: scroll;
	background-clip: border-box; 
	background-color: transparent; 
	background-origin: padding-box; 
	background-position-x: 0%;
	background-position-y: 0%; 
	background-repeat: repeat; 
	background-size: auto; 
	border-style: none; 
	color: #222; 
	font-size: 0px; 
	height: 10px; 
	left: 0px;
	line-height: 1.5em; 
	position: absolute; 
	top: 5px; 
	width: 199px; 
	z-index: 2;
}


.uislider {
	background-color: orange; 
	box-shadow: 1px 1px 2px #818181; 
	color: #222; 
	font-size: 1em; 
	line-height: 1.5em; 
	text-align: justify; 
	height: 10px;	
}

.uisliderhandle {
	background-color: orange; 
	border-style: none; 
	box-shadow: 1px 1px 2px #8c0e34; 
	color: #1155cc; 
	font-size: 0px; 
	height: 34px;
	line-height: 1.5em;
	outline-color: invert; 
	outline-style: none; 
	outline-width: medium; 
	position: absolute; 
	text-align: justify; 
	text-decoration: none; 
	top: -14px; 
	width: 2px; 
	z-index: 10;
}

.markrange0 {
		background-color: rgb(204, 204, 204); 
		color: #222; 
		height: 7px; 
		left: -1px; 
		position: absolute; 
		text-align: justify; 
		top: -7px; 
		width: 1px; 
		z-index: 1;
}

.markrange1 {
	background-color: rgb(204, 204, 204); 
	color: #222; 
	height: 7px; 	
	position: absolute; 
	text-align: justify; 
	top: -7px; 
	width: 1px; 
	z-index: 1;
}

.captionrange0 {
	color: gray; 
	font-size: 8pt; 
	left: 0%; 
	line-height: 1.5em; 
	position: absolute; 
	text-align: center; 
	top: -15px; 	
}

.info {
	color: gray; 
	font-size: 1em; 
	height: 20px; 
	line-height: 1.25; 
	padding-top: 4px; 
	text-align: justify;
}

.holidaycontainer {
	height: 40px;
	margin-top: 20px;
	padding-bottom: 20px;
	padding-top: 14px;
}
