@model RCVS.Models.AddressLookupModel
@{
	ViewBag.Title = "Address";
	Layout = null;
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")

@using (Html.BeginForm("AddressLookup", "Account", FormMethod.Post, new { @class = "forms default" }))
{
	<div class="wysiwyg popup">
		<fieldset>
			<legend>Address lookup</legend>
			<div class="editor-label label">
				<label for="UserPostcode">Postcode to lookup</label>
			</div>
			<div class="editor-field input">
				<input type="text" id="UserPostcode" />
			</div>
			<div>
				<input type="submit" id="Lookup" value="Lookup" style="margin-left: auto; margin-right: auto; margin-top: 37px; display: block;">
			</div>
			<div>
				<p id="Messages" style="color: red;"></p>
			</div>

			<div id="DIVListOfAddresses">
			</div>
			<div>
				<input type="submit" value="Select address" id="SelectAddress" style="display: none; margin-left: auto; margin-right: auto; margin-top: 15px;" />
			</div>
		</fieldset>
	</div>
	
}

<script type="text/javascript">
	$("#Lookup").click(function (e)
	{
		e.preventDefault();
		$("#Messages").html("");

		if ($("#UserPostcode").val() == "")
		{
			$("#Messages").html("Please enter a postcode");
			return false;
		}

		$.ajax({
			url: "/account/QASAddressLookup",
			type: "POST",
			dataType: "json",
			data: { postcode: $("#UserPostcode").val() },
			success: function (addresses)
			{
				try
				{
					if (addresses == "")
					{
						$("#Messages").html("Your postcode didn't return any addresses; please try again");
						return false;
					}

					var select = "<select id='ListOfAddresses' style='margin-left: auto; margin-right: auto; margin-top: 15px; display: block;'>";
					$.each(addresses, function (i, v)
					{
						select += "<option value='" + v + "'>" + v + "</option>";
					});
					select += "</select>";

					$("#DIVListOfAddresses").html(select);

					$("#SelectAddress").css("display", "block");

				} catch (ex) { }
			}
		});

		return false;
	});

	$("#SelectAddress").click(function (e)
	{
		e.preventDefault();
		var addresses = $("#ListOfAddresses").val().split(",");
		try
		{
			$("#AddressLine1").val(addresses[0]);
			$("#City").val(addresses[1]);
			$("#Postcode").val(addresses[2]);
		} catch (e)
		{

		}

		$("#AddressLookupDialog").dialog('close');

		return false;
	});
</script>
