@{
	ViewBag.Title = "Registration Successful";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration Successful</h2>
<p>
	Your registration has been successful; thank you for registering with us
</p>
<p>
	You'll receive a confirmation email
</p>
<p>
	Please <a href="/Account/Login?ReturnURL=%2fhome%2fdeclarationofintention">log in </a> to continue with the Registration process
</p>
