li:visited { color: white;}      	
.RecordDescription p {color: White;	}
.FixedLinksLeft ul li {	color: White;}
.FixedLinksRight ul li {color: White;}
li {background-color: transparent;}
li a {	color: White;}
.linkspagebuttonseparatorframe {border-color: rgb(43, 120, 228);}
.hypertextlinkseparatorframe {border-color: rgb(43, 120, 228);}
.abMainMenu { color: black;}
.abMainMenu li a { color: black;}