body {background-color: rgb(99, 55, 7);color: White;
      	font-family: Segoe UI, Verdana, "Open Sans", Tahoma,Helvetica,sans-serif; }
.headerbar {background-color: #e9eef7;}
.DashHeader {background-color: rgb(228, 120, 43);}
.RecordDescription {	background-color: rgb(228, 120, 43);}
.RecordDescription p {color: White;	}
.FixedLinksLeft ul li {	color: White;}
.FixedLinksRight ul li {color: White;}
.FixedLinksLeft ul li:hover {	background-color: Orange; border-radius: 5px; }

li {background-color: transparent;}
li a {	color: White;}
.linkspagebuttonseparatorframe {border-color: rgb(228, 120, 43);}
.hypertextlinkseparatorframe {border-color: rgb(228, 120, 43);}
.hypertextlinkseparator {background-color: rgb(99, 55, 7);}
.linkspagebuttonseparator {background-color: rgb(99, 55, 7);}
.hypertextlinktext:hover {	background-color: #ff9608; }
.linkspagebuttontext:hover {	background-color: #ff9608; }
.generaltheme{background-color: rgb(228, 120, 43);}


.widgetplaceholder { color: white;}