body {
	/*background-color: white;*/
      /*color: black;*/
      font-family: "Segoe UI Semibold", Verdana, "Open Sans", Tahoma,Helvetica,sans-serif; 
}

.headerbar {background-color: #e9eef7;}

.DashHeader {background-color: rgb(191, 219, 255);}
.RecordDescription {	background-color: rgb(191, 219, 255);}
.RecordDescription p {color: black;	}
.FixedLinksLeft ul li {	color: black;}
.FixedLinksRight ul li {color: black;}
/*.FixedLinksLeft ul li:hover {	background-color: rgb(55, 151, 251); border-radius: 5px; }*/


li {background-color: transparent;}
li a {	color: black;}
.linkspagebuttonseparatorframe {border-color: rgb(191, 219, 255);}
.hypertextlinkseparatorframe {border-color: rgb(191, 219, 255);}
.hypertextlinkseparator {
	/*background-color: rgb(191, 219, 255);*/
   /* Chuck all possibilities at the browser for gradients... */
   background-color: #1a82f7; 
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfdbff', endColorstr='#ffffff',GradientType=0 );
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bfdbff), to(#ffffff));
   background-image: -webkit-linear-gradient(top, #bfdbff, #ffffff); 
   background-image:    -moz-linear-gradient(top, #bfdbff, #ffffff);
   background-image:     -ms-linear-gradient(top, #bfdbff, #ffffff);
   background-image:      -o-linear-gradient(top, #bfdbff, #ffffff);	
}

.linkspagebuttonseparator {
	/*background-color: rgb(191, 219, 255);*/
   /* Chuck all possibilities at the browser for gradients... */
   background-color: #1a82f7; 
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfdbff', endColorstr='#ffffff',GradientType=0 );
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bfdbff), to(#ffffff));
   background-image: -webkit-linear-gradient(top, #bfdbff, #ffffff); 
   background-image:    -moz-linear-gradient(top, #bfdbff, #ffffff);
   background-image:     -ms-linear-gradient(top, #bfdbff, #ffffff);
   background-image:      -o-linear-gradient(top, #bfdbff, #ffffff);	
}

.hypertextlinktext:hover { background-color: rgb(55, 151, 251); }
.linkspagebuttontext:hover {	background-color: rgb(55, 151, 251); }
.linkspagebutton .displayonly { background-color: transparent; }
.generaltheme {background-color: rgb(191, 219, 255);}

.widgetplaceholder { color: white;}

