@using System.Linq

@model IEnumerable<ABS_Self_Service.Models.widgetsModel>

<style>
    .widget {
        padding: 20px;
        border: 5px solid white;
        height: 300px;
        width: 250px;
        position: absolute;
        background-color: lightgray;
        border-radius: 10px;
    }

        .widget iframe {
            height: 100%;
            width: 100%;
            border: none;
        }
</style>


<div class="row">
    @if (Request.IsAuthenticated)
    {
        <div>
            Your openhr id is @ViewBag.OpenHRID
        </div>
    }

    @if (!(Model == null))
    {
        foreach (var item in Model)
        {

            string xposString = string.Format("{0}px", ((Convert.ToInt32(item.widgetPositionX) - 1) * 250) + 100);
            string yposString = string.Format("{0}px", ((Convert.ToInt32(item.widgetPositionY) - 1) * 300) + 100);

            string xSizeString = string.Format("{0}px", ((Convert.ToInt32(item.widgetSizeX)) * 250));
            string ySizeString = string.Format("{0}px", (Convert.ToInt32(item.widgetSizeY)) * 300);

            <div class="widget" style="top: @yposString; left: @xposString; width: @xSizeString; height: @ySizeString">
                <iframe id="widget1" src="@item.widgetUri" style=""></iframe>
            </div>

        }

    }
</div>

@section scripts
{
}

