<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
		 xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

	<!-- Define variables -->
	<?define publishDir="..\DMI.NET\obj\Release\Package\PackageTmp\"?>
	<?define MyWebResourceDir="."?>
	<?define DMINET_DLL="..\DMI.NET\obj\Release\DMI.NET.DLL"?>
	<?define MajorAndMinorProductVersion="$(fileVersion.MajorAndMinorProductVersion($(var.DMINET_DLL)))"?>
	<?define FullProductVersion="$(fileVersion.FullProductVersion($(var.DMINET_DLL)))"?>
	
	<Product Id="*"
			 Name="OpenHR Web $(var.MajorAndMinorProductVersion)"
			 Language="1033"
			 Version="$(var.FullProductVersion)"
			 Manufacturer="Advanced Computer Software"
			 UpgradeCode="{5C692BB6-944A-478F-9DFB-F6991A9ADD21}" >

		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<Media Id="1" Cabinet="OpenHR.cab" EmbedCab="yes" />

		<!-- Application icon -->
		<Icon Id="OpenHR_Icon" SourceFile="$(var.publishDir)\Content\Images\OpenHR_Icon.ico"/>
		<Property Id="ARPPRODUCTICON" Value="OpenHR_Icon" />

		<!-- Configurable install location -->
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />

		<!-- Set some properties for the MSI installer -->
		<Property Id="ARPHELPLINK">http://webfirst.advancedcomputersoftware.com</Property> <!-- This property appears as the "Help link" in the "Programs and Features" Windows screen -->
		<Property Id="ARPURLINFOABOUT">http://www.advancedcomputersoftware.com/abs</Property> <!-- This property appears as the "Support link" in the "Programs and Features" Windows screen -->
		
		<!-- Creating directories -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="WindowsVolume" Name="WindowsVolume">
				<Directory Id="INETPUB" Name="Inetpub" ComponentGuidGenerationSeed="60f8e27d82ad4207b784e13305dd18dc">
					<Directory Id="WWWROOT" Name="wwwroot" ComponentGuidGenerationSeed="d6ee5f504eb5453587abbf467ed4375a">
						<!-- This is the folder where the website content will be located -->
						<Directory Id="INSTALLLOCATION" Name="OpenHR" ComponentGuidGenerationSeed="f42c48f5f76444628078f9470422592b">
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>

		<!-- Complete feature which will be installed. -->
		<Feature Id="Complete"
						 Title="OpenHR"
						 Level="1"
						 Display="expand"
						 ConfigurableDirectory="INSTALLLOCATION">

			<!-- Main content of the Complete feature. -->
			<Feature Id="MainContent"
					 Title="OpenHR"
					 Description="The website content"
					 Level="1">

				<!-- Include IIS Configuration. -->
				<ComponentGroupRef Id="WebIssConfiguration" />

				<!-- Include web content. -->
				<ComponentGroupRef Id="DMI.NET_Project" />

				<!-- Perform changes in the custom.config.template file. -->
				<ComponentRef Id="CustomConfigOperations" />

				<!-- Perform changes in the smtp.config.template file. -->
				<ComponentRef Id="SMTPConfigOperations" />
				
			</Feature>
		</Feature>

		<DirectoryRef Id="INSTALLLOCATION">
			<!-- Component handling the custom.config.template -->
			<Component Id="CustomConfigOperations" Guid="">
				<!-- Copy custom.config.template to website folder. -->
				<File Id="CustomConfigFile" KeyPath="yes" Source="$(var.publishDir)\custom.config.template" Vital="yes" />
			</Component>
			<!-- Component handling the smtp.config.template -->
			<Component Id="SMTPConfigOperations" Guid="">
				<!-- Copy smtp.config.template to website folder. -->
				<File Id="SMTPConfigFile" KeyPath="yes" Source="$(var.publishDir)\smtp.config.template" Vital="yes" />
				<!-- Modify smtp.config.template with the setting entered by the user during installation -->
				<util:XmlFile Id="ModifySMTPEmailAddressSetting"
										 Action="setValue"
										 Permanent="yes"
										 ElementPath="/smtp/@from"
										 File="[#SMTPConfigFile]"
										 Value="[SMTP_EMAIL_ADDRESS_STRING]"
										 SelectionLanguage="XSLPattern"
										 Sequence="1" />
				<util:XmlFile Id="ModifySMTPServerSetting"
										 Action="setValue"
										 Permanent="yes"
										 ElementPath="/smtp/network/@host"
										 File="[#SMTPConfigFile]"
										 Value="[SMTP_SERVER_STRING]"
										 SelectionLanguage="XSLPattern"
										 Sequence="2" />
				 <util:XmlFile Id="ModifySMPTPortSetting"
										 Action="setValue"
										 Permanent="yes"
										 ElementPath="/smtp/network/@port"
										 File="[#SMTPConfigFile]"
										 Value="[SMTP_PORT_STRING]"
										 SelectionLanguage="XSLPattern"
										 Sequence="3" />
			</Component>
		</DirectoryRef>

		<!-- Check if IIS is installed -->
		<PropertyRef Id="IISMAJORVERSION"/>
		<Condition Message="OpenHR Web requires IIS 7 or above; as part of the IIS installation, if the Server is Microsoft Server 2008, please also install support for ASP.NET; if the Server is Microsoft Server 2012, make sure ASP.NET 3.5 and ASP.NET 4.5 are also installed">
			<![CDATA[Installed OR (IISMAJORVERSION AND (IISMAJORVERSION = "#7" OR IISMAJORVERSION = "#8"))]]>
		</Condition>

		<!-- Check if .NET 4.5.1 is installed -->
		<PropertyRef Id="NETFRAMEWORK45"/>
		<Condition Message="OpenHR Web requires .NET Framework 4.5.1. Please download it from http://www.microsoft.com/en-gb/download/details.aspx?id=40779">
			<![CDATA[Installed OR NETFRAMEWORK45]]>
		</Condition>

		<!-- Check that SQL Client is installed -->
		<!--<Property Id="SQLCLIENTCHECK" Value="0">
			<RegistrySearch Id="SQLClientCurrentVersion"
											Key="SOFTWARE\Microsoft\Microsoft SQL Native Client\CurrentVersion"
											Name="Version"
											Root="HKLM"
											Type="raw" />
		</Property>-->
		<Property Id="SQLCLIENT10INSTALLED" Value="0">
			<RegistrySearch Id="SQLClient10Installed"
											Key="SOFTWARE\Microsoft\Microsoft SQL Server Native Client 10.0"
											Name="CurrentVersion"
											Root="HKLM"
											Type="raw" />
		</Property>
		<Property Id="SQLCLIENT11INSTALLED" Value="0">
			<RegistrySearch Id="SQLClient11Installed"
											Key="SOFTWARE\Microsoft\Microsoft SQL Server Native Client 11.0"
											Name="CurrentVersion"
											Root="HKLM"
											Type="raw" />
		</Property>
		<Condition Message="OpenHR requires SQL Server client; please install it an then re-run the OpenHR setup">
			<![CDATA[Installed OR (SQLCLIENT10INSTALLED > "#0" OR SQLCLIENT11INSTALLED > "#0"]]>
		</Condition>

		<!-- License and images -->
		<WixVariable Id="WixUILicenseRtf" Value="$(var.MyWebResourceDir)\License.rtf" />

		<!-- Specify UI -->
		<UIRef Id="WixUI_OpenHR" />

		<!-- Upgrade settings -->
		<MajorUpgrade
			Schedule="afterInstallInitialize"
			DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit." />

		<!-- Set the installation directory to the value entered by the user -->
		<SetDirectory Id="INSTALLLOCATION" Value="[WWWROOT][VIRTUAL_DIR_VAL]" Sequence="execute" />
	</Product>
</Wix>
