<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="IisSetupDlg" Width="370" Height="300" Title="Folder and IIS Settings - [ProductName]" NoMinimize="yes">
				<!-- Virtual Dir prompt -->
				<Control Id="VirtualDirLabel" Type="Text" X="45" Y="55" Width="220" Height="15" TabSkip="no" Text="&amp;Virtual Directory and Physical Path:" />
				<Control Id="VirtualDirEdit" Type="Edit" X="45" Y="70" Width="220" Height="18" Property="VIRTUAL_DIR_VAL" Text="{80}" />
				<!-- Back and next buttons -->
				<Control Id="Back" Type="PushButton" X="180" Y="273" Width="56" Height="17" Text="&amp;Back">
					<Publish Event="NewDialog" Value="WelcomeDlg">1</Publish>
				</Control>
				<Control Id="Next" Type="PushButton" X="236" Y="273" Width="56" Height="17" Default="yes" Text="&amp;Next">
					<Publish Event="NewDialog" Value="ApplicationSettingsDlg">
						<!--if settings are correct, allow next dialog-->
						<![CDATA[VIRTUAL_DIR_VAL <> ""]]>
					</Publish>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="273" Width="56" Height="17" Cancel="yes" Text="Cancel">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
					<Text></Text>
				</Control>
				<Control Id="BottomLine" Type="Line" X="0" Y="264" Width="370" Height="0" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>{\WixUI_Font_Title}Folder and IIS Settings</Text>
				</Control>
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
			</Dialog>

			<Dialog Id="ApplicationSettingsDlg" Width="370" Height="300" Title="Application Settings - [ProductName]" NoMinimize="yes">
				<!-- SMTP "Email from" -->
				<Control Id="SMTPEmailAddressLabel1" Type="Text" X="45" Y="55" Width="100" Height="15" TabSkip="no" Text="SMTP &amp;Email address:" />
				<Control Id="SMTPEmailAddressField" Type="Edit" X="45" Y="70" Width="220" Height="18" Property="SMTP_EMAIL_ADDRESS_STRING" Text="{200}" />
				<Control Id="SMTPEmailAddressLabel2" Type="Text" X="270" Y="73" Width="50" Height="15" TabSkip="yes" Text="(optional)" />
				<!-- SMTP server -->
				<Control Id="SMTPServerLabel1" Type="Text" X="45" Y="95" Width="100" Height="15" TabSkip="no" Text="S&amp;MTP server:" />
				<Control Id="SMTPServerField" Type="Edit" X="45" Y="110" Width="220" Height="18" Property="SMTP_SERVER_STRING" Text="{200}" />
				<Control Id="SMTPServerLabel2" Type="Text" X="270" Y="113" Width="50" Height="15" TabSkip="yes" Text="(optional)" />
				<!-- SMTP port -->
				<Control Id="SMTPPortLabel1" Type="Text" X="45" Y="135" Width="100" Height="15" TabSkip="no" Text="SMTP &amp;port:" />
				<Control Id="SMTPPortField" Type="Edit" X="45" Y="150" Width="35" Height="18" Property="SMTP_PORT_STRING" Text="{200}" />
				<Control Id="SMTPPortLabel2" Type="Text" X="85" Y="153" Width="50" Height="15" TabSkip="yes" Text="(optional)" />
				<!-- Back button -->
				<Control Id="Back" Type="PushButton" X="180" Y="273" Width="56" Height="17" Text="&amp;Back">
					<Publish Event="NewDialog" Value="IisSetupDlg">1</Publish>
				</Control>
				<Control Id="Next" Type="PushButton" X="236" Y="273" Width="56" Height="17" Default="yes" Text="&amp;Next">
					<Publish Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="273" Width="56" Height="17" Cancel="yes" Text="Cancel">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>Please enter application settings</Text>
				</Control>
				<Control Id="BottomLine" Type="Line" X="0" Y="264" Width="370" Height="0" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>{\WixUI_Font_Title}Application Settings</Text>
				</Control>
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
			</Dialog>
		</UI>
	</Fragment>
</Wix>
