@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--[if lt IE 7]><div class="ie6upgrade" style=' clear: both; height: 42px; margin: 0 80px 20px 80px; position: relative;'> <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div><![endif]-->
<div class="pagebody">
	<div class="pagecontent">
		<h1>Registration</h1>
		<div class="wysiwyg">
			<p>Only veterinary surgeons registered with us can practise veterinary medicine in the UK. We also register veterinary nurses and, more recently, veterinary practice premises (on behalf of the Veterinary Medicines Directorate).</p>
			<p>In this section you can find out who is registered, how to register yourself or your premises, and how to change your registration status.</p>
			<p>&nbsp;</p>
			<table style="width: 540px;" border="0" cellpadding="5">
				<tbody>
					<tr class="even">
						<td style="padding-left: 10px;"><a href="/registration/check-the-register-list/">
							<img src="~/public/images/checkregister2.jpg" alt="Page from the RCVS Register of Members" width="220" height="120" /></a></td>
						<td style="width: 30px;">&nbsp;</td>
						<td><a href="/registration/how-to-register/">
							<img src="~/public/images/howtoregister.jpg" alt="RCVS Register of Members" width="220" height="120" /></a></td>
					</tr>
					<tr class="even">
						<td style="padding-left: 10px;"><strong><a href="/registration/check-the-register-list/">Check the Register/List</a></strong></td>
						<td style="width: 30px;">&nbsp;</td>
						<td style="padding-right: 10px;"><strong><a href="/registration/how-to-register/">How to register</a></strong></td>
					</tr>
					<tr class="even">
						<td style="padding-left: 10px;">Search for a registered veterinary surgeon or listed/registered veterinary nurse</td>
						<td style="width: 30px;">&nbsp;</td>
						<td style="padding-right: 10px;">Information for veterinary surgeons and veterinary nurses wishing to register with us</td>
					</tr>
					<tr class="even">
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr class="even">
						<td style="padding-left: 10px;"><a href="/registration/amending-your-registration-listing/">
							<img src="/public/images/amendingregister.jpg" alt="Computer keyboard" width="220" height="120" /></a></td>
						<td style="width: 30px;">&nbsp;</td>
						<td style="padding-right: 10px;"><a href="/registration/voluntary-removal-and-restoration/">
							<img src="/public/images/restoration.jpg" alt="Sign on door - back in 9 months" width="220" height="120" /></a></td>
					</tr>
					<tr class="even">
						<td style="padding-left: 10px;"><strong><strong><a href="/registration/amending-your-registration-listing/">Amending your registration/listing</a></strong></strong></td>
						<td style="width: 30px;">&nbsp;</td>
						<td style="padding-right: 10px;"><strong><a href="/registration/voluntary-removal-and-restoration/">Voluntary removal &amp; restoration</a></strong></td>
					</tr>
					<tr class="even">
						<td style="padding-left: 10px;">Veterinary surgeons and veterinary nurses can change their details online</td>
						<td style="width: 30px;">&nbsp;</td>
						<td style="padding-right: 10px;">Need to come off the Register for a while, or go back on? Here's what you need to do...</td>
					</tr>
					<tr class="even">
						<td colspan="3">&nbsp;</td>
					</tr>
					<tr class="even">
						<td style="padding-left: 10px;"><a href="/registration/register-of-veterinary-practice-premises/">
							<img src="/public/images/premisesregister.jpg" alt="Plaque on wall of veterinary premises" width="220" height="120" /></a></td>
						<td style="width: 30px;">&nbsp;</td>
						<td style="padding-right: 10px;"><a href="/registration/statutory-membership-exam/">
							<img src="/public/images/statexam.jpg" alt="RCVS Certificate of Membership" width="220" height="120" /></a></td>
					</tr>
					<tr class="even">
						<td style="padding-left: 10px;"><strong><a href="/registration/register-of-veterinary-practice-premises/">Register of Veterinary Practice Premises</a></strong></td>
						<td style="width: 30px;">&nbsp;</td>
						<td style="padding-right: 10px;"><strong><a href="/registration/statutory-membership-exam/">Statutory Examination for<br />
							Membership</a></strong></td>
					</tr>
					<tr class="even">
						<td style="padding-left: 10px;">Make sure your practice premises are registered to supply veterinary medicines</td>
						<td style="width: 30px;">&nbsp;</td>
						<td style="padding-right: 10px;">Information for veterinary surgeons who have qualified outside the EU/Commonwealth</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

