@{
		ViewBag.Title = "Home Page";
		Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrap three-columns">
<!--[if lt IE 7]><div class="ie6upgrade" style=' clear: both; height: 42px; margin: 0 80px 20px 80px; position: relative;'> <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div><![endif]-->
	<div class="breadcrumbs">
		<ol><li class="label">You are here:</li><li class="leaf">Registration</li></ol>
	</div>
	<div class="pagebody">
		<div class="pagesubmenu">
			<ul class="nav">
				<li><span class="arrow"></span><a href="/registration/about-the-rcvs-register/"><span>About the RCVS Register</span></a></li>
						
				<li><span class="arrow"></span><a href="/registration/about-the-vn-register/"><span>About the VN Register</span></a></li>
						
				<li><span class="arrow"></span><a href="/registration/check-the-register-list/"><span>Check the Register/List</span></a></li>
						
				<li><span class="arrow"></span><a href="/registration/who-can-register/"><span>Who can register?</span></a></li>
						
				<li><span class="arrow"></span><a href="/registration/how-to-register/"><span>How to register</span></a></li>
						
				<li><span class="arrow"></span><a href="/registration/renewing-your-registration-listing/"><span>Renewing your registration/listing</span></a></li>
						
				<li><span class="arrow"></span><a href="/registration/amending-your-registration-listing/"><span>Amending your registration/listing</span></a></li>
						
				<li><span class="arrow"></span><a href="/registration/voluntary-removal-and-restoration/"><span>Voluntary removal and restoration</span></a></li>
						
				<li><span class="arrow"></span><a href="/registration/letters-of-good-standing/"><span>Letters of good standing</span></a></li>
						
				<li><span class="arrow"></span><a href="/registration/replacement-membership-certificates/"><span>Replacement Membership Certificates</span></a></li>
						
				<li><span class="arrow"></span><a href="/registration/register-of-veterinary-practice-premises/"><span>Register of Veterinary Practice Premises</span></a></li>
						
				<li><span class="arrow"></span><a href="/registration/statutory-membership-exam/"><span>Statutory Membership Exam</span></a>
					<ul>
						<li><a href="@Url.Action("Login", "Registration")">Login</a></li>
						<li><a href="@Url.Action("Form1A", "Registration")">Register</a></li>
						<li><a href="@Url.Action("Form1A2", "Home")">Initial declaration of intention to sit</a></li>
						
					</ul>
				</li>
						
				<li><span class="arrow"></span><a href="/registration/veterinary-nurse-pre-registration-examination/"><span>VN pre-registration examinations</span></a></li>
						
				<li><span class="arrow"></span><a href="/registration/contact-the-registration-department/"><span>Contact the Registration Department</span></a></li>
						
			</ul>
	
	
<ul id="site-tools">
	<li id="tool-title">Web Tools</li>
	<li id="tool-print"><a href="/registration/?print=true"><span class="icon"></span><span class="text">Print this page</span></a></li>
	<li id="tool-sendtofriend"><a href="/registration/?action=show&amp;module=send-to-friend"><span class="icon"></span><span class="text">Send to a friend</span></a></li>
	<li id="tool-feedback"><a href="/feedback/?contact_type_ref=2"><span class="icon"></span><span class="text">Give us feedback</span></a></li>
	<li id="tool-contact"><a href="/about-us/contact-us/"><span class="icon"></span><span class="text">Contact us</span></a></li>
</ul>
		</div>
		<!--jsearch-end-ignore-->
		<div class="pagecontent">
			<h1>Registration</h1>
			<div class="wysiwyg">
				<div id="primary" class="layout"><div class="inner">
	
		
			
			<div>



<html>
<head></head>
<body>
<p>Only veterinary surgeons registered with us can practise veterinary medicine in the UK. We also register veterinary nurses and, more recently, veterinary practice premises (on behalf of the Veterinary Medicines Directorate).</p> 
<p>In this section you can find out who is registered, how to register yourself or your premises, and how to change your registration status.</p> 
<p>&nbsp;</p> 
<table style="width: 540px;" border="0" cellpadding="5"> 
	<tbody> 
	<tr class="even"> 
		<td style="padding-left: 10px;"><a href="/registration/check-the-register-list/"><img src="~/public/images/checkregister2.jpg" alt="Page from the RCVS Register of Members" width="220" height="120" /></a></td> 
		<td style="width: 30px;">&nbsp;</td> 
		<td><a href="/registration/how-to-register/"><img src="~/public/images/howtoregister.jpg" alt="RCVS Register of Members" width="220" height="120" /></a></td> 
	</tr> 
	<tr class="even"> 
		<td style="padding-left: 10px;"><strong><a href="/registration/check-the-register-list/">Check the Register/List</a></strong></td> 
		<td style="width: 30px;">&nbsp;</td> 
		<td style="padding-right: 10px;"><strong><a href="/registration/how-to-register/">How to register</a></strong></td> 
	</tr> 
	<tr class="even"> 
		<td style="padding-left: 10px;">Search for a registered veterinary surgeon or listed/registered veterinary nurse</td> 
		<td style="width: 30px;">&nbsp;</td> 
		<td style="padding-right: 10px;">Information for veterinary surgeons and veterinary nurses wishing to register with us</td> 
	</tr> 
	<tr class="even"> 
		<td colspan="3">&nbsp;</td> 
	</tr> 
	<tr class="even"> 
		<td style="padding-left: 10px;"><a href="/registration/amending-your-registration-listing/"><img src="/public/images/amendingregister.jpg" alt="Computer keyboard" width="220" height="120" /></a></td> 
		<td style="width: 30px;">&nbsp;</td> 
		<td style="padding-right: 10px;"><a href="/registration/voluntary-removal-and-restoration/"><img src="/public/images/restoration.jpg" alt="Sign on door - back in 9 months" width="220" height="120" /></a></td> 
	</tr> 
	<tr class="even"> 
		<td style="padding-left: 10px;"><strong><strong><a href="/registration/amending-your-registration-listing/">Amending your registration/listing</a></strong></strong></td> 
		<td style="width: 30px;">&nbsp;</td> 
		<td style="padding-right: 10px;"><strong><a href="/registration/voluntary-removal-and-restoration/">Voluntary removal &amp; restoration</a></strong></td> 
	</tr> 
	<tr class="even"> 
		<td style="padding-left: 10px;">Veterinary surgeons and veterinary nurses can change their details online</td> 
		<td style="width: 30px;">&nbsp;</td> 
		<td style="padding-right: 10px;">Need to come off the Register for a while, or go back on? Here's what you need to do...</td> 
	</tr> 
	<tr class="even"> 
		<td colspan="3">&nbsp;</td> 
	</tr> 
	<tr class="even"> 
		<td style="padding-left: 10px;"><a href="/registration/register-of-veterinary-practice-premises/"><img src="/public/images/premisesregister.jpg" alt="Plaque on wall of veterinary premises" width="220" height="120" /></a></td> 
		<td style="width: 30px;">&nbsp;</td> 
		<td style="padding-right: 10px;"><a href="/registration/statutory-membership-exam/"><img src="/public/images/statexam.jpg" alt="RCVS Certificate of Membership" width="220" height="120" /></a></td> 
	</tr> 
	<tr class="even"> 
		<td style="padding-left: 10px;"><strong><a href="/registration/register-of-veterinary-practice-premises/">Register of Veterinary Practice Premises</a></strong></td> 
		<td style="width: 30px;">&nbsp;</td> 
		<td style="padding-right: 10px;"><strong><a href="/registration/statutory-membership-exam/">Statutory Examination for<br />Membership</a></strong></td> 
	</tr> 
	<tr class="even"> 
		<td style="padding-left: 10px;">Make sure your practice premises are registered to supply veterinary medicines</td> 
		<td style="width: 30px;">&nbsp;</td> 
		<td style="padding-right: 10px;">Information for veterinary surgeons who have qualified outside the EU/Commonwealth</td> 
	</tr> 
	</tbody> 
</table>
</body>
</html></div>
			
		
	
	
	
</div></div>
			</div>
		</div>
		<!--jsearch-ignore-->
		<div class="pagesubcontent">
			<ul id="side-links">
	<li id="side-link1"><a href="http://findavet.rcvs.org.uk/home/"><span>Find a Vet</span></a></li>
	<li id="side-link2"><a href="http://awardingbody.rcvs.org.uk/home/"><span>RCVS Awards</span></a></li>
	<li id="side-link3"><a href="http://knowledge.rcvs.org.uk/home/"><span>RCVS Knowledge</span></a></li>
</ul>
		</div>
	</div>
	<div class="pagetools">
		<div class="menu"><ul>
																	<li><a href="/contact2/">Contact</a>
								&nbsp;|&nbsp;</li>
							
																	<li><a href="/feedback1/">Feedback</a>
								&nbsp;|&nbsp;</li>
							
																	<li><a href="/site-map/">Site map</a>
								&nbsp;|&nbsp;</li>
							
																	<li><a href="/a-to-z/">A to Z</a>
								&nbsp;|&nbsp;</li>
							
																	<li><a href="/accessibility/">Accessibility</a>
								&nbsp;|&nbsp;</li>
							
																	<li><a href="/privacy-policy/">Privacy policy</a>
								&nbsp;|&nbsp;</li>
							
																	<li><a href="/cookie-policy/">Cookie policy</a>
								&nbsp;|&nbsp;</li>
							
																	<li><a href="/document-library/">Document library</a>
								</li>
						</ul></div>


		<div class="copyright">&copy; Copyright <span id="js-site-name">RCVS</span> 2013</div>
	</div>
	<div class="pagefoot">
		<div class="accessibility">
	<ul>
		<li><a href="/registration/?font=small" class="size-small"><span>A</span></a></li>
		<li><a href="/registration/?font=default" class="size-default"><span>A</span></a></li>
		<li><a href="/registration/?font=large" class="size-big"><span>A</span></a></li>
		<li><a href="/registration/?skin=default" class="theme-default"><span>A</span></a></li>
		<li><a href="/registration/?skin=contrast" class="theme-contrast"><span>A</span></a></li>
		<li><a href="/registration/?skin=inverted" class="theme-inverted"><span>A</span></a></li>
	</ul>
</div> 
	
	<div class="accesstext"><a href="/registration/?action=textonly&amp;module=global" title="Text Only">Low Graphic version</a></div>
				
	

		<div class="credits">Website developed by <a href="http://www.netxtra.net/" title="Website developed by netXtra">netXtra</a></div>
	</div>
</div>