/* Reset */
html, body, div, span, table, tbody, tfoot, thead, tr, th, td, ul, ol {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    outline: 0;
}

ul, ol {
    list-style-type: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Site styling */
body { font-family: verdana; }

.page {
    z-index: 1;
}
.header {
    position: relative;
    overflow: hidden;
    height: 57px;
    z-index: 2;
}
.main {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 57px;
    bottom: 60px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    
}
.footer {
    position: absolute;
    overflow: hidden;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 60px;
    z-index: 1;
}
.main > span {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
.controlgrid { width: 100%; }

.main td { vertical-align: middle; }

.controlgrid input, .controlgrid label {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
}

.controlgrid input {
    padding: 2px;
    border: 1px solid lightgray;
}

.controlgrid input[type="checkbox"] { border: none; }

.copyright {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #333366;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    background-color: black;
    filter: Alpha(Opacity=20);
    opacity: 0.2;
    z-index: 200;
}

.dialog 
{
    position: fixed;
    top: 30%;
    left: 50%;
    width: 290px;
    margin-left: -157px;
    background-color: #002248; 
    padding: 10px;
    border: 2px solid gainsboro; 
    border-radius: 10px; 
    text-align: center; 
    z-index: 400;
}

.background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/* Footer Buttons */
.footer-buttons li {
    float: left;
}
.footer-buttons.col2 li {
    width: 50%
}
.footer-buttons.col3 li {
    width: 33.3%
}
.footer-buttons li a {
    position: relative;
    display: block;
    height: 60px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.footer-buttons li img {
    display: block;
    margin: 0 auto;
    border: 0;
    padding-top: 7px;
    width: 32px;
    height: 32px;
}
.footer-buttons li span {
    display: block;
    margin-top: 3px;
    font-size: 8px;
    color: black;
}
.step-count {
    display: block;
    position: absolute; 
    background-color: Red; 
    color: White !important;
    left: 50%;
    top: 5px;
    margin-left: 10px;
    font-size: 11px !important;
    font-weight: bold;
    padding: 0px 2px 1px 2px;
    border-radius: 30px;
}

.workflow-list li a 
{
    display: block;
    text-decoration: none;
    margin-bottom: 6px;
}
.workflow-list img {
    border: 0;
    width: 48px;
    height: 48px;
    margin-right: 8px;
}
.workflow-list .detail, .workflow-list .image {
    display: table-cell;
    vertical-align: middle;
}
.workflow-list .detail {
    width: 100%;
}
.workflow-list span span {
    display: block;
}

/* Adjustment for larger screens */
.large-view .page {
    width: 320px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}
.large-view .header { position: relative; }
.large-view .main { position: absolute; }
.large-view .footer { position: absolute; }
.large-view .header { border-radius: 6px 6px 0px 0px; }
.large-view .footer { border-radius: 0px 0px 6px 6px; }


/* TODO remove
 .footer, .header {
    background: -moz-linear-gradient(#76b2e4, #266294);
    background: -webkit-linear-gradient(#76b2e4, #266294);
    background: linear-gradient(#76b2e4, #4682B4); 
}
.footer-buttons li {
    box-sizing: border-box;
}
.footer-buttons li a 
{
    height: 58px;
}
.footer-buttons li a:hover {
    background-color: #66a2d4;
}

.footer-buttons li span {
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
}
.footer-buttons li a {
    border: 1px solid #266294;
    margin-right: -0px; 
}
.footer-buttons li + li a {
    border-left: none;
}
.footer-buttons li span {
    font-family: arial;
}
.footer, .header {
    border-radius: 0px !important;
}
.workflow-list li {
    border: 1px solid #DDD;
    padding:5px;
    border-radius: 4px;
    background-color: #F5F5F5;
    background: -moz-linear-gradient(#FFF, #F0F0F0);
    background: -webkit-linear-gradient(#FFF, #F0F0F0);
    margin-bottom:4px;
}
.workflow-list .image {
    vertical-align: top;     
}
.workflow-list img {
    width: 36px;
    height: 36px;
    vertical-align: top;
}
.detail span {
    color: #333 !important;
    font-family: Segoe UI !important;
    margin-bottom: 3px;
}
span {
    font-family: Segoe UI !important;
}
.large-view .page {
    width: 370px !important;
    height: 500px !important;
}
*/