<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- ============================================================================================== -->
    <!-- Define the SQL Server(s) and Database(s) on which the OpenHR Workflow Service will run here.   -->
    <!-- ============================================================================================== -->
    <!--                                                                                                -->
    <!-- Modify the 'server' and 'database' key values below to define the first SQL Server & Database  -->
    <!-- on which the OpenHR Workflow Service will run.                                                 -->
    <!--                                                                                                -->
    <!-- Example                                                                                        -->
    <!-- To configure the service to run on the 'mydatabase' database on the 'myserver' SQL Server:     -->
    <!--     <add key="server"    value="myserver"/>                                                    -->
    <!--     <add key="database"  value="mydatabase"/>                                                  -->
    <!--                                                                                                -->
    <!-- Add new 'server*' and 'database*' key values to define additional SQL Server(s) & Database(s)  -->
    <!-- on which the OpenHR Workflow Service will run.                                                 -->
    <!-- NB. The 'server' and 'database' keys have digits appended to them to make the keys unique.     -->
    <!--                                                                                                -->
    <!-- Example                                                                                        -->
    <!-- To configure the service to run on the 'mydatabase' database on the 'myserver' SQL Server,     -->
    <!-- and the 'mydatabase1' database on the 'myserver' SQL Server,                                   -->
    <!-- and the 'mydatabase2' database on the 'myserver2' SQL Server:                                  -->
    <!--     <add key="server"    value="myserver"/>                                                    -->
    <!--     <add key="database"  value="mydatabase"/>                                                  -->
    <!--     <add key="database1" value="mydatabase1"/>                                                 -->
    <!--     <add key="server2"   value="myserver2"/>                                                   -->
    <!--     <add key="database2" value="mydatabase2"/>                                                 -->
    <!--                                                                                                -->
    <!-- ============================================================================================== -->
    <!--                                                                                                -->
    <!-- Define your server and database values here:                                                   -->
    <add key="server" value=""/>
    <add key="database" value=""/>

    <add key="commandtimeout" value="200"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
