html {background-image: none;
			height: 100%;
			}

header { height: 126px;}

.header-banner {
	display: none;
	/*border:none*/
}

/*.ui-widget-header
{
	border: none;
}*/

body 
{	
	
	height: 99%;
	padding: 0px;
	margin: 0px;
}


.footer-banner {
	display: none;
}

#workframeset
{
	background: url(../../images/ABSLogo/TilesWatermark.png) no-repeat center center fixed;
	
	bottom: 40px;
	background-size: cover;
	/*background-color: rgb(4, 106, 169);*/
	top: 0!important;
	left: 0!important;
	
	/*background: #004c99;
	background: url(../../images/ABSLogo/TilesWatermark.png) center center no-repeat, -moz-linear-gradient(left, #004c99 0%, #14304c 100%);
	background: url(../../images/ABSLogo/TilesWatermark.png) center center no-repeat, -webkit-gradient(linear, left top, right top, color-stop(0%,#004c99), color-stop(100%,#14304c));
	background: url(../../images/ABSLogo/TilesWatermark.png) center center no-repeat, -webkit-linear-gradient(left, #004c99 0%,#14304c 100%);
	background: url(../../images/ABSLogo/TilesWatermark.png) center center no-repeat, -o-linear-gradient(left, #004c99 0%,#14304c 100%);
	background: url(../../images/ABSLogo/TilesWatermark.png) center center no-repeat, -ms-linear-gradient(left, #004c99 0%,#14304c 100%);
	background: url(../../images/ABSLogo/TilesWatermark.png) center center no-repeat, linear-gradient(to right, #004c99 0%,#14304c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c99', endColorstr='#14304c',GradientType=1 );*/

	background: rgb(240,249,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(../../images/ABSLogo/TilesWatermark.png) no-repeat center center fixed,  url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjlmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2NiZWJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMWRiZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: url(../../images/ABSLogo/TilesWatermark.png) no-repeat center center fixed, -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
background: url(../../images/ABSLogo/TilesWatermark.png) no-repeat center center fixed, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
background: url(../../images/ABSLogo/TilesWatermark.png) no-repeat center center fixed, -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: url(../../images/ABSLogo/TilesWatermark.png) no-repeat center center fixed, -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
background: url(../../images/ABSLogo/TilesWatermark.png) no-repeat center center fixed, -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
background: url(../../images/ABSLogo/TilesWatermark.png) no-repeat center center fixed, linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-8 */


}

.DashContent {	
	position: absolute; top: 95px; bottom: 2px;left: 0px; right: 0px;
							margin: 0px 0px 0px 120px;
							padding: 30px 0px 0px 10px;
							height: 680px;
							-webkit-overflow-scrolling: touch ; }

.dashboardSearch {	
	position: fixed; 
	bottom: 15px;
	right: 60px;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-height: 850px) {  
	.DashContent {
		top: 0;
		margin-left: 0;
		padding-top: 0;
		left: 80px;
		overflow: auto;
	}
}


*
{
	padding: 0px;
}

.tileContent {width: 3000px;}

/*.ButtonLinkColumn {display: none;}
					
.hypertextlinks {display: none;}*/

.gridster 
{
	transition:opacity 0.6s; opacity: 0.8; -o-transition: opacity .6s; -moz-transition: opacity .6s; -webkit-transition: opacity .6s;
}

.hypertextlinks, .hypertextlinkseparatorframe, .linkspagebutton, .ButtonLinkColumn, .linkspagebuttonseparatorframe, .dropdownlinks, .docdisplaylinks, .dropdownlinkseparatorframe, .docdisplaylinkseparatorframe, .pendingworkflowsframe, .pendingworkflowlinkseparator {float:left;}

.DropLinkGoText {
	display: none;
}

.linkspagebuttontext, .hypertextlinktext, .dropdownlinktext, .docdisplaylinktext .pendingworkflowtext {border: none; color: Black;overflow: hidden;}

	.linkspagebuttontext:hover, .hypertextlinktext:hover, .pendingworkflowtext:hover {
		-moz-box-shadow: 0 0 10px orange!important; /* FF3.5+ */
		-webkit-box-shadow: 0 0 10px orange!important; /* Saf3.0+, Chrome */
		box-shadow: 0 0 10px orange!important; /* Opera 10.5, IE9, Chrome 10+ */
	}

.hypertextlinktext, .pendingworkflowtext {
	/*white-space: nowrap;*/
	overflow: hidden;
	text-overflow: ellipsis;
}


.linkspagebuttontext a, .hypertextlinktext a, .dropdownlinktext a, .docdisplaylinktext a, .DBValueCaption p
{
	position: absolute;bottom: 0px; text-align: center; text-decoration: none; margin: 0px 2px 5px 2px;
	width: 100%; 
	font-size: 11pt;		
	}

.linkspagebuttontext img {
	border: none;
}

.hypertextlinktileIcon, .linkspagebuttontileIcon, .dropdownlinktileIcon, .docdisplaylinktileIcon
{
	margin: 0;
	text-align: center;
	font-size: 46pt;
}

.linkspagebuttonseparator-bordercolour { border-bottom: none!important;}


.pendingworkflowtext a {
	/* Text shown in PWFS tile*/	
	text-decoration: none; 
	margin: 0px 2px 5px 2px;
	width: 60%;
	font-size: 11pt;
	float: right;
	height: 100%;
}

.pendingworkflowtileIcon {	
	margin: 0;
	text-align: left;
	font-size: 46pt;
	float: left;
	width: 38%;
	height: 100%;
	background-color: lightgray;
	color: white;
}

.pendingworkflowtileIcon i {
	margin-left: 10px;
}

.pendingworkflowname {
	font-weight: bold;
}

.pendingworkflowdesc {
	font-size: x-small;
}

.hypertextlinkseparatorframe, .linkspagebuttonseparatorframe, .dropdownlinkseparatorframe, .docdisplaylinkseparatorframe, .pendingworkflowsframe  {
	border: none;width: 140px;margin-right: 10px;
}

.hypertextlinkseparator, .linkspagebuttonseparator, .dropdownlinkseparator, .docdisplaylinkseparator, .pendingworkflowlinkseparator
{
	/*white-space:nowrap; 
width:12em; */
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: transparent!Important;
	font-size: 11pt;
	text-decoration: none;
	/*color: white!important;*/
	/*text-shadow: 0 0 5px #000000;*/
}

.docdisplaylinkseparator { margin-top: 0;margin-bottom: 10px;}

.linkspagebuttonseparator h2 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0px;
}

.widgetplaceholder {
	/*text-align: center;*/
	margin: 0px 30px 10px 20px;
	height: 120px;
}

.widgetplaceholder i {
	display: none;
}

.chart {
	margin: 0;
}

.datagrid {
	margin: 0;	
}

#chartPopout .datagrid {
	max-height: none;
	height: 80%;
}

.cols2 { width: 280px;}
.cols3 { width: 420px;}
.cols4 { width: 560px;}
.cols5 { width: 700px;}
.cols6 { width: 840px;}
.cols7 { width: 980px;}
.cols8 { width: 1120px;}
.cols9 { width: 1260px;}
.cols10 { width: 1400px;}
.cols11 { width: 1540px;}
.cols12 { width: 1680px;}


.gridster {
	margin: 0px auto; 
	transition: opacity .6s;  opacity: 1; 
	-webkit-transition: opacity .6s; 
	-moz-transition: opacity .6s; 
	-o-transition: opacity .6s;
}
.gridster .gs_w {
	border-radius: 00px; cursor: pointer; box-shadow: 0px 0px 5px rgba(0,0,0,0.3); -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.gridster .player {
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3); -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.gridster .try.gs_w {
	background-position: 37px -169px; background-image: url("../img/sprite.png"); background-repeat: no-repeat;
}
.gridster .preview-holder {
	background: rgba(255, 255, 255, 0.2) !important; border-radius: 0px !important; border: currentColor !important;
}	

li {list-style: none;}

.DBValueScroller { overflow: hidden;}

.DBValue  
{
	position: relative;
	white-space: nowrap;
	text-align: center;
	 margin-top: 0px;
	 font-style: normal;
	 font-size: 26pt;
	 margin: 0 auto;
}

.greenTile {
	 /* Chuck all possibilities at the browser for gradients... */
	 background-color: #1a82f7; 
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a9600', endColorstr='#c2db5e',GradientType=1 );
	 background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7a9600), to(#c2db5e));
	 background-image: -webkit-linear-gradient(top, #7a9600, #c2db5e); 
	 background-image:    -moz-linear-gradient(top, #7a9600, #c2db5e);
	 background-image:     -ms-linear-gradient(top, #7a9600, #c2db5e);
	 background-image:      -o-linear-gradient(top, #7a9600, #c2db5e);
	 color: White;        
}      

.redTile
{
	 /* Chuck all possibilities at the browser for gradients... */
	 background-color: #1a82f7; 
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf0404', endColorstr='#ff8075',GradientType=1 );
	 background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cf0404), to(#ff8075));
	 background-image: -webkit-linear-gradient(top, #cf0404, #ff8075); 
	 background-image:    -moz-linear-gradient(top, #cf0404, #ff8075);
	 background-image:     -ms-linear-gradient(top, #cf0404, #ff8075);
	 background-image:      -o-linear-gradient(top, #cf0404, #ff8075);
	 color: White;        
}

.blueTile {
	 /* Chuck all possibilities at the browser for gradients... */
	 background-color: #1a82f7; 
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#164c89', endColorstr='#687687',GradientType=1 );
	 background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#164c89), to(#687687));
	 background-image: -webkit-linear-gradient(top, #164c89, #687687); 
	 background-image:    -moz-linear-gradient(top, #164c89, #687687);
	 background-image:     -ms-linear-gradient(top, #164c89, #687687);
	 background-image:      -o-linear-gradient(top, #164c89, #687687);
	 color: White;        
}      
				 
.orangeTile {
	 /* Chuck all possibilities at the browser for gradients... */
	 background-color: #1a82f7; 
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b0d', endColorstr='#ffa84c',GradientType=1 );
	 background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff7b0d), to(#ffa84c));
	 background-image: -webkit-linear-gradient(top, #ff7b0d, #ffa84c); 
	 background-image:    -moz-linear-gradient(top, #ff7b0d, #ffa84c);
	 background-image:     -ms-linear-gradient(top, #ff7b0d, #ffa84c);
	 background-image:      -o-linear-gradient(top, #ff7b0d, #ffa84c);
	 color: White;        
}           
				 
.lightBlueTile {
	 /* Chuck all possibilities at the browser for gradients... */
	 background-color: #1a82f7; 
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#067fdb', endColorstr='#d6d6d6',GradientType=1 );
	 background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#067fdb), to(#d6d6d6));
	 background-image: -webkit-linear-gradient(top, #067fdb, #d6d6d6); 
	 background-image:    -moz-linear-gradient(top, #067fdb, #d6d6d6);
	 background-image:     -ms-linear-gradient(top, #067fdb, #d6d6d6);
	 background-image:      -o-linear-gradient(top, #067fdb, #d6d6d6);
	 color: White;        
}

/*Original multi-coloured tiles*/
/*
.Colour1 {background-color: rgb(0, 142, 0);color: white;}
.Colour1 a {color: white;}
.Colour2 { background-color: rgb(0, 127, 156);color: white;}
.Colour2 a { color: white;}
.Colour3 {background-color: rgb(0, 157, 0);color: white;}
.Colour3 a {color: white;}
.Colour4 {background-color: rgb(141, 0, 150);color: white;}
.Colour4 a {color: white;}
.Colour5 {background-color: rgb(211, 73, 39);color: white;}
.Colour5 a {color: white;}
.Colour6 {background-color: rgb(73, 27, 198);color: white;}
.Colour6 a {color: white;}
.Colour7 {background-color: rgb(255, 236, 0);color: rgb(10, 10, 10);}
.Colour7 a {color: black;}
.Colour8 {background-color: rgb(9, 76, 181);color: white;}
.Colour8 a {color: white;}
.White { background-color: white;color: gray;}
.White a { color: gray;}*/

/*Just Orange*/
/*.Colour1 {background-color: rgba(255,0,0,0.8);color: white;} 
.Colour2 {background-color: rgba(255,0,0,0.8);color: white;} 
.Colour3 {background-color: rgba(255,0,0,0.8);color: white;} 
.Colour4 {background-color: rgba(255,0,0,0.8);color: white;} 
.Colour5 {background-color: rgba(255,0,0,0.8);color: white;} 
.Colour6 {background-color: rgba(255,0,0,0.8);color: white;} 
.Colour7 {background-color: rgba(255,0,0,0.8);color: white;} 
.Colour8 {background-color: rgba(255,0,0,0.8);color: white;}
*/

/*Just Pantone 542 (iNurse) */
/*.Colour1 {background-color: rgb(98, 164,211);color: white;} 
.Colour2 {background-color: rgb(98,164,211);color: white;} 
.Colour3 {background-color: rgb(98,164,211);color: white;} 
.Colour4 {background-color: rgb(98,164,211);color: white;} 
.Colour5 {background-color: rgb(98,164,211);color: white;} 
.Colour6 {background-color: rgb(98,164,211);color: white;} 
.Colour7 {background-color: rgb(98,164,211);color: white;} 
.Colour8 {background-color: rgb(98,164,211);color: white;}*/ 
/*Just Pantone 262 (Staffplan)*/
/*.Colour1 {background-color: rgb(93, 0, 74);color: white;}  
.Colour2 {background-color: rgb(93,0,74);color: white;} 
.Colour3 {background-color: rgb(93,0,74);color: white;} 
.Colour4 {background-color: rgb(93,0,74);color: white;} 
.Colour5 {background-color: rgb(93,0,74);color: white;} 
.Colour6 {background-color: rgb(93,0,74);color: white;} 
.Colour7 {background-color: rgb(93,0,74);color: white;} 
.Colour8 {background-color: rgb(93,0,74);color: white;}*/ 
/*Just Pantone 3285 (Crosscare)*/
/*.Colour1 {background-color: rgb(0, 144, 137);color: white;} 
.Colour2 {background-color: rgb(0,144,137);color: white;} 
.Colour3 {background-color: rgb(0,144,137);color: white;} 
.Colour4 {background-color: rgb(0,144,137);color: white;} 
.Colour5 {background-color: rgb(0,144,137);color: white;} 
.Colour6 {background-color: rgb(0,144,137);color: white;} 
.Colour7 {background-color: rgb(0,144,137);color: white;} 
.Colour8 {background-color: rgb(0,144,137);color: white;}*/ 
/*Just Pantone 288 (Adastra)*/
/*.Colour1 {background-color: rgb(0, 70,135);color: white;}  
.Colour2 {background-color: rgb(0,70,135);color: white;} 
.Colour3 {background-color: rgb(0,70,135);color: white;} 
.Colour4 {background-color: rgb(0,70,135);color: white;} 
.Colour5 {background-color: rgb(0,70,135);color: white;} 
.Colour6 {background-color: rgb(0,70,135);color: white;} 
.Colour7 {background-color: rgb(0,70,135);color: white;} 
.Colour8 {background-color: rgb(0,70,135);color: white;} 
.Colour1 {background-color: rgb(0,70,135);color: white;}*/ 
/*Just Pantone 424 (Healthchecks)*/
/*.Colour1{background-color: rgb(132, 134, 135);color: white;}
.Colour2 {background-color: rgb(132,134,135);color: white;} 
.Colour3 {background-color: rgb(132,134,135);color: white;} 
.Colour4 {background-color: rgb(132,134,135);color: white;} 
.Colour5 {background-color: rgb(132,134,135);color: white;} 
.Colour6 {background-color: rgb(132,134,135);color: white;} 
.Colour7 {background-color: rgb(132,134,135);color: white;} 
.Colour8 {background-color: rgb(132,134,135);color: white;}*/ 
/*Just Pantone 194 (Saturn)*/
/*.Colour1{background-color: rgb(170, 1, 50);color: white;}
.Colour2 {background-color: rgb(170, 1, 50);color: white;} 
.Colour3 {background-color: rgb(170, 1, 50);color: white;} 
.Colour4 {background-color: rgb(170, 1, 50);color: white;} 
.Colour5 {background-color: rgb(170, 1, 50);color: white;} 
.Colour6 {background-color: rgb(170, 1, 50);color: white;} 
.Colour7 {background-color: rgb(170, 1, 50);color: white;} 
.Colour8 {background-color: rgb(170, 1, 50);color: white;} 
*/
/*Just Pantone 7409*/
/*.Colour1 {background-color: rgb(238, 175, 0);color: white;} 
.Colour2 {background-color: rgb(238,175,0);color: white;} 
.Colour3 {background-color: rgb(238,175,0);color: white;} 
.Colour4 {background-color: rgb(238,175,0);color: white;} 
.Colour5 {background-color: rgb(238,175,0);color: white;} 
.Colour6 {background-color: rgb(238,175,0);color: white;} 
.Colour7 {background-color: rgb(238,175,0);color: white;} 
.Colour8 {background-color: rgb(238,175,0);color: white;} 
*/
/*Just Pantone 2945*/ 
/*.Colour1 {background-color: rgb(0, 84, 159);color: white;}  
.Colour2 {background-color: rgb(0,84,159);color: white;} 
.Colour3 {background-color: rgb(0,84,159);color: white;} 
.Colour4 {background-color: rgb(0,84,159);color: white;} 
.Colour5 {background-color: rgb(0,84,159);color: white;} 
.Colour6 {background-color: rgb(0,84,159);color: white;} 
.Colour7 {background-color: rgb(0,84,159);color: white;} 
.Colour8 {background-color: rgb(0,84,159);color: white;}*/ 

/*ABS Colour Scheme for tiles */
.Colour1 {background-color: rgb(238, 175, 0);color: white;}				
.Colour2 {background-color: rgb(0, 84, 159);color: white;}				
.Colour3 {background-color: rgb(98, 164,211);color: white;}
.Colour4 {background-color: rgb(93, 0, 74);color: white;}					
.Colour5 {background-color: rgb(0, 144, 137);color: white;}
.Colour6 {background-color: rgb(0, 70,135);color: white;}					
.Colour7 {background-color: rgb(132, 134, 135);color: white;} 
.Colour8 {background-color: rgb(170, 1, 50);color: white;}				

/*Sunnside Colour Scheme for tiles 
COMMENT OUT COLOURS 1 TO 8 BELOW TO GET ABS COLOURS ABOVE */
/*.Colour1 {background-color: rgba(238,175,0,1);color: white;}	
.Colour2 {background-color: rgba(0,84,159,1);color: white;}
.Colour3 {background-color: rgba(255,0,0,1);color: white;}
.Colour4 {background-color: rgba(93,0,74,1);color: white;}
.Colour5 {background-color: rgba(255,0,0,1);color: white;}
.Colour6 {background-color: rgba(0,70,135,1);color: white;}					
.Colour7 {background-color: rgba(132,134,135,1);color: white;}
.Colour8 {background-color: rgba(255,0,0,1);color: white;}*/

.Colour1 a {color: white;}
.Colour2 a {color: white;}
.Colour3 a {color: white;}
.Colour4 a {color: white;}
.Colour5 a {color: white;}
.Colour6 a {color: white;}
.Colour7 a {color: white;}
.Colour8 a {color: white;}

.White { background-color: white;color: gray;}
.White a { color: gray;}

.holidaycontainer { display: none;}

/* === Fixed Links === */
.RecDescPhoto { display: none;}

.ViewDescription {
	display: block;
	position: fixed;
	bottom: 5px;
	left: 320px;
	font-weight: normal;
}


.FixedLinksLeft, #fixedlinks {
	position: fixed;	
	bottom: 0;
	right: 0;
	height: 50px;
	background-color: black;	
}

#fixedlinks {
	left: 0;
	z-index: 99;
}

.FixedLinksLeft ul {
	padding-top: 2px;
}


.FixedLinksRight {
	position: fixed;
	left: 20px;
	bottom: 10px;
}

div.officebar > ul { padding-left: 0;}
div.officetab > ul { padding-left: 0;}

.officebar img, .officebar h6 { display: none;}

.officebar i { font-size: 26pt;text-decoration: none;list-style: none;}

.officebar > ul > li:not(.current) {
	display: none;	
}

div.officetab li div.button 
{
	text-align: center;
	display: inline-block;
	position: relative;
	float: left;
	/*top: -84px;*/
	left: 0px;
	height: 66px;
	width: 49px;
	overflow: hidden;
	line-height: normal;
}


div.officetab li div.button .disabled {
	color: gray!important;
	cursor: default;
}

.officebar li { list-style: none;}

div.officebar ul li.current > a { display: none!important;}
div.officetab div.panel > span { display: none;}


/* SSI Specific styling for shared screens go here:*/ 

#row1 {
	margin-left: 20px;
}

/*
#findGridRow td {
	font-size: 14pt;
	padding: 8px 0 8px 8px;	
}

.ui-jqgrid tr.jqgfirstrow td {
	display: none;
}
*/

/*#row3 td { color: white;}*/

#row3 input { margin-bottom: 5px;}


.pageTitleDiv {
	 height: 50px;
		margin: 0 0 40px 0;
		padding: 0;
}

.pageTitle {
	font-weight: lighter;
	font-size: 26pt;
	padding-left: 30px!important;
}

.pageTitleModalExpression {
	font-weight: lighter;
	font-size: 26pt;
}

.pageTitleIcon {
	cursor: pointer;
	text-decoration: none!important;
	font-size: 24pt;
	line-height: 50px;
	float: left;
}

.pageTitleIcon:hover {
	color: orange;
}

#officebar, #officebar li {
	background-color: black;
	color: white;
	border-style: none;
}

#officebar a:hover { color: orange;}

#officebar a {
	color: white;
}


.wrapupcontainer {
	position: relative;
	/*width: 130px;*/
	height: 3em;
}

.wrapuptext {
	padding-left: 5px;
	position: absolute;
	bottom: 0;
	/*width: 130px;*/
	min-height: 10%;
}

.wrapuptext p {
	margin: 0;
}

.icon-stack {
	font-size: 24px;
}



div.officetab li div.textboxlist li {
	background: transparent none;
	float:none;
	margin:0;
	padding:0;
	height:22px;
	font-size: 12px;
	line-height: 12px;
}

div.officetab li div.textboxlist {
	margin-top: -20px;
}

/* Start by setting display:none to make this hidden.
	 Then we position it in relation to the viewport window
	 with position:fixed. Width, height, top and left speak
	 speak for themselves. Background we set to 80% white with
	 our animation centered, and no-repeating */
.modal {
		display:    none;
		position:   fixed;
		z-index:    1000;
		top:        0;
		left:       0;
		height:     100%;
		width:      100%;
		background: rgba( 255, 255, 255, 0) 
								url("../../images/ajax-loader.gif") 
								50% 50% 
								no-repeat;	
}


.divProgressMessage {
	display: inline-block;
	position: absolute;
	width: 100%;	
	vertical-align: middle;
	top: 54%;
}

.progressMessage {
	text-align: center;	
}

.progressMessage span {
	padding: 5px;
}


/* Formatting for SSI based utilities	*/
.SSI #dataRow {
	width: 30%; margin: 0 auto;
}

/* Formatting for SSI based utilities	*/
.SSI #frmOutputDef table { }
/*.SSI #frmDefSel table { color: white;}*/

div.pwfList {		
	height: 100%;
	width: 100%;
	overflow: hidden;	
}
div.pwfTile {		
	height: 100%;
	width: 100%;
}

div.pwfList p {
	font-size: 1.1em;
	margin: 0;
	padding: 0 0 5px 5px;

}
div.pwfList table {	
	font-size: 8pt;		
}

div.pwfList tr {
	
	white-space: nowrap;
	overflow: hidden;
	/*border-collapse: collapse;*/	
}

div.pwfList td {
	padding-left: 5px;	
}
div#pwfs {
	width: 660px;
	height: 500px;
	display: none;

}

.SSI #workframe {
	position: absolute; top: 0; width: 100%;
}

.pendingworkflowlinks {
	display: none;
}

.pwfslink:hover {
	cursor: pointer;
}


.TETile { display: block;}

.TETile p { display: none;}

.TEList { display: block;
	width: 80%;
}

.TEList p { display: none;}

.TELink .linkspagebuttontileIcon {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: right;
	margin: 0;
	padding-right: 10px;
}

	.TELink .linkspagebuttontileIcon p {
		margin: 0;
	}

.TELink:hover {
	cursor: pointer;
}

.FixedLinksRight
{
	bottom: 0;
	width: 300px;
}

.FixedLinksRight .userdetails {
	float: left;
	margin-right: 5px;
}

.userpic {
	float: left;
	margin-left: -30px;
}

.FixedLinksRight .userid { font-size: large;}
.FixedLinksRight .groupid { font-size: small;font-weight: normal;}

/* Always hide course booking ribbon buttons for SSI */
.SSI #mnuSectionRecordFindTrainingBooking { display: none!important;}

/* Document Display */
#documentDisplay {
	display: none;
}

/* User dropdown menu */
#userDropdownmenu {
	border: 0 none;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	right: -57px;
	top: 0px;
	width: auto;
	z-index: 99;
}

#userDropdownmenu ul .has-sub ul a {
	background: none;
	padding: 8px 8px 8px 16px;
	border-bottom: 1px solid transparent;
	text-align: left;
}

#userDropdownmenu ul ul {
	position: relative;
	/*height: 210px;
	top: -237px;*/
	margin-left: -18px;
}

#userDropdownmenu_Items .linkspagebuttontext a {
	position: relative;
}

#userDropdownmenu ul li.last ul {
	left: 0px;
}

#userDropdownmenu ul ul li a {
	margin: 0;
}

/* End of User dropdown menu */

/* Org Chart scrollbar for tiles only*/
.orgChart {
	width: 100%;
	overflow: auto;
}

#mnutoolLocateRecordFind {
	margin: 10px 0 0 4px;
}

#mnutoolPositionRecordFind {
	margin: 10px 0 0 4px;
}

/* Find window grid - navigation icons. */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div>span { margin: 0 5px; font-size: 20px; }
