html {background-image: none;
      height: 100%;
      }

body 
{	
	height: 100%;
	padding: 0px;
	margin: 0px;	
}


.RecDescPhoto, .RecordDescription {
	display: none;
}

#fixedlinks {
	position: absolute;
	top: 0;left: 0;right: 0;height: 126px;	
}

.FixedLinksLeft {
	position: absolute;
	width: 100%;
}


.DashContent {position: absolute; top: 126px; bottom: 2px;left: 0px; right: 0px;}


.hypertextlinks 
{
	height: 100%;
	width: 220px;
	overflow: auto;
	float: left;
	border: 2px solid rgb(191, 219, 255);
	}			

.hypertextlinkseparator
{
	line-height: 2;
	text-decoration: none;
	font-size: 10pt;
	font-weight: bold;
	margin: 0px;
	display: block;
	cursor: default;
}

.hypertextlinkseparatorframe 
{
	margin: 0px 0px 0px 0px;
   padding: 0px;
   border-style: solid;
   border-width: 2px;
}
                              
.hypertextlinkseparatorframe ul {padding: 0px;}

.hypertextlink-displaytype
{
	cursor: pointer; 
   list-style: none;
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none; 
	}

	.hypertextlink-displaytype ul {list-style: none;
		list-style-type: none;
		list-style-position: outside;
		list-style-image: none; 
		}
		
.hypertextlinktext a 
{
	line-height: 2;
	text-decoration: none;
	/*margin-left: 10px;*/
	}

.hypertextlinktext {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hypertextlinktext p { margin: 0px;}

.hypertextlinktileIcon, .linkspagebuttontileIcon {display: none;}

.linkspagebutton 
{
	position: fixed;
	left: 200px;
	right: 0px;
	top: 126px;
	bottom: 50px;
	overflow: auto;
	margin: 10px 0px 0px 100px;
}

.linkspagebuttonseparator
{
	line-height: 2;
	text-decoration: none;
	font-size: 10pt;
	font-weight: bold;
	margin: 0px;
	display: block;
	cursor: default;
	padding-left: 10px;
}

.linkspagebuttonseparator h2 {
	font-size: inherit;
	margin: 0px;
	cursor: move;
}

.linkspagebuttonseparatorframe 
{
	margin: 0px 10px 10px 0px;
   list-style: none;
   padding: 0px;
   border-style: solid;
   border-width: 2px;                              
}

.linkspagebuttonseparatorframe ul {padding: 0px; min-width: 300px;}

.linkspagebutton-displaytype
{
	cursor: pointer; 
   list-style: none;
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none; 
	}

	.linkspagebutton-displaytype ul {list-style: none;
		list-style-type: none;
		list-style-position: outside;
		list-style-image: none; 
		}

.linkspagebuttontext {padding-left: 10px; position: relative;}

.linkspagebuttontext a 
{
	line-height: 2;
	text-decoration: none;
	margin: 0px;
	}

.linkspagebuttontext p 
{
	margin: 0px;
}

.linkspagebuttontext img {
	margin-left: 5px;
	border: none;
}

.DBValueScroller  
{
	position: absolute;
	right: 0px;
	padding-right: 10px;
}

.DBVSpinner 
{
	height: 16px;
	width: 16px;
}

.ButtonLinkColumn 
{	
	float: left;
}

/* For old Self-service Intranet styling 
*
{
	padding: 0px;
}*/

.greenTile {background-color: transparent;}



.dropdownlinks 
{
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding-bottom: 20px;
}

.dropdownlinkseparatorframe {
	margin: 0px auto;
	width: 300px;
}

.dropdownlinkseparator 
{
	float: left;
	text-decoration: none;
	padding-right: 10px;
}

.dropdownlink-displaytype {
	list-style: none;
	
}
.centered {
	text-align:center;
   margin: 0px auto;
}

.widgetplaceholder  
{
	text-align: center;
	border: 1px solid white;
	margin: 0px 30px 10px 20px;
	height: 120px;
}

.widgetplaceholder i { font-size: 48pt;}

.widgetplaceholder>div { width: 100%;}

.ButtonLinkColumn  .linksplaceholder{      
    
    border:1px dashed #ddd;  
}  


/*  OfficeBar CSS
==================================================
*/

.officebar i { display: none;}
.officebar h6 {
	font-size: 93%;
	margin: 0;
	font-weight: lighter;
}


div.officebar {
  background:#BFDBFF;
  float:none;
  font-size:93%;
  line-height:normal;
  /*width:100%;*/
  height:auto;
  font-family: Segoe UI, Verdana, "Open Sans", Tahoma,Helvetica,sans-serif;
}

div.officebar ul {
  background: #BFDBFF url(../../../Scripts/officebar/images/bg_tab.png) repeat-x scroll center bottom;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 10px 10px 0;
  height: 116px;
  overflow: hidden;
}

div.officebar ul li {
  float: left;
  margin: 0;
  padding: 0 0 0 9px;
}

div.officebar a {
  color:#776655;
  display:block;
  float:none;
  padding: 4px 15px 0px 6px;
  text-decoration:none;
  cursor:default;
  height: 23px; 
}

div.officebar a:hover {
  color:#15428B;
}

div.officebar a {
  outline:expression(hideFocus='true');
  outline:0;
}

div.officebar :focus {
  -moz-outline-style: none;
}

div.officebar ul li:hover {
  background: transparent url(../../../Scripts/officebar/images/tab_left_over.gif) no-repeat scroll left top;
  color: #15428B;
}
div.officebar ul li.current {
  background-image:url(../../../Scripts/officebar/images/tab_left.gif);
}

div.officebar ul li:hover a {
  background: transparent url(../../../Scripts/officebar/images/tab_right_over.gif) no-repeat scroll right top;
}
div.officebar ul li.current a {
  background: transparent url(../../../Scripts/officebar/images/tab_right.gif) no-repeat scroll right top;
  color: #15428B;
}

div.officebar ul li.current .button.disabled a {
	color: gray;
}

div.officetab {
  /*background: #BFDBFF url(../../../Scripts/officebar/images/bg.png) repeat-x scroll center top;*/

	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#8DB2E3',GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#8DB2E3));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #8DB2E3); 
  background-image:    -moz-linear-gradient(top, #FFFFFF, #8DB2E3);
  background-image:     -ms-linear-gradient(top, #FFFFFF, #8DB2E3);
  background-image:      -o-linear-gradient(top, #FFFFFF, #8DB2E3);
	

  overflow: hidden;
  cursor: default;
  position: absolute;
  left: 0px;
  top: 33px;
  width: 100%;
  height: 93px;
  display: none;
}

div.officetab ul {
  background: transparent none;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:10px 10px 0;
  padding:0;
  clear:both;
  z-index:2;
  border: 0px none;
}

div.officetab ul li, div.officetab ul li:hover {
  background: transparent url(../../../Scripts/officebar/images/panel_left.gif) no-repeat scroll left top;
  float:left;
  margin:0 0 0 2px;
  padding:0 0 0 5px;
}

div.officetab div.panel {
  background:transparent url(../../../Scripts/officebar/images/panel_right.gif) no-repeat scroll right top;
  display:block;
  float: none;
  padding: 71px 12px 5px 6px;
  text-decoration:none;
  color:#15428B;
  text-align: center;
}

div.officetab li span {
  display: block;
}

/* === BUTTON SPLIT MENU === */
div.buttonsplitmenu {
  position: absolute;
  background: #FFFFFF url(../../../Scripts/officebar/images/popup_left.png) repeat-y scroll left top;
  border: 1px solid #868686;
  z-Index: 2000;
  width: auto;
  display: block;
}

div.buttonsplitmenu ul {
  padding: 0;
  margin: 0;
  color: #15428B;
  background: transparent;
  height: auto;
  width: auto;
  /* width: 200px; /* TODO */
}

div.buttonsplitmenu ul li {
  float: none;
  padding: 0px 2px 2px 0;
  margin: 0 0 0 2px;
  line-height: 20px;
  height: 20px;
	vertical-align: middle;
}

div.buttonsplitmenu li.separator {
}

div.buttonsplitmenu li.menutitle {
  background-color: #DAE6EE;
  border-bottom: 1px solid #C5C5C5;
  font-weight: bold;
  padding-left: 2px;
  margin-left: 0;
  line-height: 20px;
  height: 20px;
	vertical-align: middle;
}

div.buttonsplitmenu li img {
  margin-left: -25px;
  margin-right: 8px;
	vertical-align: bottom;
  border: 0;
}

div.buttonsplitmenu  ul li a {
  border-top: 1px solid transparent;
  margin: 0 0 0 26px;
  padding: 0;
  line-height: 20px;
  word-wrap: break-word;
}

div.buttonsplitmenu ul li a:hover {
  background: transparent url(../../../Scripts/officebar/images/button3_over.png) no-repeat scroll top right;
}

div.buttonsplitmenu  ul li a span {
  padding-left: 22px;
  margin-left: -20px;
  margin-right: 8px;
  display: inline-block;
  height: 22px;
  line-height: 17px;
}

div.buttonsplitmenu ul li.separator a {
  border-top: 1px solid #C5C5C5;
}

div.buttonsplitmenu ul li:hover{
  background: transparent url(../../../Scripts/officebar/images/button4_over.png) no-repeat scroll 1px 1px;
}

div.buttonsplitmenu ul li.menutitle:hover {
  background: #DAE6EE none;
}

div.buttonsplitmenu ul li.resize {
  margin: 0;
  padding: 0;
  border-top: 1px solid #C5C5C5;
  background: #DAE6EE url(../../../Scripts/officebar/images/resize_bg.png) repeat-x scroll top right;
  height: 10px;
  line-height: 10px;
  font-size: 1px;
}

div.buttonsplitmenu ul li.resize span {
  background: transparent url(../../../Scripts/officebar/images/resize.gif) no-repeat scroll top right;
  height: 10px;
  width: 10px;
  display: block;
  float: right;
  cursor: se-resize;
}

/* === BUTTONS === */
div.officetab li div.button {
  text-align: center;
  display: inline-block;
  position: relative;
  float: left;
  top: -84px;
  left: 0px;
  height: 66px;
  width: 49px;
  overflow: hidden;
  line-height: normal;
}

div.officetab li div.list, div.officetab li div.textlist {
  width: auto;
}

div.officetab li div.list div {
  float: left;
}

div.officetab li div.button ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  width: auto;
  z-index: 2;
  clear: both;
}

  div.officetab li div.list ul {
    height: 66px;
    line-height: 0px; /* IE7 fix */
    font-size: 1px; /* IE7 fix */
  }

  div.officetab li div.textlist ul {
  }


div.officetab li div.button li {
  background: transparent none;
  float:none;
  margin:0;
  padding:0;
}

  div.officetab li div.list li {
  }

  div.officetab li div.textlist ul li {
    height:22px;
    height: expression('18px');/* FOR IE */
  }
  div.officetab li div.textlist ul li:hover {
    background: transparent url(../../../Scripts/officebar/images/button2_over.png) no-repeat scroll left top;
  }
  div.officetab li div.textlist ul li:hover{
    background: transparent;
  }

div.officetab li div.button a {
  background: transparent none;
  text-decoration: none;
  padding:0;
  margin:0;
  height:66px;
}
div.officetab li div.button a:hover {
  /*background: transparent url(../../../Scripts/officebar/images/button_over.png) no-repeat scroll left top;*/

	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFD342',GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#FFD342));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #FFD342); 
  background-image:    -moz-linear-gradient(top, #FFFFFF, #FFD342);
  background-image:     -ms-linear-gradient(top, #FFFFFF, #FFD342);
  background-image:      -o-linear-gradient(top, #FFFFFF, #FFD342);

	cursor: pointer;
}

div.officetab li div.button.disabled a:hover {
  background: transparent;
	cursor: default;
}


  div.officetab li div.list a {
    width: 24px;
    height: 20px;
  }
  div.officetab li div.list a:hover {
    background: transparent url(../../../Scripts/officebar/images/button2_over.png) no-repeat scroll left top;
  }

  div.officetab li div.textlist a {
    display: block;
    float: left;
    height: 20px;
    margin-right: 6px;
    padding-right: 5px;
  }
  div.officetab li div.textlist a:hover {
    background: transparent url(../../../Scripts/officebar/images/button3_over.png) no-repeat scroll top right;
  }

div.officetab li div.button a img {
  padding: 4px 0 0 0;
  border: 0;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
	height: 32px;
}

  div.officetab li div.list a img {
    margin: 0;
    padding: 2px 0 0 4px;
  }

  div.officetab li div.textlist a img {
    vertical-align: top;
    padding: 1px 4px 0 0;
    display: inline;
  }

div.officetab li div.split a span {
  background: transparent url(../../../Scripts/officebar/images/dropdown.png) no-repeat scroll 22px 20px;
  padding-bottom: 7px;
  margin: 1px 2px 0 2px;
  border-top: 1px solid transparent;
}
div.officetab li div.split:hover a span {
  border-top-color: #FFF2C7;
}

div.officetab li div.textlist a span {
  background: transparent;
  display: block;
  height: 20px;
  line-height: 18px;
  margin: 0;
  padding: 1px 0 1px 7px;
  cursor: default;
}

div.officetab li div.textlist a:hover span,
div.officetab li div.textlist a.opened span {
  background: transparent url(../../../Scripts/officebar/images/button3_over.png) no-repeat;
}

div.officetab li div.textlist div ul li.dropdown a {
  background: transparent url(../../../Scripts/officebar/images/dropdown.png) no-repeat scroll 90% 9px;
  padding-right: 18px;
}

div.officetab li div.textlist li.dropdown a:hover,
div.officetab li div.textlist li.dropdown a.opened {
  background: transparent url(../../../Scripts/officebar/images/button3_over_dropdown.png) no-repeat scroll top right;
}

div.officetab li div.textlist div ul li.dropdown div {
  display: none;
}

/* ======== TEXT BUTTON LIST ===== */
div.officetab li div.textboxlist {
  text-align: center;
  display: inline-block;
  position: relative;
  float: left;
  top: -84px;
  left: 0px;
  height: 66px;
  width: auto;
  overflow: hidden;
}

div.officetab li div.textboxlist ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  width: auto;
  z-index: 2;
  clear: both;
  
  height: 66px;
  line-height: 0px; /* IE7 fix */
  font-size: 1px; /* IE7 fix */
}

div.officetab li div.textboxlist li {
  background: transparent none;
  float:none;
  margin:0;
  padding:0;
  height:22px;
  font-size: 12px;
  line-height: 12px;
}

div.officetab li div.separator {
  border-left: 1px solid #9DBFDB;
  padding-left: 6px;
  margin-left: 6px;
}

div.officetab li div.textboxlist img {
	vertical-align: bottom;
  margin: 0 2px 0 0;
}

div.officetab li div.textboxlist input {
	margin: 0 0 0 4px;
}



