html {background-image: none;
			height: 100%;
			}

header { height: 95px;}

body 
{	
	height: 100%;
	padding: 0px;
	margin: 0px;
}

#workframeset {	
	top: 139px;
}

#fixedlinks {
	position: absolute;
	top: 0;left: 0;right: 0;height: 95px;	
}

.ViewDescription {
	height: 43px;
	border-style: none;
}

.FixedLinksLeft {
	position: absolute;
	width: 100%;
	height: 52px;
}

.FixedLinksLeft ul li {
	/*color: #154288;*/
}

.FixedLinksLeft li {
	cursor: default;
}

.DashContent {position: absolute; top: 0px; bottom: 2px;left: 0px; right: 0px;}

.dashboardSearch { display: none;}

div.officetab li div.button .disabled {
	/*color: gray!important;*/
	cursor: default;
}

.hypertextlinks 
{
	position: fixed;
	left: 0;
	width: 220px;
	top: 170px;
	bottom: 50px;
	overflow: auto;


	/*height: 100%;
	width: 250px;
	overflow: auto;
	float: left;*/
	}			

.hypertextlinkseparator
{
	line-height: 2;
	text-decoration: none;
	font-size: 11pt;
	/*font-weight: bold;*/
	margin: 0px;
	display: block;
	cursor: default;
}

.hypertextlinkseparatorframe 
{
	margin: 0px 0px 0px 0px;
	 padding: 0px;
	 /*border-style: solid;
	 border-width: 2px;*/
}
															
.hypertextlinkseparatorframe ul { padding: 0; }

.hypertextlink-displaytype
{
	cursor: pointer; 
	 list-style: none;
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none; 
	}

	.hypertextlink-displaytype ul {list-style: none;
		list-style-type: none;
		list-style-position: outside;
		list-style-image: none; 
		}
		
.hypertextlinktext a 
{
	line-height: 1.5;
	text-decoration: none;
}

.hypertextlinktext {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hypertextlinktext p { margin: 0px;}

.hypertextlinktileIcon, .linkspagebuttontileIcon {display: none;}

.linkspagebutton 
{
	position: fixed;
	left: 200px;
	right: 0px;
	top: 170px;
	bottom: 50px;
	overflow: auto;
	margin: 10px 0px 0px 100px;
}

.linkspagebuttonseparator
{
	line-height: 2;
	text-decoration: none;
	font-size: 11pt;
	/*font-weight: bold;*/
	margin: 0px;
	display: block;
	cursor: default;
	padding-left: 10px;
}

.linkspagebuttonseparator h2 {
	font-size: inherit;
	margin: 0px;
	cursor: move;
}

.linkspagebuttonseparatorframe 
{
	margin: 0px 10px 10px 0px;
	 list-style: none;
	 padding: 0px;
	 /*border-style: solid;
	 border-width: 2px;*/                              
}

.linkspagebuttonseparatorframe ul {padding: 0px; min-width: 300px;}

.linkspagebutton-displaytype
{
	cursor: pointer; 
	 list-style: none;
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none; 
	}

	.linkspagebutton-displaytype ul {list-style: none;
		list-style-type: none;
		list-style-position: outside;
		list-style-image: none; 
		}

.linkspagebuttontext {position: relative;line-height: 1.5em;}

.linkspagebuttontext a 
{
	text-decoration: none;
	margin: 0px;
	}

.linkspagebuttontext p 
{
	margin: 0px;
}

.linkspagebuttontext img {
	margin-left: 5px;
	border: none;
}

.DBValueScroller  
{
position: absolute;
	right: 0px;
	padding-right: 10px;
}

.DBVSpinner 
{
	height: 16px;
	width: 16px;
}

.ButtonLinkColumn 
{	
	float: left;
}

/* For old Self-service Intranet styling 
*
{
	padding: 0px;
}*/

.greenTile {background-color: transparent;}



/*.dropdownlinks 
{
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding-bottom: 20px;
	white-space: nowrap;
}*/

.dropdownlinks
{
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 10px;
	white-space: nowrap;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2QxZDFkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjExJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(209,209,209,0.3) 1%, rgba(255,255,255,0) 11%, rgba(255,255,255,0) 90%, rgba(209,209,209,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(209,209,209,0.3)), color-stop(11%,rgba(255,255,255,0)), color-stop(90%,rgba(255,255,255,0)), color-stop(100%,rgba(209,209,209,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(209,209,209,0.3) 1%,rgba(255,255,255,0) 11%,rgba(255,255,255,0) 90%,rgba(209,209,209,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(209,209,209,0.3) 1%,rgba(255,255,255,0) 11%,rgba(255,255,255,0) 90%,rgba(209,209,209,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(209,209,209,0.3) 1%,rgba(255,255,255,0) 11%,rgba(255,255,255,0) 90%,rgba(209,209,209,0.3) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(209,209,209,0.3) 1%,rgba(255,255,255,0) 11%,rgba(255,255,255,0) 90%,rgba(209,209,209,0.3) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-8 */
}

.DropdownlistSelect {
	margin-right: 10px;
}

.dropdownlinkseparatorframe {
	margin: 0px auto;
	/*width: 300px;*/
}

.dropdownlinkseparator 
{
	float: left;
	margin: 0;
	text-decoration: none;
	padding-right: 10px;
	padding-top: 2px;
}

.dropdownlink-displaytype {
	list-style: none;
	margin: 0 40%;
}

.DropLinkGoText {
	
}

.centered {
	text-align:center;
	 margin: 0px auto;
}

.widgetplaceholder  
{
	text-align: center;
	border: 1px solid white;
	margin: 0px 30px 10px 20px;
	height: 120px;
	line-height: normal;
}

.chart {
	margin-top: 5px;
	height: 300px;
	float: none;
	clear: both;
}

.datagrid {
	margin-top: 5px;
	max-height: 200px;
	float: none;
	clear: both;
	overflow-y: auto;
}

#chartPopout .datagrid {
	max-height: none;
	height: 80%;
}

.widgetplaceholder i { font-size: 48pt;}

.widgetplaceholder>div { width: 100%;}

.ButtonLinkColumn  .linksplaceholder{      
		
		border:1px dashed #ddd;  
}  




/* === Fixed Links === */

#fixedlinksframe {
	height: 95px;
}

/*div.officebar { position: absolute;bottom: 0; }*/

div.officebar > ul { padding-left: 0;}
div.officetab > ul { padding-left: 0;}

.officebar img, .officebar h6 { display: none;}

.officebar i { font-size: 26pt;text-decoration: none;list-style: none;}

.officebar > ul > li:not(.current) {
	display: none;	
}

div.officetab li div.button 
{
	text-align: center;
	display: inline-block;
	position: relative;
	float: left;
	/*top: -84px;*/
	left: 0px;
	/*height: 66px;*/
	width: 49px;
	overflow: hidden;
	line-height: normal;
	border-top-left-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 5px;
	padding-bottom: 1px;
	padding-top: 1px;
}

.officebar li { list-style: none;}

div.officebar ul li > a { display: none!important;}
div.officetab div.panel > span { display: none;}


/* SSI Specific styling for shared screens go here:*/ 

#divFindForm {
	background-image: none!important;
}

/*
#findGridRow td {
	font-size: 14pt;
	padding: 4px 4px 4px 4px;
}

.ui-jqgrid tr.jqgfirstrow td {
	Gets rid of the empty first row issue TFS 2574 
	display: none;
}
*/

.pageTitleDiv {
	 height: 50px;
		margin: 0 0 40px 0;
		padding: 0;
}

.pageTitle {
	font-weight: lighter;
	font-size: 26pt;
	padding-left: 30px!important;
}

.pageTitleModalExpression {
	font-weight: lighter;
	font-size: 26pt;
}

.pageTitleIcon {
	cursor: pointer;
	text-decoration: none!important;
	font-size: 24pt;
	line-height: 50px;
	float: left;
}

.pageTitleIcon:hover {
	color: orange;
}

#officebar {
	padding-top: 6px;
}

#officebar .button {
	margin-right: 5px;
}

#officebar, #officebar li, #officebar ul {
	/*background-color: rgb(43, 120, 228);*/
	background-color: transparent;
	background-image: none;
	/*color: white;*/
	border-style: none;
}

/* Start by setting display:none to make this hidden.
	 Then we position it in relation to the viewport window
	 with position:fixed. Width, height, top and left speak
	 speak for themselves. Background we set to 80% white with
	 our animation centered, and no-repeating */
.modal {
		display:    none;
		position:   fixed;
		z-index:    1000;
		top:        0;
		left:       0;
		height:     100%;
		width:      100%;
		background: rgba( 255, 255, 255, 0) 
								url("../../images/spinnerBig.gif") 
								50% 50% 
								no-repeat;
}


.divProgressMessage {
	display: inline-block;
	position: absolute;
	width: 100%;	
	vertical-align: middle;
	top: 54%;
}

.progressMessage {
	text-align: center;	
}

.progressMessage span {
	padding: 5px;
}


/* Formatting for SSI based utilities	*/
.SSI #dataRow {
	width: 30%; margin: 0 auto;
	/*color: black;*/
}

#pwfs { display: none;}

.pendingworkflowlinks {
	display: none;
}

.pwfslink:hover {
	cursor: pointer;
}

.TETile { display: none;}

.TEList { display: block;
	cursor: default;
	width: 100%;
}


.TELink:hover {
	cursor: pointer;
}

.FixedLinksRight { margin-top: 0;}
.FixedLinksRight .userdetails {
	float: left;
	margin-right: 5px;
}

.FixedLinksRight .userid { font-size: large;}
.FixedLinksRight .groupid { font-size: small;font-weight: normal;}


/* Always hide course booking ribbon buttons for SSI */
.SSI #mnuSectionRecordFindTrainingBooking { display: none!important;}


/* Document Display */
#documentDisplay {	
	position: fixed;
	right: 0;
	top: 141px;
	bottom: 35px;
	width: 0; 
	z-index: 1;
	overflow: hidden;
}

#divResize {
	position: relative;
	background-color: lightgray;
	float: left;
	position: relative;
	width: 8px;
	height: 100%;
	right: 0;
	top: 0;
	z-index: auto;
}

#splitToggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	visibility: visible;
	display: block;
	cursor: pointer;
}

#documentDisplayContent {
	position: relative;
	visibility: visible;
	padding: 0;
	margin: 0;
}

/* User dropdown menu */
#userDropdownmenu {
	border: 0 none;
	float: right;
	margin: 0;
	padding: 0;
	position: relative;
	right: 65px;
	top: -8px;
	width: auto;
	z-index: 99;
}

#userDropdownmenu ul .has-sub ul a {
	padding: 8px 8px 8px 16px;
	border-bottom: 1px solid transparent;
	text-align: left;
}
/* End of User dropdown menu */

#mnutoolLocateRecordFind {
	margin: 0px 0 0 4px;
}

#mnutoolPositionRecordFind {
	margin: 11px 0 0 4px;
}

/* Find window grid - navigation icons. */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div>span { margin: 0 5px; font-size: 20px; }
