p {
  /*line-height: 2em;*/
}

ul.menu, ul.menu ul {
  list-style-type:none;  
  margin: 0;
  padding: 0;
  width: 220px;
  /*width: 15em;*/
}

ul.menu a {
  display: block;
  text-decoration: none;	
}

ul.menu li {
  margin-top: 1px;
}



ul.menu li a, ul.menu ul.menu li a {
  /*background: #F7B935;*/
  color: #184E85;
            /* Chuck all possibilities at the browser for gradients... */
            /*background-color: #1a82f7; */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#AFD4F9',GradientType=0 );
            background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#AFD4F9));
            background-image: -webkit-linear-gradient(top, #FFFFFF, #AFD4F9); 
            background-image:    -moz-linear-gradient(top, #FFFFFF, #AFD4F9);
            background-image:     -ms-linear-gradient(top, #FFFFFF, #AFD4F9);
            background-image:      -o-linear-gradient(top, #FFFFFF, #AFD4F9);
  padding: 0.5em;
  font-size: 10pt;
  font-weight: bold;
}

ul.menu li a:hover, ul.menu ul.menu li a:hover {
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFAC47',GradientType=0 );
            background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#FFAC47));
            background-image: -webkit-linear-gradient(top, #FFFFFF, #FFAC47); 
            background-image:    -moz-linear-gradient(top, #FFFFFF, #FFAC47);
            background-image:     -ms-linear-gradient(top, #FFFFFF, #FFAC47);
            background-image:      -o-linear-gradient(top, #FFFFFF, #FFAC47);

  color:Black;
}

ul.menu li a.last 
{
	/*font-family: Verdana;*/
	font-size: x-small;	
	padding-left: 55px;
   background: #fff url("../Content/Menu/subnode.png") 35px center no-repeat;
}

ul.menu li a.last:hover 
{
	/*font-family: Verdana;*/
	font-size: x-small;	
	padding-left: 50px;	
   background: #aaa url("../Content/Menu/subnode.png") 30px center no-repeat;
}

ul.menu li ul li a, ul.menu ul.menu li ul li a {
  background: #fff;
  background-image: url('../Content/Menu/InactiveNode.png');
  background-position: left center;
  background-repeat: no-repeat;
  color: #000;
  padding-left: 40px;
  border-bottom: solid 1px #EAECEF;
  /*font-family: Verdana;*/
  font-size:10pt;
  font-weight:normal;	
}

ul.menu li ul li a:hover, ul.menu ul.menu li ul li a:hover {
  background: #aaa;  
  background-image: url('../Content/Menu/InactiveNode.png');
  background-position: left center;
  background-repeat: no-repeat;
  
  border-left: 5px #000 solid;
  padding-left: 35px;
}
ul.menu ul.menu li a:hover {
    border-left: 0;
    padding-left: 0.5em;
}
ul.menu ul.menu {
    border-left: 5px #f00 solid;
}
ul.menu a.active, ul.menu ul.menu li a.active, ul.menu a.active:hover, ul.menu ul.menu li a.active:hover {
    text-decoration:none;
    background: #F7B935;    
}
div.menupanel {
    border: 1px #000 solid;
    padding: 5px;
    margin-top: 1px;
}

ul.menu div.menupanel a, ul.menu div.menupanel li a:hover  {
    display :inline;
    color: #666;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: bold;
}
ul.menu div.menupanel a:hover {
    color: #000;
    text-decoration: underline;
}


.code { border: 1px solid #ccc; list-style-type: decimal-leading-zero; padding: 5px; margin: 0; }
.code code { display: block; padding: 3px; margin-bottom: 0; }
.code li { background: #ddd; border: 1px solid #ccc; margin: 0 0 2px 2.2em; }
.indent1 { padding-left: 1em; }
.indent2 { padding-left: 2em; }
.indent3 { padding-left: 3em; }
.indent4 { padding-left: 4em; }
.indent5 { padding-left: 5em; }
.indent6 { padding-left: 6em; }
.indent7 { padding-left: 7em; }
.indent8 { padding-left: 8em; }
.indent9 { padding-left: 9em; }
.indent10 { padding-left: 10em; }
