html { font-size: 10pt;}


BODY
{    
		/*COLOR: black;*/
	/*color: #2e6e9e;*/
	bottom: 0!important;

		/*FONT-FAMILY: Verdana, Tahoma, 'MS Sans Serif';*/
}
div.COAwallpapered
{
	/*background: url("../Content/Images/ABSBack1.jpg") fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: repeat-y;          
		margin: 0px;
		position: fixed;
		top:44px;
		bottom: 0px;
		left: 0px;
		right: 0px;
	overflow: auto;
}

.loginTitleBar {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
	height: 46px;
	position: relative;
	border-right-style: none!important;
	border-left-style: none!important;	
}

.loginTitleBar img {
	position: absolute;
	right: 8px;
	top: 8px;
	cursor: pointer;
}

.loginframetheme {
	border-radius: 20px 0 20px 0;
	width: 440px;
}

.loginframe { position: relative;width: 450px;margin: 0 auto;}
									
.logintext {
	font-family: Verdana;
	color: #333366;
	font-size: 8pt;
	font-weight: normal;
	font-style: normal;
}

.loginframeImage {
	display: block;
	margin: 10px auto;
	width: 410px;
}

.loginframeField {
	margin: 10px auto;	
	width: 340px;
}

.loginframeField label {
	display: inline-block;
	width: 120px;
}

.loginframeField input {
	display: inline-block;
	width: 195px;
}

.loginframeFieldWA {
	margin: 10px auto;	
	width: 340px;
}

.loginframeFieldWA input {
	margin-left: 0!important;
	display: inline-block;
}

.loginframeFieldWA label {
	display: inline-block;
}

.footer-banner {	
	position: absolute; 
	bottom: 0; 
	right: 0; 
	width: 40%; 
	height: 35px;
	border-radius: 20px 0 0 0;
}

.footer-banner-p-progress {
	display: inline-block;
	padding-top: 6px;
	margin: 0 0 0 10px;
}

.footer-banner-p-copyright {
	display: inline-block;
	position: fixed;
	padding-top: 6px;
	margin: 0;
	right: 10px;
}

.footer-banner-p-copyright a {
		color: #EEAF00;
		/*background-color: #639ec8*/
}


TD
{
	/*font-size: 10pt;
	color: #333366;
	/*font-family: Verdana, Tahoma, 'MS Sans Serif';
	border-bottom-style: none;
	border-right-style: none;
	border-top-style: none;
	border-left-style: none;*/
}

TD.bordered
{
border: 1px solid #9894a3;
}

TD.smallfont
{
	/*font-size: 8pt;*/
}

TD.calendarheader_day
{
	border-bottom: 1px inset;
	border-left: 1px inset;
	border-top: 1px inset;
	border-right: 1px inset;
	font-size: 8pt;
	background-color:#8080FF;
}

TD.calendarheader_nonday
{
	border-bottom: 1px inset;
	border-left: 1px inset;
	border-top: 1px inset;
	border-right: 1px inset;
	font-size: 8pt;
	background-color: #4D4DCC;
}

TD.calendar_day
{
	border-bottom-style: none;
	border-right-style: none;
	border-top-style: none;
	border-left-style: none;
	font-size: 8pt;
	background-color:#C0C0FF;
}

TD.calendar_nonworkingday
{
	border-bottom-style: none;
	border-right-style: none;
	border-top-style: none;
	border-left-style: none;
	font-size: 8pt;
	background-color:#8D8DCC;
}

TD.calendar_nonday
{
	border-bottom-style: none;
	border-right-style: none;
	border-top-style: none;
	border-left-style: none;
	font-size: 8pt;
	background-color:#1A1A99;
}

hr 
{
		height:1px;
		COLOR: #83389b;
}


table.cellspace0 {
	border-spacing: 0;
}

table.cellpadding0 {
	border-collapse: collapse;
}

table.cellpadding5 td {
	padding: 5px;
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

table.border0 {
	border: none;
}

table.rulesAll td {
	border: 1px solid #ccc;
}

input.textwarning
{
	color: #993399;
	border-bottom-style: none;
	border-right-style: none;
	border-top-style: none;
	border-left-style: none;
	background-color: transparent;
}

input, textarea { border-width: 1px!important;
	border-color: #E3E3E3!important;
}

.ui-spinner {
	vertical-align: top!important;
}
.ui-spinner-input {
	padding: 0 2px 0 2px!important;
}

select {
	border-width: 1px!important;
	border-color: #E3E3E3!important;
}

select[disabled=""] {
	background-color: rgb(240, 240, 240);
}


.DashContent li.ui-state-disabled:not(.dimmed), .DashContent li.ui-widget-content:not(.dimmed) .DashContent li.ui-state-disabled:not(.dimmed), .DashContent li.ui-widget-header:not(.dimmed) .DashContent li.ui-state-disabled:not(.dimmed) {
	opacity: 1!important;
	filter: Alpha(Opacity=100)!important;
}


.linkspagebuttontext li.ui-state-disabled:not(.dimmed) {
	opacity: 1!important;
	filter: Alpha(Opacity=100)!important;	
}

.DashContent li.dimmed {
	opacity: 0.1!important;
	filter: Alpha(Opacity=10)!important;	
}

a.hypertext
{ 
	color:#333366;
	text-decoration: underline; 
}

a.hypertexthov
{  
	color:#ff9608;
		cursor: pointer; 
}

a.hypertextselect
{ 
	color:#ff9608;
}

span.outline
{
	background-color:#f9f7fb;
	border: 1px solid #9894a3;
}

table.invisible
{
	border-bottom-style: none;
	border-right-style: none;
	border-top-style: none;
	border-left-style: none;
}

table.calendarcell
{
	border-bottom: 1px inset;
	border-left: 1px inset;
	border-top: 1px inset;
	border-right: 1px inset;
}


#menuframe {
	position: absolute;
	top: 170px;
	width: 350px;
	bottom: 0;
	left: 0;
	
}


.ContextMenu-panel {
		 /*width: 350px;	       
		 position:absolute;
		 top:170px;
		 bottom: 0px;
		 left:0px;*/
		 height: 100%;
		 z-index: 99;
		 opacity: 1;
		 /*overflow-y: auto;*/
		 -webkit-overflow-scrolling: touch ;
}


.ContextMenu-panel .ContextMenu-tab
{
	width: 30px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 99;
	cursor: pointer;

	/*background: rgba(247,251,253,1);
	background: -moz-linear-gradient(left, rgba(247,251,253,1) 0%, rgba(89,183,227,1) 0%, rgba(76,158,199,1) 30%, rgba(239,246,251,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(247,251,253,1)), color-stop(0%, rgba(89,183,227,1)), color-stop(30%, rgba(76,158,199,1)), color-stop(100%, rgba(239,246,251,1)));
	background: -webkit-linear-gradient(left, rgba(247,251,253,1) 0%, rgba(89,183,227,1) 0%, rgba(76,158,199,1) 30%, rgba(239,246,251,1) 100%);
	background: -o-linear-gradient(left, rgba(247,251,253,1) 0%, rgba(89,183,227,1) 0%, rgba(76,158,199,1) 30%, rgba(239,246,251,1) 100%);
	background: -ms-linear-gradient(left, rgba(247,251,253,1) 0%, rgba(89,183,227,1) 0%, rgba(76,158,199,1) 30%, rgba(239,246,251,1) 100%);
	background: linear-gradient(to right, rgba(247,251,253,1) 0%, rgba(89,183,227,1) 0%, rgba(76,158,199,1) 30%, rgba(239,246,251,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfd', endColorstr='#eff6fb', GradientType=1 );*/
}

.ContextMenu-panel .ContextMenu-content {
	position: absolute;
	left: 0px;
	right: 30px;
	top: 0px;
	bottom:0px;
	overflow: auto;

/*
background: rgb(122,188,255);
background: -moz-linear-gradient(left,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1)));
background: -webkit-linear-gradient(left,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); 
background: -o-linear-gradient(left,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); 
background: -ms-linear-gradient(left,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); 
background: linear-gradient(to right,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=1 );
*/
}

		 
.ContextMenu-tab:hover 
{
	padding: 0px; 
	border: 1px solid #FFAC47; 
	color: #000; 
	text-decoration: none; 
	box-shadow: 0px 0px 7px #FFAC47; 
	-moz-box-shadow: 0 0 7px #FFAC47; 
	-webkit-box-shadow: 0 0 7px #FFAC47;
}

#ContextMenuIcon { border-style: none;}

#contextmenu h3 { 
	font-size: 14pt;
	padding: 2px;
}

@-moz-document url-prefix() { /*Mozilla-specific extension */
	#contextmenu h3 {
		font-weight: normal;
	}
}

#contextmenu > div {
	padding-left: 0;
	padding-top: 0;
}
	 
.rot-neg-90 
{
	width: 500px;
	/*font-family: Verdana;*/
	font-size: large;
		-moz-transform:rotate(90deg); 
		-moz-transform-origin: bottom left;
		-webkit-transform: rotate(90deg);
		-webkit-transform-origin: bottom left;
		-o-transform: rotate(90deg);
		-o-transform-origin:  bottom left;
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.metro 
{
	position: absolute;
	top:0px;
	left:0px;
	right: 0px;
	bottom: 0px;
}

.loginframetheme {
	border-radius: 20px 0px 20px 0px;
	width: 440px;							}
									
.logintext 
{
	font-family:Verdana;
	color:#333366;
	font-size: 8pt;
	font-weight: normal;
	font-style: normal;
}

.FixedLinksLeft li { cursor: default; }

/*.FixedLinksLeft h6 
{
	display: none;
	text-align: center;
	font-size: 7pt;
	font-weight: lighter;
	margin-top: -10px;
	margin-bottom: 0px;	
}*/

.displayonly { cursor: default;}
.displayonly a { cursor: default;}
.displayonly a:hover { background-color: transparent;}


.DashHeader {position: absolute; top: 0px; height: 126px;left: 70px; right: 0px;}

.ViewDescription 
{
	/*width: 100%;*/
	padding-left: 10px;
	/*padding-bottom: 5px;*/
	}
	
	.ViewDescription img 
	{
		width: 48px;
		height: 48px;
		vertical-align:middle;
		margin-right: 10px;
		margin-left: 5px;
	}
	
	.ViewDescription p
	{		
		margin: 0px;
		font-size: xx-large;
		/*color: white;*/
		/*font-weight: bold;*/
	}

.RecDescPhoto i {text-align: center;}

.RecDescPhoto 
{
	font-size: 48pt;
	height: 95px;
	overflow: hidden;
	position: absolute;
	width: 70px;	
}

.RecDescPhoto img {
		height: 95px;
	overflow: hidden;
	position: absolute;
	width: 70px;
	
}

.HeaderNavigation {
	position: absolute;
	bottom: 0px;
	width: 100%;	
}


header {
	position: absolute;
	top: 44px;
	left: 0;
	right: 0;
	/*height: 126px;*/
}

.FixedLinksLeft
{
	/*float: left;
	background: rgb(122,188,255);
	background: -moz-linear-gradient(left, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1)));
	background: -webkit-linear-gradient(left, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
	background: -o-linear-gradient(left, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
	background: -ms-linear-gradient(left, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
	background: linear-gradient(to right, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=1 );*/
}

	.FixedLinksLeft ul
	{
		margin: 0px;
		padding: 0px;
		overflow: hidden;
		list-style-type: none;
		list-style-position: outside;
		list-style-image: none;
		margin: 0px;
		vertical-align:middle;
	}	

		.FixedLinksLeft ul li 
		{
			/*font-size: 28px;*/
			float: left;
			margin-left: 5px;
		}
		
			.FixedLinksLeft a {text-decoration: none;}

.FixedLinksRight {
	/*float: right;*/
	position: absolute;
	right: 0px;
	z-index: 99;
}

	.FixedLinksRight ul
	{
		margin: 0px;
		padding: 0px;
		overflow: hidden;
		list-style-type: none;
		list-style-position: outside;
		list-style-image: none;
		margin: 0px;
		vertical-align:middle;
	}	

		.FixedLinksRight ul li 
		{
			font-size: 14px;
			float: left;
			margin-right: 10px;
		}

.verticalpadding200 {
	height: 80px;
	display: none;
}

@media screen and (min-height: 700px) {
	.verticalpadding200 {
		display: block;
	}
}

.accordion h3 {
	margin: 0px;
	cursor: pointer;
	background-color: rgb(192, 216, 240);
	border-bottom: 1px solid white;
	font-family: Segoe UI Light, Verdana, "Open Sans", Tahoma, Helvetica, sans-serif;
	padding-left: 8px;

	 /* Chuck all possibilities at the browser for gradients... */
	 /*background-color: #1a82f7; 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfdbff', endColorstr='#ffffff',GradientType=0 );
	 background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bfdbff), to(#ffffff));
	 background-image: -webkit-linear-gradient(top, #bfdbff, #ffffff); 
	 background-image:    -moz-linear-gradient(top, #bfdbff, #ffffff);
	 background-image:     -ms-linear-gradient(top, #bfdbff, #ffffff);
	 background-image:      -o-linear-gradient(top, #bfdbff, #ffffff);*/
	
}


#contextmenu .jsTree {
	overflow: auto;
}

#contextmenu .jstree a {
	width: 100%;
	font-weight: normal!important;
	/*font-weight: bold;
	background-color: transparent!important;
	background-image: none!important;
	border: none!important;*/
}

#contextmenu .jstree a:hover {
	padding: 0 1px!important;
}

.hidden { display: none!important; }

#ssOleDBGridFindRecords {
	
	left: 0; 
	top: 0; 
	width:100%; 
	/*border-style: solid;
	border-width: 1px;
	border-spacing: 0px; 
	border-collapse: collapse;*/
	
	
}

.absolutefull {
	position: absolute;
	top: 0;
	left: 0px ;
	right: 0;
	bottom: 40px;
	padding-right: 20px;
	padding-left: 20px;
}

#errorDialog {
	height: 700px;
	width: 850px;
}

#errorDialogTitleContent {
	position: relative;
	height: auto;
	width: auto;
}

#errorDialogContent {
	position: relative;
	height: auto;
	width: auto;
	overflow: auto;
	margin-top: 20px;
}

/* Accessibility */
.accessibility {
	width: 100%;
	height: 30px;
	float: right;
	font-size: 0.9em;
	overflow: hidden;
}
.accessibility li, .accessibility ul {
	list-style-type: none;
}

.accessibility ul {
	list-style: none;
}

.accessibility li {
	float: right;
	height: 25px;
	margin-right: 4px;
	width: 11px;
}

.accessibility a, .accessibility a:visited {
	display: block;
	color: #ffac47 !important;
	font-weight: bold;
	}

.accessibility ul:first-child {
	margin-right: 6px;
}

.accessibility .size-big {
	font-size: large;
	margin-top: -6px;
	margin-right: 6px;
}

.accessibility .size-default {
	font-size: medium;
	margin-top: -4px;
}

.accessibility .size-small {
	font-size: small;
	margin-top: -1px;
}

/* Color picker */
.colorPicker {
	height: 10px;
	left: 175px;
	position: absolute;
	top: 190px;
}


/* SSI Specifics */
.DMI #imgTViewHelp, .DMI #tdTOrderHelp { display: none;}

/* User picture */
.userpic {
	float: right;
	vertical-align: central;
	padding: 0 10px 0 10px;
}

/* User dropdown menu */
#userDropdownmenu ul, #userDropdownmenu li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

#userDropdownmenu ul {
	z-index: 597;
	/*position: relative;
	top: 5px;
	right: -60px;*/
}

#userDropdownmenu ul li {
	float: right;
	min-height: 1px;
	vertical-align: middle;
}
	
#userDropdownmenu ul ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 598;
	margin-top: 0;
	width: 200px;
	white-space: nowrap;
}

#userDropdownmenu ul ul li {
	float: none;
}

#userDropdownmenu ul ul ul {
	top: 0;
	left: 100%;
}

#userDropdownmenu a {
	display: block;
	text-decoration: none;
}

#userDropdownmenu ul li.last ul {
	left: -157px;
	right: 0;
}

#userDropdownmenu ul li.last ul ul {
	left: auto;
	right: 99.5%;
}

#userDropdownmenu:after,
#userDropdownmenu ul:after {
	content: '';
	display: block;
	clear: both;
}

#userDropdownmenu:before {
	content: '';
	display: block;
	height: 8px;
}

#userDropdownmenu > ul > li {
	margin: 0 10px;
}

#userDropdownmenu > ul > li.has-sub:hover > a {
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

#userDropdownmenu ul ul a {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	line-height: 150%;
	font-size: 13px;
}

#userDropdownmenu ul .active > a {
	/*color: #FFF;*/
	background-image: linear-gradient(blue, blue);
}

#userDropdownmenu ul .has-sub {
	position: relative;
}

#userDropdownmenu ul .has-sub ul .has-sub a:after {
	content: none;
}

#userDropdownmenu ul .has-sub > a {
	padding-right: 0;
}

#userDropdownmenu ul .active > a:after {
/*color: #FFF;*/
}

#userDropdownmenu_Items a {
	/*color: black;*/
}

/* End of User dropdown menu */

.pageTitle {
	font-weight: normal;
}

.pageTitleModalExpression {
	font-weight: normal;
}

.pageTitleSmaller {
	font-size: x-large;
	line-height: 50px;
	padding-left: 10px;
}

input[type=button].Embed, input[type=button].Link {
	background-image: url('../Content/images/OLEIcons/folder_64.png');
}

input[type=button].Embedded, input[type=button].Linked {
	background-image: url('../Content/images/OLEIcons/file_down_64.png');
}
.ui-search-toolbar input::-ms-clear {
	display: none;
}

.no-close .ui-dialog-titlebar-close {display: none }

/* Org Chart */
.printSelect {
	display: none;
	position: absolute;
	top: 2px;
	right: 2px;
	cursor: default;
}

.print {
	border: 2px solid red;
}

.expandNode {
	display: none;
	position: absolute;
	bottom: 2px;
	right: 2px;
	opacity: .5;
	cursor: pointer;
}

#frmGotoOption {
	visibility: hidden;
	display: none;
}

.optiondatagridpage footer {
	text-align: right;
	margin-top: 10px;
}

	.optiondatagridpage footer .ui-button {
		margin-top: 10px;
	}

.formField {
	margin: 10px auto;	
}

.formField label {
	display: inline-block;
	width: 120px;
  white-space: nowrap;
}

.formField input, .formField select {
	display: inline-block;
	width: 195px;
}

.formField select {
	width: 195px;
}

.formField input {
	width: 345px;
}

.formField .ui-button {
	width: auto;
}

.formField .datepicker {
	width: 100px;
}
.formField .ui-spinner-input {
	width: 90px;
}

#divCalendarDetailButtons .ui-button {
	float: right;
	margin: 15px 5px 5px 10px;
	width: 100px;
}

#divCalendarBreakDownButtons .button {
	float: right;
	margin: 15px 5px 5px 10px;
	width: 100px;
}

.CrossTabsColumndiv {
	margin-bottom:10px;
	width:50%;
}

.formTextArea, .formInput {
	margin: 10px auto;
	width: 500px;
}

.jqgridHideHorScroll {
	overflow-x: hidden !important;
}

.formTextArea label {
	vertical-align: top;
	display: inline-block;
	width: 120px;
}

.formTextArea textarea {
	display: inline-block;
	width: 345px;
}

.formOptionGroup {
	margin: 10px auto;
	/*width: 340px;*/
}

	.formOptionGroup > label {
		vertical-align: top;
	display: inline-block;
		width: 120px;
	}

	.formOptionGroup > div {
		width: 345px;
		display: inline-block;
	}

		.formOptionGroup > div label {
			display: table-row;
		}

.floatleft {	
	float: left;
}

.floatright {
	float: right;
}

.clearboth {
	clear:both;
}


.gridwithbuttons {
	display: table;
}

.stretchyfill {
	display: table-cell;
	width: 100%;	
}

.stretchyfixed {
	display: table-cell;
	-moz-min-width: 160px;
	-ms-min-width: 160px;
	-o-min-width: 160px;
	-webkit-min-width: 160px;
	min-width: 160px;
	vertical-align: top;
}

.stretchyfixed200 {	
	display: table-cell;
	min-width: 200px;
	vertical-align: top;
}

#frmDefinition .ui-button {
	margin-left: 20px;
	width: 140px;
	margin-bottom: 10px;
}

#frmBulkBooking .ui-button {
	width: 120px !important;
}

.stretchyfixed .ui-button {
	margin-left: 20px;
	width: 110px;
	margin-bottom: 10px;

}

.stretchyfixedbuttoncolumn {
	-moz-min-width: 110px;
	-ms-min-width: 110px;
	-o-min-width: 110px;
	-webkit-min-width: 110px;
	min-width: 110px;
	width:120px;
	vertical-align: top;
	float:left;
	padding-left:20px;
}

.stretchyfixedbuttoncolumn .ui-button {
	width: 110px;
	margin-bottom: 10px;
}
#SortOrders {
	/*margin-left:10px;*/
}

#txtChildRecords {
	width:100px;
}

#ChildTableID {
	width:100%;
}

.absolutefullchildren {
	left: 0px ;
	right: 0;
	bottom: 40px;
	padding-right: 20px;
	padding-left: 20px;
}

.silverborder {
	border: 1px solid silver;
}

.width6em {
	width: 6em;
}

#SSFunctionTree, #SSOperatorTree {
	overflow: auto;
}

.root {
	font-weight: bold;
}

.divExpressionTypes input[type=radio] {
	margin-bottom: 10px;
}

.divExpressionOptions>div, .divFunctionOptions>div {
	width: 100%;
}

#txtPValSize, #txtPValDecimals {
	width: 80px;
}

/* This is expression component form */
#frmMainForm {
	
	height: 100%;
}

	#frmMainForm .gridwithbuttons, #frmMainForm #divField {
		height: 100%;
	}

	#frmMainForm>.gridwithbuttons>div>fieldset, #frmMainForm>.gridwithbuttons>.divExpressionOptions>div>fieldset {
		height: 100%;
		padding: 2px;
	}

	#frmMainForm #divField fieldset>input, #frmMainForm #divField fieldset>.formField, #frmMainForm #divField fieldset>fieldset {
		margin-left: 10px;
		margin-right: 10px;
	}

	#frmMainForm #divField #optField_Field, #frmMainForm #divField #optFieldRecSel_First {
		margin-left: 0;
	}

	#frmMainForm #divField #optField_Count, #frmMainForm #divField #optField_Total,  #frmMainForm #divField #optFieldRecSel_Last,  #frmMainForm #divField #optFieldRecSel_Specific {
		/* 38px is odd so that it lines up with other components on screen */
		margin-left: 38px;
	}

	#frmMainForm .formField select {
		width: 345px;
	}

	#frmMainForm #divField #txtFieldRecSel_Specific {
		margin-top: 0;
	}

	#frmMainForm #txtPValFormat, #frmMainForm #txtPValDefault:not(.hasDatepicker), #frmMainForm #cboPValDefault {
		width: 345px;
	}

/*End ExpressionComponent*/

#outputformats input[type=radio] {
	margin-bottom: 10px;
}


/* Header elements */
/*nav.nowrap {
	margin-top: 10px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: table;
}
nav div.tablerow {
	display: table-row;
}
nav.tablelayout label:not(.inline-block) {
	display: table-cell;
	vertical-align: top;
}
nav.tablelayout input:not([type="radio"]), .tablelayout textarea {
	display: table-cell;
	width: 90%;
	vertical-align: top;
}*/

.inline-block {
	display: inline-block;
}

/* stretchyfill for elements */
div.nowrap {
	/*margin-top: 10px;*/
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: table;
}

div.tablerow {
	display: table-row;
}

div.tablecell {
	display: table-cell;
}

div.tablerow>label:not(.inline-block) {
	display: table-cell;
	vertical-align: top;
}

div.tablerow>input:not([type="radio"]), .tablerow>textarea, .tablerow>div.ui-jqgrid {
	display: table-cell;
	width: 99%;
	vertical-align: top;
}


/* Reports definition */
#tabs-1 #description {
	height: 90px;
}

div.displaytable {
    display:table;
    border-collapse:collapse;
		width: 100%;
}


	/* 3 column layout, fixed center column, two flexible side columns */
.coldefinition>div:first-child, .coldefinition>div:last-child {
	width: 50%;
}

.coldefinition>div:nth-child(2) {
	min-width: 160px;
	vertical-align: middle;
}


#tabs-1 #AccessPermissions label { padding-top: 2px;}

#cmdBasePicklist, #cmdBaseFilter, #cmdBaseStartDateCalc, #cmdBaseEndDateCalc {
	float: right;
}

.ellipsistextbox {
	overflow: hidden;
	padding-right: 0.5em;
}

.ellipsistextbox input {
	width: 100%;
}

.divExpressionTypes .disabled {
	opacity: 0.5;
}

.formfieldfill {
	display: table;
	width: 100%;
	padding-bottom: 5px;
}

	.formfieldfill label {
		display: table-cell;
		width: 100px;
		white-space: nowrap;
	}

	.formfieldfill span {
		display: table-cell;
		padding: 0 0 0 5px;
	}

	.formfieldfill input {
		width: 98%;
	}

#frmReportDefintion #SelectedColumnSize, #frmReportDefintion #SelectedColumnDecimals {
	width: 160px;
}

.vertalignmid {
	vertical-align:middle;
}

#tblNineBox {
	padding: 0;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}

	#tblNineBox p {
		margin: 0;
	}

	#tblNineBox td {
		border: 1px solid black;
		width: 100px;
		height: 100px;
	}

.nineBoxGridCell {
		cursor: pointer;
	}

.xaxismajor, .yaxismajor, .xaxisminor, .yaxisminor {
	cursor: default;
}

	#tblNineBox .yaxisminor, #tblNineBox .yaxismajor {
		width: 100px;
	}

	#tblNineBox .xaxis, #tblNineBox_def .xaxis, #tblNineBox_def .yaxisminor, #tblNineBox_def .yaxismajor, #tblNineBox_def .xaxisminor, #tblNineBox_def .xaxismajor {
		border: none;
		vertical-align: middle;
	}
		#tblNineBox_def .yaxismajor p {
			margin: 0;
		}

	#tblNineBox .xaxisminor, #tblNineBox_def .xaxisminor {		
		height: 30px;
	}

#tblNineBox .rot270 {
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}

	#tblNineBox #id5 {
		background-color: orange;
	}

	#tblNineBox .xaxismajor, #tblNineBox .yaxismajor {
		font-weight: bold;
	}

#tblNineBox_def {
	padding: 0;		
	text-align: center;
	vertical-align: middle;
}

#tblNineBox_def td:not(.yaxismajor) p {
	margin: 0;
	/*width: 90%;*/
}

	#tblNineBox_def td:not(.yaxismajor) input {
		width: 90%;
	}

	#tblNineBox_def td:not(.yaxismajor) textarea {
		width: 90%;
		border: none;
		overflow: hidden;
		background-color: transparent;
		border-radius: 5px;
		text-align: center;
	}

		#tblNineBox_def td:not(.yaxismajor) textarea:focus, #tblNineBox_def td:not(.yaxismajor) textarea:hover {
			border: 1px solid black;
			background-color: white;
			padding: 1px;
		}

	#tblNineBox_def td:not(.xaxismajor):not(.xaxisminor):not(.yaxismajor):not(.yaxisminor):not(.xaxis) {
		border: 1px solid black;
		width: 100px !important;
		height: 100px !important;
		min-width: 100px;
		min-height: 100px;
	}
	
#tblNineBox_def .yaxismajor {
	width: 200px;
}

	#tblNineBox_def td.yaxisminor input {
		width: 100px;
	}

#tblNineBox_def td div.sp-preview {
	width: 75px;
	height: 20px;
}

#tblNineBox_def .yaxismajor input, #tblNineBox_def .yaxisminor input, #tblNineBox_def .xaxismajor input, #tblNineBox_def .xaxisminor input { text-align: center;}

#tblNineBox_def .pcolpicker {
	position: relative;
}

	#tblNineBox_def .pcolpicker div.nineboxgridColorpicker {
		left: 0;
	}

#td9boxOptions {
	vertical-align: top;
}

#td9boxOptions input[type=checkbox] {
	margin-left: 5px;
}

.nineBoxGridCell p:first-child {
	height: 50%;
	overflow: hidden;
}

.nineBoxGridCell p:last-child {
	height: 40%;
	padding-top: 5px;
	font-size: x-large;
}

.nineboxgridColorpicker {
	position: static;
}

.sp-input .ui-widget .ui-corner-all {
	width: 89px;
}

.sp-input.ui-widget.ui-corner-all {
	width: 100px;
	height: 30px;
}

.sp-container button {
	height: 30px;
	top: -34px;
	width: 74px;
	left: 7px;
}

	.sp-container.sp-input-disabled .sp-input-container {
		display: block !important;
		visibility:hidden !important;
	}

.sp-choose > span {
	margin-top: -4px;
}

.minwidth100 {
	min-width: 100px;
}

/* CTT4  is 9-box grid only */
.CTT4 {
	margin: 0 auto;
	width: 425px;
}

	.CTT4 #CrossTabsIntersectionControls {
		display: none;
	}

	.CTT4 #PageControls, .CTT4 #CrossTabCheckBoxes {
		width: 100% !important;
		margin-bottom: 8px;
	}

		.CTT4 #CrossTabCheckBoxes > div:first-child {
			margin-bottom: 8px;
		}

		.CTT4 #CrossTabCheckBoxes > div:nth-child(3) {
			float: right !important;
		}

		.CTT4 #CrossTabPage > div:nth-child(3) {
			float: right!important;
		}


#divCrossTabOptions #cboIntersectionType, #divCrossTabOptions #cboPage {
	margin-left: 10px;
}

#frmDefSel .ui-jqgrid-bdiv /* Hide jqGrid horizontal scrollbar in defsel*/
{
overflow-x : hidden !important;
}


#frmEventDetails .ui-jqgrid-bdiv,
 #EventLogEmailSelect .ui-jqgrid-bdiv {
	overflow-x: hidden;
}

.toolbarButtonOn {
	background: #d0e5f5 url("images/ui-bg_glass_75_d0e5f5_1x400.png") 50% 50% repeat-x !important;
}

.textalignright {
	text-align: right;
}

.msClear::-ms-clear {
	display: none;
}

.stretchyfixed600 {	
	width: 600px;
}

.fileinputhide {
	display: none;
}

/* Session timeout warning.*/
div#sessionWarning {
	display: none;
	position: relative;
	top: 0;
	width: 30%;
	font-weight: bold;
	text-align: center;
	font-size: x-large;
	margin: 0 auto;
}

	div#sessionWarning p {
		margin: 0;
		display: inline;
		vertical-align: middle;
	}

