html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}	
		
.header-banner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 44px;
}

body {
		/*font-size: .85em;*/
		font-family: Segoe UI, Verdana, "Open Sans", Tahoma,Helvetica,sans-serif; 
		color: #232323;
		/*background-color: #fff;*/
	margin: 0;
}

header {
	display: none;
}

#Microsoft_Licensed_Class_Manager_1_0 {
	display: none;
}

footer,
nav,
section {
		display: block;
}

.divLogin {
	position: absolute;
	top: 44px;
	left: 0;
	right: 0;
	bottom: 0;
}

#frmLoginForm {
	height: 100%;
}


#workframeset {
	position: absolute;
	left: 350px;
	right: 0;
	bottom: 0;
	overflow: auto;
   border: none!important;
	}

.DMI #menuframe {
	display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

textarea {
	-moz-resize: none;
	-ms-resize: none;
	-o-resize: none;
	resize: none;
}

.editor-label {
		margin: 1em 0 0 0;
}

.editor-field {
	margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
		color: #ff0000;
}

.field-validation-valid {
		display: none;
}

.input-validation-error {
		border: 1px solid #ff0000;
		background-color: #ffeeee;
}

.validation-summary-errors {
		font-weight: bold;
		color: #ff0000;
}

.validation-summary-valid {
		display: none;
}

/*NHRD - Lofty has probably inclued these for expediency but */
/* ------- Metro (or whatever it's called now) buttons etc */
.dashButton {
	-moz-min-width: 100px;
	-ms-min-width: 100px;
	-o-min-width: 100px;
	-webkit-min-width: 100px;
	 min-width: 100px;
	margin: 3px;
	padding: 0;
	 font-size: 15px; 
	 vertical-align: top;
	 padding: 3px;
}
				
.tile {
	margin: 0 0 500px;
	padding: 1px;
	/*color: rgb(255, 255, 255); */
	overflow: hidden;
	text-decoration: none;
}

.tile img {
	border: currentColor;
}

.tile:hover {
		padding: 0;
		border: 1px solid rgb(255, 255, 255);
	/*color: rgb(255, 255, 255); */
		text-decoration: none;
		-ms-box-shadow: 0 0 7px #fff;
		-moz-box-shadow: 0 0 7px #fff;
		-webkit-box-shadow: 0 0 7px #fff;
		box-shadow: 0 0 7px #fff;
}        
				
				 
									 
.subTitle {
	font-size: 26px;
	font-weight: lighter;
	text-decoration: none;
	/*color: White; */
	margin: 0;
}
				
.actionUnderline {
	 width: 100%;
	 height: 20px;
	 background-color: rgb(193, 216, 241);
}
				
/* ------- End of Metro (or whatever it's called now) buttons etc */

.splashDiv {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(7, 55, 99);
	/*background-image: url("../Content/images/OpenHRLogo2.png");*/
	background-image: url("../Content/images/ABSLogo/OpenHRLogo1024x768.png");
	/*background-image: url("../Content/images/ABSLogo/swirlsgreyscaleopacity26.png");*/
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
	display: none;
}


/* When the body has the loading class, we turn
	 the scrollbar off with overflow:hidden */
body.loading {
		overflow: hidden;   
}

/* Anytime the body has the loading class, our
	 modal element will be visible */
body.loading .modal {
		display: block;
}

#officebar > ul > li {
	display: none;
}

.ui-jqgrid .ui-jqgrid-btable {
	cursor: default;
}


.display-label {
	float: left;
	width: 25%;
}

.display-field {
	float: right;
	width: 73%;
}



/*Reports CSS created by Lofty - i think these custom ones can be replaced by exisitng ones but willkeep these as a record for now
	appended reports to each one for reference*/
.legendCentred {
	width: 100%;
	text-align: center;
}

.fieldsetLegendCentred {
	text-align: center;
}

.reportswrapper {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

.reportsinner {
	width: 100%;
}

.reportsleft {
	width: 50%;
	float: left;	
}

.reportsright {
	width: 50%;
	float: left;	
}

input[readonly="true"] {
	background-color: #F2F2F2 !important;
	color: #826D82;
	border-color: #ddd;
	pointer-events: none;
	cursor: default;
}

input[readonly="readonly"] {
	background-color: #F2F2F2 !important;
	color: #826D82;
	border-color: #ddd;
	pointer-events: none;
	cursor: default;
}

select.readonly {
	background-color: #F2F2F2 !important;
	color: #826D82;	
}

.fontsmall {
	font-size: small;
}

.fontsmaller {
	font-size: smaller;
}

.fontx-small {
	font-size: x-small;
}

.fontxx-small {
	font-size: xx-small;
}

.fontlarge {
	font-size: large;
}

.fontx-large {
	font-size: x-large;
}

.fontsmalltitle {
	/*font-size: small;*/
	font-weight: bold;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.vertaligntop {
	vertical-align: top;
}

.alignleft {
	text-align: left;
}

.displaynone {
	display: none;
}

.overflowxhidden {
	overflow-x: hidden;
}

.overflowyhidden {
	overflow-y: hidden;
}

.overflowauto {
	overflow: auto;
}

.hidden {
	visibility: hidden;
}

.width100 {
	width: 100%;
}

.width99 {
	width: 99%;
}

.width90 {
	width: 90%;
}

.width85 {
	width: 85%;
}

.width80 {
	width: 80%;
}

.width70 {
	width: 70%;
}

.width65 {
	width: 65%;
}

.width60 {
	width: 60%;
}

.width55 {
	width: 55%;
}

.width50 {
	width: 50%;
}

.width45 {
	width: 45%;
}

.width35 {
	width: 35%;
}

.width30 {
	width: 30%;
}

.width25 {
	width: 25%;
}

.width20 {
	width: 20%;
}

.width10 {
	width: 10%;
}

.height100 {
	height: 100%;
}

.height99 {
	height: 99%;
}

.height90 {
	height: 90%;
}

.height80 {
	height: 80%;
}

.height70 {
	height: 70%;
}

.height60 {
	height: 60%;
}

.height50 {
	height: 50%;
}

.height30 {
	height: 30%;
}

.height25 {
	height: 25%;
}

.height10 {
	height: 10%;
}





#report_definition_tab_columns #columnbuttons {
	/*width: 120px;
	margin-top: 10px;
	float: left;
	height: 400px;
	padding-top: 50px;*/
}

#colbtngrp1, #colbtngrp2, #colbtngrp3 {
	white-space: normal;
	margin-bottom: 30px;
	/*width: 110px;*/
}

#colbtngrp1 > input[type=button], #colbtngrp2 > input[type=button], #colbtngrp3 > input[type=button] {
	width: 100%;
}

#SelectedTableID {
	width: 300px;
	margin-bottom: 10px;
}

#columnsSelected, #columnsAvailable {
	/*padding-top: 20px;*/
	/*float: left;*/
	/*height: 600px;*/
	/*width: 35%;*/
}

/* Calendar Event Details*/
#LegendCharacter {width: 30px}
#frmPostCalendarEvent select {width: 100%;}
#frmPostCalendarEvent #EventName {width: 99%;}
#frmPostCalendarEvent #txtEventFilter{width: 84%;} 
#frmPostCalendarEvent fieldset {border:0}
#frmPostCalendarEvent .tablecell {padding-bottom: 5px}

#report_definition_tab_columns #columnbuttons input[type=button] {
	width: 120px;
	margin-bottom: 10px;
}

#report_definition_tab_order #columnbuttons {
	width: 110px;
	float: left;	
}

#report_definition_tab_order #columnbuttons input[type=button] {
	width: 110px;
	margin-bottom: 10px;
}


#report_definition_tab_order #sortorderbuttons input[type=button] {
	width: 110px;
	margin-bottom: 10px;
}

#tabs-2 #sortorderbuttons input[type=button] {
	width: 120px;
}

#report_definition_tab_eventdetails #eventbuttons input[type=button] {
	width: 120px;
}

.display-label_emails {
	width: 30%;
	float: left;
	/*margin-left:20px;*/
}

.display-textbox-emails {
	width: 345px;
	float: left;
	/*margin-bottom:0;*/
}


.display-label_crosstabs {
	width: 20%;
	float: left;
}

.CrosstabColumnWidth {
	width: 50%;
	float: left;
}


#outputdestinatonfieldset input[type=text] {
	width: 345px;
}

#tableOutputDestination input[type=text] {
	width: 99%;
	margin: 5px 0 5px 0;
}

#tableOutputDestination select {
	width: 100%;
	margin: 5px 0 5px 0;
}

.CrosstabIntersectionCheckBoxesWidth {
	width: 20%;
	float: left;
}

.CrosstabColumnWidthStartStopIncrement {
	width: 30px;
	float: left;
}

#HorizontalStart, #HorizontalStop, #HorizontalIncrement,
#PageBreakStart, #PageBreakStop, #PageBreakIncrement,
#VerticalStart, #VerticalStop, #VerticalIncrement {
	width: 140px;
	margin: 0 5px 0 5px;
	text-align: right;
}

#crosstabstartlegend {
	width: 100%;
	text-align: center;
}

#customreportschildtableheight {
	height: 300px;
}

.DataManagerOnly {
	color: #ff0000;	
}

.accesspermissionsgrid {
	width: 110px;
}

#AccessPermissions {
	width: 43%;
}


.bordernone {
	/*border-color:none;*/
	border-width: 0;
}

#cmdBaseFilter, #cmdParent1Picklist, #cmdBasePicklist,
#cmdParent1Filter, #cmdParent2Picklist, #cmdParent2Filter, 
#cmdEmailGroup, #cmdCustomStart, #cmdCustomEnd,
#cmdFilename,
#cmdBaseStartDateCalc,#cmdBaseEndDateCalc,
#btnGoLinkOrder, #btnGoLinkView, #cmdMatchPicklist, #cmdMatchFilter {
	float: left;
	padding: 2px 11px;
}


#btnGoLinkOrder, #btnGoLinkView {
  width:100%;
}


#cmdDescription3 {
	float: right;
	padding: 1px 11px;
}
#divPopupReportDefinition #cmdBaseFilter {
	float: right;
}

#divPopupReportDefinition #txtChildTableID {
	width: 65%;
	float: right;
}

#divPopupReportDefinition #TableID, 
#divPopupReportDefinition #FilterName,
#divPopupReportDefinition #OrderName,
#divPopupReportDefinition #Records {
	float: left;
	width: 30%;
}

#cmdEmailGroup {
	padding-bottom: 0;
}

#RelatedTableParent1AllRecordsDiv, #RelatedTableParent2AllRecordsDiv {
	margin-bottom: 7px;
	width: 100%;
}

#report_definition_tab_order .ui-jqgrid .ui-jqgrid-bdiv,
#divEventDetails .ui-jqgrid .ui-jqgrid-bdiv
{
	overflow-y: hidden !important;
}

#RelatedTablesParent1PicklistDiv, #RelatedTablesParent2PicklistDiv {
	margin-bottom: 4px;
	width: 100%;
}

 #selectiontypepicklistgroup, #selectiontypefiltergroup {
	/*margin-bottom: -11px;
	width:100%;
	border-style:none*/
}

 #selectiontypeallrecords {
	/*margin-bottom: -4px;*/
 }

#txtBaseFilter, #txtMatchFilter {
	margin-top: 2px;
	float: left;
}

#BaseTableID {
	/*width: 71%;*/
}

#PicklistRadioDiv, #FilterRadioDiv {
	/*width: 27.5%;*/
}

#DescriptionItems {
	/*margin-bottom: 7px;*/
}

#gbox_SelectedColumns {
	/*margin-left: 10px;*/
	/*margin-top: 13px;*/
}

#outputtabfilenametextbox {
	margin-left: 30%;
}


.genericbuttonpopupalignment {
	float: right;
	margin: 5px 0 5px 0;
}

#divExpressionSelectionButtons, #divSortOrderButtons, #divSelectOrder, 
#divLookupFindButtons, #divLinkFindButtons, #divEmailSelectionButtons {
	float: right;
	margin: 15px 0 5px 0;
}


#divExpressionSelectionButtons input[type=button], 
#divEmailSelectionButtons  input[type=button], 
#divChildTablesButtons input[type=button],
#divEventLogPurgeButtons input[type=button],
#divEventLogDeleteButtons input[type=button],
#divEventLogEmailSelectButtons input[type=button],
#divEventLogViewDetailsButtons input[type=button]
{
	width: 86px;
}

#divChildTablesButtons, 
#divEventLogPurgeButtons,
#divEventLogDeleteButtons,
#divEventLogEmailSelectButtons,
#divEventLogViewDetailsButtons
 {
	float: right;
	margin: 10px 0 5px 0;
}

#ReportChildTableRecordsDiv, 
#ReportChildTableOrderDiv, 
#ReportChildTableFilterDiv, 
#ReportChildTableDropdownDiv {
	padding-bottom: 5px;
}

#ReportChildTableFilterDiv #txtChildFilter, 
#ReportChildTableOrderDiv #txtFieldRecOrder {
		width: 92%;
}

#definitionPropertiesFields {
	padding-bottom: 20px;
}

#definitionPropertiesFields .inputProperty {
		width: 84%;
		margin-bottom: 5px;
	/*float:right;*/
}

#definitionusagediv {
	width: 400px;
}

#definitionPropertiesFields .labelProperty {
		display: inline-block;
		width: 14%;
		text-align: left;
}

#divPopupReportDefinition .ui-jqgrid-bdiv {
	overflow-x: hidden;
}

.ui-dialog .ui-dialog-buttonpane {
	 border-width: 0 !important;
}

.padbot5 {
	padding-bottom: 5px;
}

.padbot10 {
	padding-bottom: 10px;
}

.padbot15 {
	padding-bottom: 15px;
}

.padleft20 {
	padding-left: 20px;
}

.padleft45 {
	padding-left: 45px;
}

.margeTop10 {
	margin-top: 10px;
}

.margebot10 {
	margin-bottom: 10px;
}

.margebot5 {
	margin-bottom: 5px;
}

.bgpink {
	background-color: pink;
}

.bgaqua {
	background-color: aquamarine;
}

.bgpalegreen {
	background-color: palegreen;
}

.bggold {
	background-color: darkgoldenrod;
}

.startstopincrementcol {
	text-align: center;
}

#limheight {
	width: 80%;
	padding-left: 20px;
    -webkit-column-count: 8;
       -moz-column-count: 8;
	-ms-column-count: 8;
	-o-column-count: 8;
            column-count: 8; /*3 is just placeholder -- can be anything*/
}

#limheight li {
    display: inline-block;    
		width: 100px;
}

#tabs {
	background-image: none;
	border: none;
}

#LookupForEditableGridSelect, #LookupForEditableGridClear, #LookupForEditableGridCancel {
	float: right;
	margin: 10px 5px 5px 0;
}

.searchBoxIcons {
      width: 30px;
      margin-left: 5px;
	}

/* Set the vertical scrollbar for the result to display in accordian menu search */
.searchResultScrollbarHeight {
	max-height: 300px;
	overflow-y: auto;
	padding-right: 5px;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

.searchResultNormalFont {
	font-weight: normal !important;
}

.menuSearchTools {
   white-space: nowrap;
}

.menuSearchTools img {
   cursor: pointer;
}

.menuSearchTools .icon-search {
   font-size: 12pt;
   padding-top: 3px;
   color: darkgoldenrod;
}

.menuSearchTools span {
   padding: 0;
}

.menuSearchTools button {
   padding: 0;
}