html { 
	/*background: url("../Content/Images/ABSBack2.jpg") no-repeat center center fixed; */
	height: 100%;	
	/*background: url("../Content/Images/ABSBack1.jpg") no-repeat left center scroll; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	 
}	
		


body
{
    font-size: .85em;
    font-family: Segoe UI, Verdana, "Open Sans", Tahoma,Helvetica,sans-serif; 
    color: #232323;
    /*background-color: #fff;*/
    margin: 0px;
}

header,
footer,
nav,
section {
    display: block;
}


header { height: 126px;}

#frmLoginForm { height: 100%;}


#workframeset { position: absolute;
	top: 126px;
	left: 350px;
	right: 0;
	bottom: 0;
	overflow: auto;
	}

#workframe { height: 100%;}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


/* ------- Metro (or whatever it's called now) buttons etc */
.dashButton 
{
   min-width: 100px;
   /*width: 100px;
   height: 100px;           */
   margin: 3px; padding: 0px; 
   /*color: rgb(255, 255, 255); */
   /*font-family: Segoe UI, Verdana, "Open Sans", Tahoma,Helvetica,sans-serif; */
   font-size: 15px; 
   vertical-align: top;
   padding: 3px;
}
        
.tile {
	margin: 0px 0px 500px; padding: 1px; 
	/*color: rgb(255, 255, 255); */
	overflow: hidden; text-decoration: none; 
}
.tile:visited {
	/*color: rgb(255, 255, 255);*/
}
.tile img {
	border: currentColor;
}
.tile:hover {
	padding: 0px; border: 1px solid rgb(255, 255, 255); 
	/*color: rgb(255, 255, 255); */
	text-decoration: none; box-shadow: 0px 0px 7px #fff; -moz-box-shadow: 0 0 7px #fff; -webkit-box-shadow: 0 0 7px #fff;
}        
        
         
                   
.subTitle {
	font-size: 26px; font-weight: lighter; text-decoration: none; 
	/*color: White; */
	margin: 0px;
}
        
.actionUnderline 
{
   width: 100%;
   height: 20px;
   background-color: rgb(193, 216, 241);
          
}
        
.bkgimg 
{
   /*background-color: rgb(92, 135, 178);
	background: url("../Content/Images/bluebgrd.png") fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: repeat-y;      */
}

/* ------- End of Metro (or whatever it's called now) buttons etc */

.splashDiv {

	position: absolute;
	
	top: 0px;left: 0px;right: 0px;bottom: 0px;
	background-color: rgb(7, 55, 99);

	background-image: url("../Content/images/OpenHRLogo2.png");
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
	display: none;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0) 
                url("../Content/images/spinnerBig.gif") 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}


