/* reset (integrated to reduce number of HTTP requests) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption /*,table,tbody,tfoot,thead,tr,th,td*/ {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

strong, em {
	font-weight: normal;
	font-style: normal;
}
/* start */
body {
	margin: 0;
	font-family: arial;
	/* font-size:16px; */
	color: #666;
}

	body.msie {
		font-size: 100%;
	}
		/* add zoom:1 to all elements in IE (dirty but tiny footprint and works) */
		body.msie * {
			zoom: 1;
		}

		body.msie .wysiwyg * { /* ... Except when it doesn't, and starts screwing up floats and headings in WYSIWYG layouts, but you daren't removed it because you don't know how much of the rest of the site's styling depends on it... */
			zoom: 0;
		}

h1 {
	font-size: 1.7em;
	line-height: 34px;
	/*margin-top:35px;*/
	margin-top: 22px;
	margin-bottom: 10px;
}

h2 {
	font-size: 1.45px;
	line-height: 23px;
	margin: 5px 0;
}

h3 {
	font-size: 1.3em;
	line-height: 21px;
	margin-bottom: 1em;
}

h4 {
	font-size: 0.9em;
	line-height: 18px;
	margin-bottom: 1em;
}

h5, h6 {
	margin-bottom: 1em;
}

table {
	/*border-bottom:2px solid #ccc;*/
	margin: 10px 0 10px 0;
	width: 100%;
}

td, th {
	padding: 5px 2px;
}

table.list {
	font-size: 0.9em;
}

sup {
	vertical-align: super;
	font-size: 0.7em;
}

sub {
	vertical-align: sub;
	font-size: 0.7em;
}

.pagesubmenu {
	float: left;
	display: inline-block;
}

.pagecontent {
	float: left;
	display: inline-block;
}

a {
	text-decoration: none;
	cursor: pointer;
}

	a:hover,
	a:focus {
		text-decoration: underline;
	}


	a:visited {
		color: #669933;
	}

em.highlight {
	background: #FF9;
	font-style: normal !important;
	font-weight: bold;
}
/* Layouts */
.wrap {
	margin: 0 auto 10px auto;
	position: relative;
	width: 980px;
}

.pagehead,
.pagebody {
	overflow: hidden;
}

.pagecontent {
	padding: 10px;
}

.three-columns {
}

	.three-columns .pagecontent {
		float: left;
		width: 738px;
		margin-left: 10px;
	}

	.three-columns .pagesubcontent {
		float: right;
		width: 188px;
		display: inline-block;
	}

	.three-columns .pagesubmenu {
		float: left;
		width: 182px;
		margin-top: 10px;
	}

.two-columns {
}

	.two-columns .pagecontent {
		float: left;
		width: 738px;
		margin-left: 10px;
	}

	.two-columns .pagesubcontent {
		display: none;
	}

	.two-columns .pagesubmenu {
		float: left;
		width: 182px;
		margin-top: 10px;
	}

.one-column {
}

	.one-column .pagecontent {
		width: 100%;
	}

	.one-column .pagesubcontent,
	.one-column .pagesubmenu {
		display: none;
	}
/* Logo & search box*/
.pagehead {
	padding: 10px 0 15px 0;
}

	.pagehead #logocontainer {
		float: left;
		margin: 0 0 0 15px;
	}

.rcvs-award .pagehead .logo {
	margin: 0 0 0 0;
}

.rcvs-award .pagehead a.logo img {
	padding: 13px;
}

.rcvs-knowledge .pagehead .logo {
	margin: 15px 0 7px 25px;
}

.rcvs-awardingbodies .pagehead .logo {
	margin: 6px 0 7px 0;
}

.pagehead p.tagline {
	clear: both;
	margin: 0 0 0 10px;
	font-size: 10px;
	color: #017DB0;
}

.pagehead .search {
	margin-top: 20px;
	margin-right: 10px;
	font-size: 0.9em;
	float: right;
	width: 405px;
}

	.pagehead .search legend {
		display: none;
	}

	.pagehead .search input {
		font-size: 0.9em;
		margin: 0 0 5px 0;
	}

	.pagehead .search .input_text {
		float: left;
		width: 210px;
		color: #666;
		margin: 0 0 0 0;
	}

	.pagehead .search .input_submit {
		width: 65px;
	}

	.pagehead .search a {
		padding: 5px;
	}

	.pagehead .search form {
		margin: 0 0 0 0;
	}

#sitesearch-button {
	float: right;
	top: 14px;
}

body.msie6 #sitesearch-button,
body.msie7 #sitesearch-button {
	top: 5px;
}

#search_tips {
	float: left;
	font-size: 0.8em;
	margin: 0 10px 0 0;
}

	#search_tips:hover {
		cursor: pointer;
	}

	#search_tips span.label {
		/*position:relative;
				left:-5px;
				top:-1px;*/
		float: left;
		display: inline-block;
		margin-left: 3px;
		margin-top: 2px;
	}

	#search_tips .icon {
		background: url(../images/rcvs-sprite.gif) no-repeat -17px -37px;
		display: inline-block;
		height: 15px;
		width: 15px;
		float: left;
		margin: 0;
	}

body.rcvs-knowledge #search_tips .icon {
	background: url(../images/rcvs-knowledge-sprite.gif) no-repeat -17px -37px;
	display: inline-block;
	height: 15px;
	width: 15px;
	float: left;
}

body.rcvs-vet-finder #search_tips .icon {
	background: url(../images/rcvs-vet-finder-sprite.gif) no-repeat -17px -37px;
	display: inline-block;
	height: 15px;
	width: 15px;
	float: left;
}

body.rcvs-award #search_tips .icon {
	background: url(../images/rcvs-award-sprite.gif) no-repeat -17px -37px;
	display: inline-block;
	height: 15px;
	width: 15px;
	float: left;
}

.login {
	float: right;
	margin: 3px 0 0 0;
}

.pagehead .login a {
	padding: 0;
}
/* Main navigation styling */
.pagemenu {
	font-size: 0.8em;
	overflow: hidden;
}

	.pagemenu li {
		float: left;
	}

		.pagemenu li a {
			padding: 10px 9px;
			font-weight: bold;
			display: block;
		}

		.pagemenu li#nav_my-account,
		.pagemenu li#nav_my-knowledge-account,
		.pagemenu li#nav_register,
		.pagemenu li#nav_log-out,
		.pagemenu li#nav_login {
			float: right;
		}
/* Second navigation */
.pagesubmenu {
	margin: 0 0 10px 0;
}

	.pagesubmenu .nav {
		padding: 15px 5px;
		font-size: 0.75em;
		margin: 0 0 10px 0;
	}

		.pagesubmenu .nav li {
			padding: 7px 5px 7px 0px;
			margin: 0 15px;
			border-bottom: 1px solid #ddd;
			width:;
		}

			.pagesubmenu .nav li .arrow {
				background: url(../images/rcvs-sprite.gif) no-repeat -17px -37px;
				float: left;
				display: block;
				width: 15px;
				height: 13px;
			}

			.pagesubmenu .nav li.active .arrow {
				background-position: -35px -38px;
				margin: 2px 0 0 1px;
			}

			.pagesubmenu .nav li a {
				display: block;
				margin-left: 24px;
			}

			.pagesubmenu .nav li.level2 {
				padding: 4px 10px 4px 15px;
				font-size: 0.9em;
			}

				.pagesubmenu .nav li.level2 .arrow {
					background-position: -20px -21px;
					position: relative;
					left: 10px;
				}

			.pagesubmenu .nav li.active.level2 .arrow {
				background-position: -31px -21px;
				position: relative;
				left: 0;
			}

			.pagesubmenu .nav li.level2 a.active {
				font-weight: bold;
			}

			.pagesubmenu .nav li.level3 {
				margin: 2px 15px 2px 35px;
				font-size: 0.8em;
			}

				.pagesubmenu .nav li.level3 .arrow {
					display: none;
				}

				.pagesubmenu .nav li.level3 a {
					margin: 0;
				}




/* breadcrumbs */
.breadcrumbs {
	margin: 10px 0 0 0;
	padding: 8px 8px 8px 20px;
	font-size: 0.7em;
}

body.rcvs-vet-finder .breadcrumbs {
	padding-left: 25px;
}

.breadcrumbs ol {
	overflow: hidden;
}

.breadcrumbs li {
	margin: 0 3px 0 0;
	padding: 0 12px 0 0;
	float: left;
}

	.breadcrumbs li.branch {
		background: url(../images/crumbs_arrow.jpg) no-repeat center right;
	}

	.breadcrumbs li.label {
		padding: 0;
	}

.breadcrumbs a {
	text-decoration: underline;
}
/* content block */
.pagecontent {
	margin: 10px 0 0 0;
	min-height: 400px;
	padding: 0 25px;
}
/* WYSIWYG */
.wysiwyg {
	font-size: 0.9em;
	margin: 0;
}

	.wysiwyg li {
		line-height: 19px;
	}


	.wysiwyg h2 {
		border-bottom: 1px solid transparent;
		padding-bottom: 5px;
		font-size: 1.3em;
		margin: 10px 0;
	}

	.wysiwyg h3 {
		font-weight: normal;
		font-size: 1.2em;
	}

	.wysiwyg h4 {
		font-size: 1.1em;
	}

	.wysiwyg h5 {
		font-size: 1em;
	}

	.wysiwyg strong {
		font-weight: bold;
	}

	.wysiwyg em {
		font-style: italic;
	}

	.wysiwyg a {
		text-decoration: underline;
	}

		.wysiwyg a:link {
			color: #017DB0;
		}

		.wysiwyg a:visited {
			color: #57A0C9;
		}

	.wysiwyg p {
		margin-bottom: 10px;
		line-height: 1.4;
	}

p.warning {
	text-align: center;
	font-weight: bold;
	padding: 1em;
	background: #FFEAEA;
	color: #990000;
}

.wysiwyg p.standfirst {
	font-size: 1.35em;
	padding: 1em 0;
}

.wysiwyg p.pullquote {
	background: url(../images/rcvs-quote.gif) no-repeat 10px 10px;
	border: 2px solid #ececec;
	font-family: Georgia, serif;
	padding: 2em 1em 1em 1em;
	font-style: italic;
	font-size: 1.4em;
	width: 180px;
	float: right;
	margin: 1em 0 1em 1em;
}

.wysiwyg p.blockquote {
	border-left: 3px solid #017DB0;
	background: #ececec;
	padding: 1em;
	margin: 1em 0;
}

.wysiwyg p.summarybox {
	background: #ececec;
	padding: 1em;
	margin: 1em 0;
}

.wysiwyg p.letterbox {
	background: #017DB0 url(../images/rcvs-letter-corner.gif) no-repeat bottom right;
	padding: 1em;
	margin: 1em 0;
	color: #fff;
}

.wysiwyg p.documentbox {
	border: 1px solid #0093C9;
	padding: 1em;
	margin: 1em 0;
}

.wysiwyg p.image-left {
	margin: 0 16px 16px 0;
	float: left;
}

.wysiwyg p.image-right {
	margin: 0 0 16px 16px;
	float: right;
}

	.wysiwyg p.image-left img,
	.wysiwyg p.image-right img {
		padding: 5px;
	}

.wysiwyg ol,
.wysiwyg ul {
	padding: 0 0 0 1em;
	list-style: none;
	margin: 1em;
}

.wysiwyg ul {
	list-style: disc;
}


.wysiwyg ol.multi {
	list-style: none;
	padding: 0;
}

	.wysiwyg ol.multi > li:before {
		content: counter(chapter) ". ";
		counter-increment: chapter;
	}

.wysiwyg ol.start {
	counter-reset: chapter;
}

.wysiwyg ul li {
	padding: 0 0 0 14px;
	margin: 0.25em 0;
}
/* attached stuff */
.attached {
	margin: 10px 0 0 0;
}

	.attached h2 {
		padding: 6px 10px;
		font-size: 0.9em;
		font-weight: normal;
	}

body.msie6 .attached h2,
body.msie7 .attached h2 {
	margin-top: 0 !important;
}

.attached .in-attached {
	padding: 10px;
	overflow: hidden;
}

	.attached .in-attached img {
		width: 168px;
		overflow: hidden;
	}

#attached-links li {
	margin: 0 0 10px 0;
}

	#attached-links li span {
		font-size: 0.8em;
		display: block;
	}

	#attached-links li a {
		font-size: 0.8em;
	}

#attached-polls .in-attached {
	font-size: 0.8em;
}

#attached-polls legend {
	font-weight: bold;
	font-size: 1.2em;
}

#attached-polls .question {
	margin: 5px 0 10px 0;
}

#attached-polls .vote {
	margin: 10px 0 0 0;
}

#attached-documents li {
	font-size: 0.9em;
	margin: 5px 0;
	padding: 5px 30px 5px 0;
}

#attached-documents .info {
	font-size: 0.7em;
	display: block;
	margin: 5px 0 0 0;
}

#attached-documents h2 {
	background: #4F7627 !important;
	color: #FFF !important;
}

#attached-links h2 {
	background: #AD27AA !important;
	color: #FFF !important;
}

#attached-promotions .in-attached {
	font-size: 14px;
}

#attached-promotions .box {
	overflow: hidden;
}

	#attached-promotions .box h2 {
		background: #990000 !important;
		color: #FFF !important;
		margin: 0;
	}

#attached-promotions .promotion img {
	display: block;
}

#attached-promotions .box img {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

#attached-promotions .no-box {
	background: transparent;
}

	#attached-promotions .no-box .in-attached {
		padding: 0;
	}

	#attached-promotions .no-box h2 {
		background: transparent !important;
		color: inherit !important;
		padding: 0;
	}

#attached-basket h2 {
	background: #990000 !important;
	color: #FFF !important;
}

#attached-polls h2 {
	background: #0093C9;
	color: #FFF;
}

#attached-basket a {
	text-decoration: underline;
	font-size: 0.8em;
}

#attached-basket p {
	font-size: 0.9em;
	margin: 0 0 10px 0;
}
/* items list */
.items {
	border-top: 1px dotted #ccc;
	padding: 10px 0 0 0;
}

	.items .item {
		margin: 0 0 10px 0;
		padding: 0 0 10px 0;
		border-bottom: 1px dotted #ccc;
		height: 100%;
	}

	.items .item-title {
		font-size: 1.1em;
		margin: 0;
	}

		.items .item-title a:link {
			text-decoration: none;
		}

	.items .item-date {
		font-size: 0.7em;
		margin: 0 0 5px 0;
	}

	.items .item-summary {
		font-size: 0.9em;
	}

	.items .item-price {
		font-size: 0.8em;
		margin: 5px 0 0 0;
		clear: both;
	}

		.items .item-price strong {
			color: #e70e65;
		}

		.items .item-price a {
			color: #1f7499;
			padding-left: 4px;
		}

	.items .item-image {
		float: left;
	}

		.items .item-image img {
			width: 100px;
			margin: 0 10px 10px 0;
		}

.add-button,
.wysiwyg .add-button {
	padding: 0;
	vertical-align: middle;
}
/*#document-items div.item {
	min-height:145px;
}*/
.wysiwyg .paging {
	list-style: none;
	overflow: hidden;
	margin: 1em 0;
	padding: 0;
}

.paging li {
	float: left;
	margin: 0;
	overflow: hidden;
}

	.paging li a,
	.paging li span {
		display: block;
		padding: 2px 5px;
		text-decoration: none;
		float: left;
	}

		.paging li a:focus,
		.paging li a:hover {
			text-decoration: underline;
		}

.sitemap .icon,
.paging .icon {
	background: url(../images/rcvs-sprite.gif) no-repeat -15px -38px;
	margin: 4px 0 0 0;
	display: block;
	float: left;
	width: 15px;
	height: 13px;
	padding: 0;
}

.paging .previous .icon {
	background-position: 0px -38px;
}

.paging .previous {
	margin: 0 0 0 15px;
}

.paging .num {
	font-weight: bold;
}
/* bookmarks links */
.bookmarks {
}

	.bookmarks .in-attached span { /* Have to target ShareThis icons en-masse like this, because ShareThis's JS isn't bright enough to target elements *having* a class, instead of elements where the className attribute *is exactly* some class name... so we can't even *add* classnames to ShareThis code without breaking their javascript code. :-/ */
		margin: 2px;
	}

#bookmarks-help {
	padding-left: 10px;
	text-decoration: underline;
	font-weight: normal;
	font-size: 0.8em;
}

.bookmarks h2 {
	color: #FFF;
	background: #007DB1 !important;
}

	.bookmarks h2 a {
		color: #FFF;
		float: right;
	}


/* Page tools and footer styling */
.pagefoot,
.pagetools {
	font-size: 0.7em;
	overflow: hidden;
}

.pagetools {
	margin: 10px 0 10px 0;
}

.msie7 .pagetools {
	margin: 20px 0 10px 0;
}

.pagefoot {
	margin: 0 0 10px 0;
}

	.pagefoot .accessibility,
	.pagetools .menu {
		float: left;
		/*width:75%;*/
	}

		.pagetools .menu ul {
			overflow: hidden;
		}

			.pagetools .menu ul li {
				padding: 2px;
				float: left;
			}

	.pagefoot .credits,
	.pagetools .copyright {
		text-align: right;
		float: right;
		width: 23%;
	}

		.pagefoot .credits a {
			font-weight: bold;
		}
/* Forms */
form.forms {
	margin: 10px auto;
}

	form.forms fieldset {
		margin: 0 0 10px 0;
		background: #eee;
		padding: 10px;
		clear: both;
	}

	form.forms legend,
	form.forms .caption {
		font-weight: bold;
		font-size: 1.25em;
		padding: 2px 5px;
	}

	form.forms fieldset div {
		/*float: left;*/
	}

	form.forms div.field {
		overflow: hidden;
		margin: 5px 0;
	}

	form.forms div.label,
	form.forms div.input {
		width: 40%;
		float: left;
	}

	form.forms div.input {
		width: 50%;
	}

	.nowrap {
		white-space: nowrap;
	}

	form.forms div.label {
		border: 1px solid #eee;
		background: #eee;
		margin: 1px 2px 1px 17px;
		padding: 3px 5px 4px 5px;
		text-align: right;
	}

	form.forms select,
	form.forms textarea,
	form.forms input {
		margin: 1px 0 0 0;
		padding: 2px 5px;
		color: #555;
		/* width:100%; */
	}

form#contact-form textarea {
	width: 490px;
}



form.forms select {
	padding: 1px;
}

form.forms div.input div.multi {
	padding: 2px 5px;
}

	form.forms div.input div.multi label {
		padding: 0 5px;
	}

	form.forms div.input div.multi label,
	form.forms div.input div.multi input {
		width: auto;
	}

	form.forms div.input div.multi input {
		padding: 5px;
	}

form.forms div.button {
	margin: 10px 0 0 0;
	text-align: center;
}

	form.forms div.button input {
		font-weight: bold;
		cursor: pointer;
		width: auto;
	}

form.forms .star {
	color: red;
}

form.forms p {
	margin: 0 0 10px 0;
}

	form.forms p.subheading {
		font-size: 1em;
		font-weight: bold;
		padding-left: 5px;
	}

	form.forms p.intro {
		font-size: 0.9em;
		padding: 0 5px 5px 5px;
	}
/* fields error message */
form.forms .error {
	font-weight: bold;
	font-size: 0.85em;
	display: block;
	color: red;
}

.input_text,
.input_textarea,
.input_select,
.input_button,
.input_submit {
	padding: 5px;
}

.input_text {
}

.input_textarea {
}

.input_select {
}

.input_button,
.input_submit {
	border: none;
	font-weight: bold;
	cursor: pointer;
}

/* ReCaptcha overrides */
#recaptcha_table {
	border: 0 !important;
}

	#recaptcha_table .recaptcha_image_cell {
		background: transparent;
		border: none;
	}

#recaptcha_widget_div {
	float: left;
	width: 60%;
}

	#recaptcha_widget_div .recaptchatable tr {
		background: transparent;
	}

#recaptcha_response_field {
	border: 1px solid #CCC !important;
	box-sizing: border-box;
	width: 300px;
}

/* Accessiblity */
.accessibility {
	overflow: hidden;
	font-size: 0.9em;
}

	.accessibility li {
		float: left;
	}

	.accessibility a {
		background: #fff url(../images/accessibility.png) no-repeat 0px 0px;
		margin-right: 3px;
		text-indent: -1000000px;
		display: block;
		height: 26px;
		width: 26px;
	}

		.accessibility a.theme-graphic {
			background: transparent;
			position: relative;
			font-size: 1.2em;
			text-indent: 0px;
			display: inline;
			height: auto;
			width: auto;
			top: 10px;
		}

		.accessibility a.size-small {
			background-position: 0px 0px;
		}

			.accessibility a.size-small.active,
			.accessibility a.size-small:hover {
				background-position: 0px -30px;
			}

		.accessibility a.size-default {
			background-position: -29px 0px;
		}

			.accessibility a.size-default.active,
			.accessibility a.size-default:hover {
				background-position: -29px -30px;
			}

		.accessibility a.size-big {
			background-position: -58px 0px;
			margin-right: 10px;
		}

			.accessibility a.size-big.active,
			.accessibility a.size-big:hover {
				background-position: -58px -30px;
			}

		.accessibility a.theme-default {
			background-position: -87px 0px;
		}

		.accessibility a.theme-inverted {
			background-position: -145px 0px;
			margin-right: 10px;
		}

		.accessibility a.theme-contrast {
			background-position: -116px 0px;
		}

		.accessibility a.theme-default:hover {
			background-position: -87px -30px;
		}

		.accessibility a.theme-inverted:hover {
			background-position: -145px -30px;
		}

		.accessibility a.theme-contrast:hover {
			background-position: -116px -30px;
		}
/* Side links (currently under the submenu) */
#side-links {
	margin: 10px 0 0 0;
}

	#side-links li {
		margin: 0 0 8px 0;
	}

	#side-links a {
		display: block;
	}

	#side-links span {
		padding: 15px 10px;
		display: block;
		margin: 0 10px 0 0;
		font-size: 12px;
	}

#home-links ul#side-links {
	margin: 0;
}
/* Side site tools */
#site-tools {
	padding: 15px 10px 15px 20px;
	font-size: 0.8em;
}

	#site-tools a {
		display: block;
		padding: 5px;
	}

	#site-tools li {
		overflow: hidden;
	}

	#site-tools .text {
		padding: 6px 0 0 6px;
		display: block;
		width: 110px;
		float: left;
	}

	#site-tools .icon {
		width: 20px;
		height: 20px;
		display: block;
		float: left;
		margin: 1px 0;
	}

#pc_search .iconlist li {
	overflow: hidden;
}

#pc_search .iconlist .icon {
	background: url(../images/rcvs-sprite.gif) no-repeat -17px -37px;
	width: 30px;
	height: 30px;
	display: block;
	float: left;
	margin-right: 5px;
}

#pc_search .iconlist .alerts .icon {
}

#pc_search .iconlist .rss .icon {
	background-position: -29px -112px;
}

#tool-title {
	font-size: 1.2em;
	margin: 0 0 15px 0;
}

#tool-print .icon {
	background-position: 0 -225px;
}

#tool-sendtofriend .icon {
	background-position: 0 -246px;
}

#tool-feedback .icon {
	background-position: 0 -267px;
}

#tool-contact .icon {
	background-position: 0 -284px;
	margin-top: 2px;
}

/* exception for knowledge site */
body.rcvs-knowledge #tool-print .icon {
	background-position: -24px -225px;
}

body.rcvs-knowledge #tool-sendtofriend .icon {
	background-position: -24px -246px;
}

body.rcvs-knowledge #tool-feedback .icon {
	background-position: -24px -267px;
}

body.rcvs-knowledge #tool-contact .icon {
	background-position: -24px -284px;
	margin-top: 2px;
}

/* Flyout */
#flyout {
	background: #0093C9;
	position: absolute;
	height: 300px;
	z-index: 666;
	top: 157px;
	left: 10px;
	right: 10px;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
}

.font-small #flyout {
	top: 155px;
}

#dimmer {
	background: #fff;
	opacity: 0.9;
	filter: alpha(opacity=60);
	position: absolute;
	z-index: 665;
	top: 157px;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
}

#flyout #summary,
#flyout #links,
#flyout #preview {
	float: left;
}

#flyout #preview {
	float: right;
}

#flyout #summary,
#flyout #preview {
	width: 27%;
}

#flyout #links {
	width: 50%;
}

#flyout #clear {
	clear: both;
}

#flyout #summary {
	height: 280px;
}


.rcvs-knowledge #flyout .icon {
	background: url(../images/rcvs-knowledge-sprite.gif) no-repeat -17px -37px !important;
}




#flyout #summary p {
	/*margin:45px 20px 20px 20px;*/
	margin: 25px 20px 20px 20px;
	text-align: left;
	color: #fff;
	background-color: #017DB0;
	padding: 10px;
	height: 238px;
	overflow: hidden;
}

.rcvs-knowledge #flyout #summary p {
	background-color: #7C1372 !important;
}

.rcvs-vet-finder #flyout #summary p {
	background-color: #7C1372 !important;
}

.rcvs-award #flyout #summary p {
	background-color: #00B5CE !important;
}





#flyout #links ul {
	margin-top: 45px;
}

#flyout #links .flyoutsubnavadjust {
	/*margin:10px;*/
}

#flyout #links li {
	margin-right: 10px;
	display: block;
	height: 40px;
	float: left;
	width: 45%;
	padding: 0;
	margin: 0;
}

	#flyout #links li a {
		padding: 5px 5px 5px 20px;
		font-size: 1em;
		font-weight: normal;
		margin: 0 10px 0 0;
		height: auto;
	}

		#flyout #links li a:hover {
			text-decoration: underline;
		}

#preview-image {
	border: 25px solid #fff;
}

#preview-image,
#preview-image_mask {
	position: absolute;
	height: 270px;
	width: 185px;
	top: 15px;
}

#preview-image {
	height: 208px;
	top: 25px;
}

#preview-summary {
	background: #fff;
	position: absolute;
	font-size: 0.9em;
	top: 120px;
	height: 110px;
	width: 200px;
}

	#preview-summary p {
		padding: 10px 0;
		text-align: justify;
		line-height: 16px;
	}
/* list filters */
.multi-filters {
	overflow: hidden;
	padding: 10px 0;
}

div.filters {
	overflow: hidden;
	background: #ECEDED;
	margin: 10px 0 20px 0;
	padding: 10px;
}

.multi-filters .box {
	margin: 0 9px 0 0;
	height: 90px;
	float: left;
	margin-bottom: 15px;
}

.multi-filters .last {
	margin-right: 0;
}

.multi-filters .box40 {
	width: 37%;
	height: 90px;
	float: left;
	display: inline-block;
}

.msie7 .multi-filters .box40 legend {
	margin-left: -5px !important;
}

.multi-filters .box30 {
	width: 28%;
	height: 60px;
	float: left;
	display: inline-block;
}

	.multi-filters .box30 .rss {
		margin-top: 10px;
	}

.multi-filters .box20 {
	width: 20%;
	height: 90px;
	float: left;
	display: inline-block;
}

.box40 legend {
	padding-bottom: 10px;
}

.box40 .in-keywords {
	float: left;
	display: inline-block;
	width: 100px;
}

.box40 .input_submit {
	float: left;
	display: inline-block;
	width: 50px;
}

.box40 .button {
	float: left;
	display: inline-block;
}

.box20 .sectionlist {
	margin-top: 10px !important;
}

.box40 .input {
	width: 210px;
}

	.box40 .input .input_text {
		float: left;
		width: 130px;
		display: inline-block;
	}

	.box40 .input .input_submit {
		float: left;
		margin-top: -8px;
		display: inline-block;
	}




div.filters .iconlist,
div.filters .sectionlist {
	list-style: none;
	padding: 0;
	margin: 0;
}

	div.filters .iconlist img {
		margin-right: 10px;
		position: relative;
		top: 8px;
	}

div.filters legend,
div.filters strong {
	margin: 5px 5px 2px 5px;
	font-weight: normal;
	font-size: 1.3em;
	display: block;
}

div.filters strong {
	margin-top: 0;
}

#filter-button {
	background: transparent;
	opacity: 0.7;
	filter: alpha(opacity=70);
	/*position:relative;
		top:14px;*/
}

	#filter-button:focus,
	#filter-button:hover {
		opacity: 1;
		filter: alpha(opacity=100);
	}
/* Misc */
.jstabs-nav a:focus,
.jstabs-nav a:hover {
	text-decoration: underline;
}

.dev p {
	padding: 5px;
}

#flyout .icon {
	background: url(../images/rcvs-icons.png) no-repeat 0px 0px;
	float: left;
	display: block;
	width: 15px;
	height: 13px;
	margin: 0 5px 0 5px;
}

#flyout .icon {
	margin: 5px 5px 0 5px;
}

#home-news, #home-intouch, .pagecontent, .filters, .attached, .breadcrumbs,
.nav, #side-links a, .wysiwyg p[class], #site-tools, input, select, textarea,
#quicklinks, img, #home-ticker_wrap, form.forms {
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#side-links span {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
}

.attached h2, .jstabs li a {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	margin-bottom: 0;
}

form.forms fieldset {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}

/* IE rounded corner CSS */
.tl, .tr, .bl, .br {
	background: transparent no-repeat top left;
	display: block;
	position: absolute;
	width: 5px;
	height: 5px;
	z-index: 600;
}

.tl, .tr {
	top: 0;
}

.tl {
	background-image: url("../images/topleft.png");
	left: 0;
}

.tr {
	background-image: url("../images/topright.png");
	right: 0;
}

.bl, .br {
	bottom: 0;
}

.bl {
	background-image: url("../images/bottomleft.png");
	left: 0;
}

.br {
	background-image: url("../images/bottomright.png");
	right: 0;
}

div.filters .tl {
	background-image: url("../images/filter-topleft.jpg");
}

div.filters .tr {
	background-image: url("../images/filter-topright.jpg");
}

div.filters .bl {
	background-image: url("../images/filter-bottomleft.jpg");
}

div.filters .br {
	background-image: url("../images/filter-bottomright.jpg");
}

/* Colour Scheme */
/* grey background */
.wysiwyg p.box-blue,
.wysiwyg p.box-lightblue,
.wysiwyg p.box-green,
.wysiwyg p.box-purple,
.wysiwyg p.box,
.wysiwyg p.standout-blue,
.wysiwyg p.standout-lightblue,
.wysiwyg p.standout-green,
.wysiwyg p.standout-purple,
.wysiwyg p.standout,
.wysiwyg p.code,
body {
	background: #edf0f3;
}

h1, h2, h3, h4, th {
	color: #57A0C9;
}

a:link {
	color: #444;
}

a:visited {
	color: #666;
}

a:active {
	color: #000;
}

/* dark grey text */
a:hover, a:focus, .bookmarks li a, .bookmarks li a:focus, .bookmarks li a:hover,
.accessibility a.theme-graphic, #preview-summary {
	color: #333;
}

/* white background */
.pagehead, .pagesubmenu .nav, .pagecontent, .breadcrumbs, .attached, #side-links span, #site-tools {
	background: #fff;
}

	/* white text */
	.input_button:hover, .input_button:focus, .input_submit:hover, .input_submit:focus,
	.attached h2, #flyout #summary p, .jstabs li.active a, th,
	.jstabs li a:focus, .jstabs li a:hover, .dev, .jstabs li a, .pagemenu li a, .paging .active a, #primary table.list th a {
		color: #fff;
	}

		th.pollanswer {
			text-align: left;
			font-weight: normal;
			color: #666;
		}

/* very light grey text */
.input_button, .input_submit, form.forms .input_submit, form.forms div.button input {
	color: #eee;
}

	/* blue background */
	.input_button:hover, .input_button:focus,
	.input_submit:hover, .input_submit:focus,
	.paging .active a, .wysiwyg th {
		background: #017DB0;
	}

.wysiwyg th {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}

.wysiwyg tr:nth-child(odd),
.wysiwyg tr.odd {
	background: #ececec;
}

	.wysiwyg tr.odd td {
		background: #ececec !important;
	}

.wysiwyg tr.even td {
	background: white !important;
}


.wysiwyg thead th {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}



/* blue text */
.items .item .item-title a, .paging a, .paging li.previous a, .paging li.next a, #search_tips {
	color: #017DB0;
}

/* light blue background */
.input_button, .input_submit,
.pagemenu li#nav_register a, .pagemenu li#nav_login a,
.pagemenu li#nav_log-out a, .pagemenu li#nav_my-account a,
.pagemenu li#nav_my-knowledge-account a {
	background: #57A0C9;
}

.pagemenu li#nav_register ul a, .pagemenu li#nav_login ul a,
.pagemenu li#nav_log-out ul a, .pagemenu li#nav_my-account ul a,
.pagemenu li#nav_my-knowledge-account a {
	background: transparent;
}

/* light blue text */
.pagesubmenu .nav li.active a, div.filters legend, div.filters strong, .breadcrumbs a, #bookmarks-help, #attached-links a {
	color: #57A0C9;
}

#bookmarks-help {
	color: #FFF;
}

/*#side-links a:hover {
	background:#811D7E;
	color:#811D7E;
}*/

/* green text */
form.forms legend {
	color: #669933;
}
/*
#side-link2 a {
	background:#00B4CB;
}
#side-link3 a {
	background:#E70E65;
}
#side-link4 a {
	background:#017DB0;
}

#side-links a:hover span {
	color:#811D7E;
}*/
/* purple background */
#attached-links h2 {
	background: #017DB0;
}

/* purple text */
.jstabs-nav a, .items .item .item-title a:hover, .items .item .item-title a:focus {
	color: #0093C9;
}

.pagemenu {
	background: #017DB0;
}

	.pagemenu li.hover a,
	.pagemenu li a.active {
		background: #0093C9;
	}

.pagesubmenu .nav li.level2 a.active {
	color: #811D7F;
}

.pagesubmenu .nav li.level3 {
	background: #FFFFFF;
}

.wysiwyg p.standout-blue,
.wysiwyg p.standout-lightblue,
.wysiwyg p.standout-green,
.wysiwyg p.standout-purple,
.wysiwyg p.standout {
	border-left: 5px solid #666;
}

.wysiwyg p.code {
	border: 1px dotted #666;
}

.wysiwyg p.box-blue,
.wysiwyg p.box-lightblue,
.wysiwyg p.box-green,
.wysiwyg p.box-purple,
.wysiwyg p.box {
	border: 5px solid #ccc;
}

.wysiwyg p.border,
.wysiwyg p.border-blue,
.wysiwyg p.border-lightblue,
.wysiwyg p.border-green,
.wysiwyg p.border-purple {
	border: 1px solid #ccc;
}

.input_button,
.input_submit,
.wysiwyg p.box-blue,
.wysiwyg p.border-blue,
.wysiwyg p.standout-blue {
	border-color: #017DB0;
}

.wysiwyg p.box-lightblue,
.wysiwyg p.border-lightblue,
.wysiwyg p.standout-lightblue {
	border-color: #57A0C9;
}

.wysiwyg p.box-green,
.wysiwyg p.border-green,
.wysiwyg p.standout-green {
	border-color: #669933;
}

.wysiwyg p.box-purple,
.wysiwyg p.border-purple,
.wysiwyg p.standout-purple {
	border-color: #811D7F;
}

#attached-promotions h2 {
	background: #57A0C9;
}

#attached-polls legend {
	color: #57A0C9;
}

.input_text,
.input_textarea,
.input_select {
	border: 1px solid #ccc;
	background: #f9f9f9;
}

div.filters .input_text,
div.filters .input_textarea,
div.filters .input_select {
	margin: 3px 10px 0 0;
	float: left;
}

div.filters #choice_group {
	margin: 0 0 5px 0;
}

div.filters .input_text {
	margin-top: 4px;
	padding: 6px 5px 5px 5px;
	width: 300px;
}

div.filters .input_submit {
	padding: 3px;
}

div#news-items .item-image {
	display: block;
	width: 156px;
	height: 90px;
	float: left;
	background-position: center center;
	background-repeat: no-repeat;
}


#preview-image {
	background: #000;
}

form.forms fieldset {
	/*border-top:2px solid #669933;*/
}


form.forms div.required, div.label {
	border-color: #eee;
	background: #eee;
	color: #666666;
	/*border-color:#811D7F;
	background:#811D7F;
	color:#FFFFFF;	*/
}

form.forms .required-true .label label:after {
	color: red;
	content: " *";
}

form.forms div.required div.label span.star {
	color: red;
	font-weight: bold;
	font-size: 18px;
	line-height: 14px;
}



.jstabs li a {
	border-top: 1px solid #017DB0;
	border-right: 1px solid #017DB0;
	border-left: 1px solid #017DB0;
	background: #57A0C9;
}

	.jstabs li a:focus,
	.jstabs li a:hover {
		background: #017DB0;
	}

.jstabs li.active a {
	border-color: #669933;
	background: #669933;
}

.hide {
	display: none;
}

.dev {
	border-bottom: 1px solid #ffcc00;
	background: #cc0033;
}

ul.alpha {
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

/* Find a Vet Website */

body.rcvs-vet-finder .pagehead p.tagline {
	clear: both;
	margin: 0 0 0 10px;
	font-size: 10px;
	color: #017DB0;
}

body.rcvs-vet-finder .sitemap .icon, .paging .icon {
	background: url(../images/rcvs-vet-finder-sprite.gif) no-repeat -15px -38px;
}

body.rcvs-vet-finder .pagesubmenu .nav li .arrow {
	background: url(../images/rcvs-vet-finder-sprite.gif) no-repeat -17px -37px;
}

body.rcvs-vet-finder h1, body.rcvs-vet-finder h2, body.rcvs-vet-finder h3, body.rcvs-vet-finder h4, body.rcvs-vet-finder th {
	color: #669933;
}

body.rcvs-vet-finder .input_button:hover, body.rcvs-vet-finder .input_button:focus, body.rcvs-vet-finder .input_submit:hover, body.rcvs-vet-finder .input_submit:focus,
body.rcvs-vet-finder .attached h2, /*body.rcvs-vet-finder form.forms div.required div.label,*/ body.rcvs-vet-finder #flyout #summary p, body.rcvs-vet-finder .jstabs li.active a, body.rcvs-vet-finder th,
body.rcvs-vet-finder .jstabs li a:focus, body.rcvs-vet-finder .jstabs li a:hover, body.rcvs-vet-finder .dev, body.rcvs-vet-finder .jstabs li a, body.rcvs-vet-finder .pagemenu li a, body.rcvs-vet-finder .paging .active a, body.rcvs-vet-finder #primary table.list th a {
	color: #fff;
}

body.rcvs-vet-finder .feeds h2 {
	background: #669933;
}

body.rcvs-vet-finder .input_button:hover, body.rcvs-vet-finder .input_button:focus,
body.rcvs-vet-finder .input_submit:hover, body.rcvs-vet-finder .input_submit:focus,
body.rcvs-vet-finder .paging .active a, body.rcvs-vet-finder .wysiwyg th {
	background: #669933;
}

body.rcvs-vet-finder .paging li.active a {
	color: #FFFFFF;
}

body.rcvs-vet-finder .items .item .item-title a, body.rcvs-vet-finder .paging a, body.rcvs-vet-finder .paging li.previous a, body.rcvs-vet-finder .paging li.next a, body.rcvs-vet-finder #search_tips {
	color: #4F7627;
}

body.rcvs-vet-finder .items .item .item-title a {
	font-size: 1.1em;
	text-decoration: none;
}

	body.rcvs-vet-finder .items .item .item-title a:hover {
		color: #669933;
	}

body.rcvs-vet-finder .pagesubmenu .nav li.active a, body.rcvs-vet-finder div.filters legend, body.rcvs-vet-finder div.filters strong, body.rcvs-vet-finder .breadcrumbs a {
	color: #669933;
}

body.rcvs-vet-finder .pagemenu {
	background: #669933;
}

	body.rcvs-vet-finder .pagemenu li.hover a,
	body.rcvs-vet-finder .pagemenu li a.active {
		background: #4F7627;
	}

body.rcvs-vet-finder .pagesubmenu .nav li.level2 a.active {
	color: #811D7F;
}

body.rcvs-vet-finder .pagesubmenu .nav li.level3 {
	background: #FFFFFF;
}

body.rcvs-vet-finder #attached-polls h2 {
	background: #669933 !important;
}

body.rcvs-vet-finder #attached-promotions h2 {
	background: #669933;
}

body.rcvs-vet-finder .pagesubmenu .nav li.active a {
	color: #669933 !important;
}

body.rcvs-vet-finder ul.filter-links {
	list-style: none;
	margin: 1em 0 0;
	padding: 0;
}

	body.rcvs-vet-finder ul.filter-links li {
		display: inline;
		list-style: none;
		margin: 0 1em 0 0;
		padding: 0;
		font-weight: bold;
	}

		body.rcvs-vet-finder ul.filter-links li a {
			text-decoration: none;
		}

body.rcvs-vet-finder div#filter-accredited {
	min-height: 43px;
	line-height: 43px;
	position: relative;
	padding-left: 70px;
}

	body.rcvs-vet-finder div#filter-accredited img.rcvsaplogo {
		position: absolute;
		top: 0px;
		left: 0px;
	}

body.rcvs-vet-finder img.rcvsaplogo {
	border-radius: 0;
}

#filter-qualifications {
	width: 100%;
}

#advanced-search-training .field,
#advanced-search-practice-interests .field,
#advanced-search-animals .column {
	float: left;
	margin-right: 3em;
}

#advanced-search-practice-interests {
	margin-bottom: 15px;
}

div#results td.practice a {
	display: block;
	margin-bottom: 5px;
}

/* knowledge website */

body.rcvs-knowledge .pagehead {
	height: 104px;
}

body.rcvs-knowledge #logocontainer {
	padding: 20px 0 0 0;
}

body.rcvs-knowledge #attached-promotions h2 {
	background: #669933 !important;
	color: #FFF !important;
}

body.rcvs-knowledge .bookmarks h2 {
	background: #007DB1 !important;
}

body.rcvs-knowledge .pagesubmenu .nav li .arrow {
	background-image: url(../images/rcvs-knowledge-sprite.gif);
}

body.rcvs-knowledge .sitemap .icon,
body.rcvs-knowledge .paging .icon {
	background-image: url(../images/rcvs-knowledge-sprite.gif);
}

body.rcvs-knowledge .pagemenu li#nav_my-account a,
body.rcvs-knowledge .pagemenu li#nav_register a,
body.rcvs-knowledge .pagemenu li#nav_login a,
body.rcvs-knowledge .pagemenu li#nav_log-out a,
body.rcvs-knowledge .pagemenu li#nav_my-knowledge-account a {
	background: #AD27AA;
}

body.rcvs-knowledge .pagemenu li#nav_myaccount a {
	background: #AD27AA;
	margin-left: 3px;
	margin-right: 3px;
}

#nav_myaccount {
	float: right !important;
}

body.rcvs-knowledge .pagemenu li#nav_my-account ul a,
body.rcvs-knowledge .pagemenu li#nav_register ul a,
body.rcvs-knowledge .pagemenu li#nav_login ul a,
body.rcvs-knowledge .pagemenu li#nav_log-out ul a,
body.rcvs-knowledge .pagemenu li#nav_my-knowledge-account ul a {
	background: transparent;
}

body.rcvs-knowledge .pagemenu {
	background: #7C1372;
}

	body.rcvs-knowledge .pagemenu li.hover a,
	body.rcvs-knowledge .pagemenu li a.active,
	body.rcvs-knowledge #flyout {
		background: #AD27AA;
	}

body.rcvs-knowledge h1, body.rcvs-knowledge h2, body.rcvs-knowledge h3, body.rcvs-knowledge h4 {
	color: #AD27AA;
}

body.rcvs-knowledge #search_tips {
	color: #811D7F;
}

body.rcvs-knowledge * .attached h2,
body.rcvs-knowledge .attached h2 {
	color: #fff;
	font-weight: bold;
	background: #7C1372;
}

body.rcvs * .attached h2,
body.rcvs .attached h2 {
	color: #fff;
	font-weight: bold;
	background: #007DB1;
}

body.rcvs-knowledge #attached-links h2 {
	background: #7C1372;
}

body.rcvs-knowledge .pagesubmenu .nav li.active a {
	color: #7C1372 !important;
}

body.rcvs-knowledge #attached-polls h2 {
	background: #7C1372 !important;
}

body.rcvs-knowledge .pagesubmenu .nav li.active a, body.rcvs-knowledge div.filters legend, body.rcvs-knowledge div.filters strong, body.rcvs-knowledge .breadcrumbs a, body.rcvs-knowledge #attached-links a {
	color: #AD27AA;
}

body.rcvs-knowledge .items .item .item-title a, body.rcvs-knowledge .paging a, body.rcvs-knowledge .paging li.previous a, body.rcvs-knowledge .paging li.next a, body.rcvs-knowledge #search_tips {
	color: #AD27AA;
}

	body.rcvs-knowledge .items .item .item-title a:hover {
		color: #7C1372;
	}

body.rcvs-knowledge .paging li.active a {
	color: #FFFFFF;
}

body.rcvs-knowledge .input_button:hover, body.rcvs-knowledge .input_button:focus,
body.rcvs-knowledge .input_submit:hover, body.rcvs-knowledge .input_submit:focus,
body.rcvs-knowledge .paging .active a, body.rcvs-knowledge .wysiwyg th {
	background: #AD27AA;
}

body.rcvs-knowledge .input_button, body.rcvs-knowledge .input_submit {
	background: #7C1372;
}

body.rcvs-knowledge form.forms legend {
	color: #7C1372;
}

/* Award website */
body.rcvs-award .pagemenu li#nav_register a,
body.rcvs-award .pagemenu li#nav_login a,
body.rcvs-award .pagemenu li#nav_log-out a,
body.rcvs-award .pagemenu li#nav_my-account a,
body.rcvs-award .pagemenu li#nav_my-knowledge-account a {
	background: #0094AD;
}

body.rcvs-award .pagemenu li#nav_my-account ul a,
body.rcvs-award .pagemenu li#nav_register ul a,
body.rcvs-award .pagemenu li#nav_login ul a,
body.rcvs-award .pagemenu li#nav_log-out ul a,
body.rcvs-award .pagemenu li#nav_my-knowledge-account ul a {
	background: transparent;
}

body.rcvs-award .pagemenu {
	background: #00B5CE;
}

	body.rcvs-award .pagemenu li.hover a,
	body.rcvs-award .pagemenu li a.active,
	body.rcvs-award #flyout {
		background: #0094AD;
	}

body.rcvs-award .pagehead p.tagline {
	clear: both;
	margin: 0 0 0 10px;
	font-size: 10px;
	color: #00B5CE;
}

body.rcvs-award h1, body.rcvs-award h2, body.rcvs-award h3, body.rcvs-award h4 {
	color: #0094AD;
}

body.rcvs-award #search_tips {
	color: #0094AD;
}

body.rcvs-award * .attached h2,
body.rcvs-award .attached h2 {
	color: #fff;
	font-weight: bold;
	background: #0094AD;
}

body.rcvs-award #attached-links h2 {
	background: #00B5CE;
}

body.rcvs-award #attached-polls h2 {
	background: #0094AD!important;
	color: #FFF!important;
}

body.rcvs-award .pagesubmenu .nav li.active a {
	color: #0094AD !important;
}

body.rcvs-award .input_button:hover, body.rcvs-award .input_button:focus,
body.rcvs-award .input_submit:hover, body.rcvs-award .input_submit:focus,
body.rcvs-award .paging .active a, body.rcvs-award .wysiwyg th {
	background: #0094AD;
}

body.rcvs-award .items .item .item-title a, body.rcvs-award .paging a, body.rcvs-award .paging li.previous a, body.rcvs-award .paging li.next a, body.rcvs-award #search_tips {
	color: #00B5CE;
}

	body.rcvs-award .items .item .item-title a:hover {
		color: #0094AD;
	}

body.rcvs-award .paging li.active a {
	color: #FFFFFF;
}

/* iMIS pages style */
.nximis {
}

	.nximis form {
		font-size: 0.9em;
	}

		.nximis form legend {
			display: none;
		}

		.nximis form .StandardPanel {
			border: 1px solid #ccc;
			margin: 10px 0 0 0;
			padding: 10px;
		}

	.nximis .PanelHead {
		background: #eee no-repeat center center;
		font-weight: bold;
		margin: 0;
		padding: 5px 10px;
	}
/* accessibility skins */
body.font-small {
	font-size: 0.9em;
}

body.font-large {
	font-size: 1.1em;
}

.skin-contrast {
}

.skin-inverted {
	background: #000;
	color: #ccc;
}

	.skin-inverted #dimmer {
		background-color: #000;
	}

	.skin-inverted a:link,
	.skin-inverted a:active,
	.skin-inverted a:visited {
		color: #fff;
	}

	.skin-inverted a:hover,
	.skin-inverted a:focus {
		font-weight: bold;
	}

	.skin-inverted .wysiwyg p.box-blue,
	.skin-inverted .wysiwyg p.box-lightblue,
	.skin-inverted .wysiwyg p.box-green,
	.skin-inverted .wysiwyg p.box-purple,
	.skin-inverted .wysiwyg p.box,
	.skin-inverted .wysiwyg p.standout-blue,
	.skin-inverted .wysiwyg p.standout-lightblue,
	.skin-inverted .wysiwyg p.standout-green,
	.skin-inverted .wysiwyg p.standout-purple,
	.skin-inverted .wysiwyg p.standout,
	.skin-inverted .wysiwyg p.code,
	.skin-inverted .pagehead,
	.skin-inverted .pagesubmenu .nav,
	.skin-inverted .pagecontent,
	.skin-inverted .pagemenu,
	.skin-inverted .breadcrumbs,
	.skin-inverted .attached,
	.skin-inverted #side-links span,
	.skin-inverted #site-tools,
	body.skin-inverted {
		border: 1px solid #ccc;
		background: #000;
		color: #fff;
	}

	.skin-inverted .pagehead {
		border: none;
	}

	.skin-inverted table tr,
	.skin-inverted .wysiwyg table tr td {
		background: #000 !important;
	}

	.skin-contrast .tr, .skin-contrast .tl,
	.skin-contrast .br, .skin-contrast .bl,
	.skin-inverted .tr, .skin-inverted .tl,
	.skin-inverted .br, .skin-inverted .bl {
		display: none;
	}

.skin-contrast {
	background: #FFFF73;
	color: #000;
}

	.skin-contrast #dimmer {
		background-color: #FFFF73;
	}

	.skin-contrast a:link,
	.skin-contrast a:active,
	.skin-contrast a:visited {
		color: #000;
	}

	.skin-contrast a:hover,
	.skin-contrast a:focus {
		font-weight: bold;
	}

	.skin-contrast .wysiwyg p.box-blue,
	.skin-contrast .wysiwyg p.box-lightblue,
	.skin-contrast .wysiwyg p.box-green,
	.skin-contrast .wysiwyg p.box-purple,
	.skin-contrast .wysiwyg p.box,
	.skin-contrast .wysiwyg p.standout-blue,
	.skin-contrast .wysiwyg p.standout-lightblue,
	.skin-contrast .wysiwyg p.standout-green,
	.skin-contrast .wysiwyg p.standout-purple,
	.skin-contrast .wysiwyg p.standout,
	.skin-contrast .wysiwyg p.code,
	.skin-contrast .pagehead,
	.skin-contrast .pagesubmenu .nav,
	.skin-contrast .pagecontent,
	.skin-contrast .pagemenu,
	.skin-contrast .breadcrumbs,
	.skin-contrast .attached,
	.skin-contrast #side-links span,
	.skin-contrast #site-tools,
	body.skin-contrast {
		border: 1px solid #666;
		background: #FFFF73;
		color: #000;
	}

	.skin-contrast .pagehead {
		border: none;
	}

body.gfx-low img {
	visibility: hidden;
}

body.gfx-low * {
	background-image: none;
}

.accessibility a {
	background: #fff url(../images/accessibility.png) no-repeat 0px 0px;
}


.pagesubmenu .nav li.active a {
	color: #017DB0 !important;
}

li {
	zoom: 0 !important;
}

ul {
	zoom: 0 !important;
}

/*.shopbasketimage
{
	float:right;
	display:inline-block;
	width:200px;
}

.shopbasketinfo
{
	float:left;
	display:inline-block;
	witdth:200px;
}
*/

.shopinforight {
	float: right;
	display: inline-block;
	width: 200px;
}

.hrlineleft {
	float: left;
	display: inline-block;
	width: 542px;
}

.shopinfoleft {
	float: left;
	display: inline-block;
	width: 300px;
}

.intro {
	/*display:none;*/
}

.accesstext {
	float: left;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	margin-left: 15px;
	margin-top: 5px;
}


/* Imis style changes*/
.PanelField {
	text-align: center !important;
}

	.PanelField input {
		width: 52% !important;
	}


/* side link colors */
#side-link1 a {
	background: #669933;
}

	#side-link1 a:hover {
		color: #669933;
	}

#side-link2 a {
	background: #00B4CB;
}

	#side-link2 a:hover {
		color: #00B4CB;
	}

#side-link3 a {
	background: #7C1372;
}

	#side-link3 a:hover {
		color: #7C1372;
	}

body.rcvs-knowledge #side-link1 a {
	background: #7C1372;
}

	body.rcvs-knowledge #side-link1 a:hover {
		color: #7C1372;
	}

body.rcvs-knowledge #side-link2 a {
	background: #990000;
}

	body.rcvs-knowledge #side-link2 a:hover {
		color: #990000;
	}

body.rcvs-knowledge #side-link3 a {
	background: #017DB0;
}

	body.rcvs-knowledge #side-link3 a:hover {
		color: #017DB0;
	}

body.rcvs-vet-finder #side-link1 a {
	background: #017DB0;
}

	body.rcvs-vet-finder #side-link1 a:hover {
		color: #017DB0;
	}

body.rcvs-vet-finder #side-link2 a {
	background: #00B4CB;
}

	body.rcvs-vet-finder #side-link2 a:hover {
		color: #00B4CB;
	}

body.rcvs-vet-finder #side-link3 a {
	background: #7C1372;
}

	body.rcvs-vet-finder #side-link3 a:hover {
		color: #7C1372;
	}

body.rcvs-award #side-link1 a {
	background: #669933;
}

	body.rcvs-award #side-link1 a:hover {
		color: #669933;
	}

body.rcvs-award #side-link2 a {
	background: #017DB0;
}

	body.rcvs-award #side-link2 a:hover {
		color: #017DB0;
	}

body.rcvs-award #side-link3 a {
	background: #7C1372;
}

	body.rcvs-award #side-link3 a:hover {
		color: #7C1372;
	}



body.rcvs #site-tools .icon {
	background-image: url(../images/rcvs-sprite.gif);
}

body.rcvs-knowledge #site-tools .icon {
	background-image: url(../images/rcvs-knowledge-sprite.gif);
}

body.rcvs-vet-finder #site-tools .icon {
	background-image: url(../images/rcvs-vet-finder-sprite.gif);
}

body.rcvs-award #site-tools .icon {
	background-image: url(../images/rcvs-award-sprite.gif);
}

body.rcvs #site-tools .icon,
body.rcvs-knowledge #site-tools .icon,
body.rcvs-vet-finder #site-tools .icon,
body.rcvs-award #site-tools .icon {
	background-repeat: no-repeat;
}

/* knowledge WYSIWYG */

p.charity {
	clear: both;
	padding: 10px 0 0 0;
	color: #333;
	line-height: 14px;
}

body.rcvs-knowledge .wysiwyg p.pullquote {
	background: url(../images/rcvs-quote-purple.gif) no-repeat 10px 10px;
	border: 2px solid #ececec;
	font-family: Georgia, serif;
	padding: 2em 1em 1em 1em;
	font-style: italic;
	font-size: 1.4em;
	width: 180px;
	float: right;
	margin: 1em 0 1em 1em;
}

body.rcvs-knowledge .wysiwyg p.blockquote {
	border-left: 3px solid #7C1372;
	background: #ececec;
	padding: 1em;
	margin: 1em 0;
}

body.rcvs-knowledge .wysiwyg p.summarybox {
	background: #ececec;
	padding: 1em;
	margin: 1em 0;
}

body.rcvs-knowledge .wysiwyg p.letterbox {
	background: #AD27AA url(../images/rcvs-letter-corner-purple.gif) no-repeat bottom right;
	padding: 1em;
	margin: 1em 0;
	color: #fff;
}

body.rcvs-knowledge .wysiwyg p.documentbox {
	border: 1px solid #811D7F;
	padding: 1em;
	margin: 1em 0;
}

body.rcvs-knowledge .wysiwyg a:link {
	color: #AD27AA;
}

body.rcvs-knowledge .wysiwyg a:visited {
	color: #811D7F;
}

/* Awards WYSIWYG */

body.rcvs-award .wysiwyg p.pullquote {
	background: url(../images/rcvs-quote-seablue.gif) no-repeat 10px 10px;
	border: 2px solid #ececec;
	font-family: Georgia, serif;
	padding: 2em 1em 1em 1em;
	font-style: italic;
	font-size: 1.4em;
	width: 180px;
	float: right;
	margin: 1em 0 1em 1em;
}

body.rcvs-award .wysiwyg p.blockquote {
	border-left: 3px solid #00B5CE;
	background: #ececec;
	padding: 1em;
	margin: 1em 0;
}

body.rcvs-award .wysiwyg p.summarybox {
	background: #ececec;
	padding: 1em;
	margin: 1em 0;
}

body.rcvs-award .wysiwyg p.letterbox {
	background: #00B5CE url(../images/rcvs-letter-corner-seablue.gif) no-repeat bottom right;
	padding: 1em;
	margin: 1em 0;
	color: #fff;
}

body.rcvs-award .wysiwyg p.documentbox {
	border: 1px solid #00B5CE;
	padding: 1em;
	margin: 1em 0;
}

body.rcvs-award .wysiwyg a:link {
	color: #00B5CE;
}

body.rcvs-award .wysiwyg a:visited {
	color: #00B5CE;
}

/* Findavet WYSIWYG */

body.rcvs-vet-finder .wysiwyg p.pullquote {
	background: url(../images/rcvs-quote-green.gif) no-repeat 10px 10px;
	border: 2px solid #ececec;
	font-family: Georgia, serif;
	padding: 2em 1em 1em 1em;
	font-style: italic;
	font-size: 1.4em;
	width: 180px;
	float: right;
	margin: 1em 0 1em 1em;
}

body.rcvs-vet-finder .wysiwyg p.blockquote {
	border-left: 3px solid #669933;
	background: #ececec;
	padding: 1em;
	margin: 1em 0;
}

body.rcvs-vet-finder .wysiwyg p.summarybox {
	background: #ececec;
	padding: 1em;
	margin: 1em 0;
}

body.rcvs-vet-finder .wysiwyg p.letterbox {
	background: #669933 /*url(../images/rcvs-letter-corner-green.gif) no-repeat bottom right*/;
	padding: 1em;
	margin: 1em 0;
	color: #fff;
}

body.rcvs-vet-finder .wysiwyg p.documentbox {
	border: 1px solid #669933;
	padding: 1em;
	margin: 1em 0;
}

body.rcvs-vet-finder .wysiwyg a:link {
	color: #669933;
}

body.rcvs-vet-finder .wysiwyg a:visited {
	color: #669933;
}

#attached-polls legend {
	display: none;
}

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .clearfix {
	zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
	zoom: 1;
}
/* IE7 */



/**
 * Supporting guidance =========================================================
 */
#guidance-items {
	border-top: 0;
}

	#guidance-items .item-title {
		padding: 0;
	}

#guidance-search .input_text {
	float: left;
	margin-right: 5px;
	width: 110px;
}

#guidance-search .input_submit {
	padding: 0;
}

#guidance-search .code-download {
	background: url(/themes/rcvs-new/front-end/gfx/files/PDF.gif) no-repeat top right;
	font-size: 0.9em;
	margin-top: 10px;
	padding-right: 30px;
}

	#guidance-search .code-download .info {
		font-size: 0.7em;
		display: block;
		margin: 5px 0 0 0;
	}

#guidance-nav {
	border-top: 1px solid #DDD;
	margin-bottom: 1em;
	padding-top: 1em;
	text-align: center;
}

#guidance-prev-link {
	float: left;
}

#guidance-next-link {
	float: right;
}

#guidance-search .code-mobile {
	background: url(/themes/rcvs-new/front-end/gfx/app-icon.png) no-repeat top right;
	font-size: 0.9em;
	margin-top: 20px;
	padding-right: 30px;
}

.mobile-banner {
	margin: 0 0 1em 0;
	padding: 1em;
	background: #3B90C4;
	color: #FFF;
	border-radius: 4px;
}

	.mobile-banner h2 {
		color: #FFF;
		margin: 0;
	}

	.mobile-banner p {
		margin: 0.25em 0 0 0;
	}

		.mobile-banner p a:link,
		.mobile-banner p a:visited {
			color: #FFF;
		}

/* Cookie notification widget */

#cookie-notification.open {
	background: #000;
	padding: 1.5em 1em 1em 1em;
	text-align: left;
	line-height: 1.4;
}

#cookie-notification .inner {
	width: 750px;
	margin: 0 auto;
	overflow: hidden;
}

#cookie-notification h2 {
	float: left;
	font-weight: bold;
	margin: 0 1em 0 0;
	font-size: 1em;
	color: #FFF;
	text-align: right;
}

#cookie-notification p {
	width: 380px;
	float: left;
	margin: 0;
	padding: 0;
	color: #AAA;
	text-align: left;
}

	#cookie-notification p strong {
		color: #EEE;
	}


#cookie-notification ul {
	color: #FFF;
	width: 220px;
	float: right;
	margin: 0;
	padding: 0;
	list-style: circle inside;
}

#cookie-notification li {
	margin: 0;
	padding: 0;
}

#cookie-notification a {
	color: #FFF;
}

/* Cookie preference widget */

#cookie-widget {
}

	#cookie-widget form {
	}

	#cookie-widget fieldset {
		border: none;
		padding: 2em 1em 1em 1em;
		background: #EEE;
	}

	#cookie-widget legend {
		margin: 0;
		padding: 0;
		font-size: 1.5em;
		font-weight: bold;
		position: relative;
		top: 1.4em;
	}

	#cookie-widget label {
		font-weight: bold;
		display: block;
		font-size: 1.2em;
		line-height: 1.5;
	}

	#cookie-widget ul {
		display: block;
		margin: 1em 0;
		padding: 0;
		list-style: none;
		border-top: 1px dotted #999;
	}

		#cookie-widget ul ul {
			border: none;
			list-style: circle inside;
		}

	#cookie-widget li {
		margin: 0;
		padding: 1em 1em 1em 3em;
		border-bottom: 1px dotted #999;
		position: relative;
	}

		#cookie-widget li li {
			border: none;
			padding: 0 0 0 1em;
		}

		#cookie-widget li input {
			position: absolute;
			top: 1.5em;
			left: 1em;
		}

	#cookie-widget .submit {
		text-align: right;
	}

/* Find A Vet additional stuff */

p.findavet-links {
	margin: 10px 0 35px 0;
}

	p.findavet-links a {
		padding: 5px 10px;
		background: #669933;
		color: #FFF !important;
		font-weight: bold;
		text-decoration: none;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

		p.findavet-links a#new-search {
			margin: 0 0 0 20px;
		}

p.findavet-cats a {
	text-decoration: none;
}

td.practice span {
	color: #669933;
	padding: 5px 0 0 0;
	display: block;
}

span.referral {
	text-align: right;
	margin-right: 5px;
}

	span.referral a {
		text-decoration: none;
	}

/* Check the Register new styling */

#register-results {
}

.register-item {
	margin: 0 0 10px 0;
}

	.register-item h4 {
		color: #666 !important;
		font-weight: normal;
		border-bottom: 1px dotted #CCC;
		margin: 5px 0;
		padding: 5px 0;
	}

		.register-item h4 span {
			font-weight: normal;
			font-size: 14px;
			margin: 0 0 0 10px;
		}

	.register-item p {
		margin: 0 0 5px 0;
		font-size: 12px;
	}

		.register-item p span.right {
			float: right;
		}

		.register-item p span.bold {
			font-weight: bold;
		}

.register-break {
	border-bottom: 1px dotted #669933;
	margin: 1px 0;
}

body.rcvs .register-break {
	border-color: #017DB0;
}

.msie .register-break {
	zoom: 0;
}

form#order-register {
	background: #669933;
	padding: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

body.rcvs form#order-register {
	background: #017DB0;
}

form#order-register .field {
	float: left;
}

form#order-register select {
	width: 300px;
	padding: 5px;
	border: none;
	color: #666;
	font-weight: bold;
	font-size: 12px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

.msie7 form#order-register .submit input {
	padding: 0;
}

form#order-register select option {
	margin: 5px 0;
	color: #666;
	font-weight: bold;
	font-size: 12px;
}

form#order-register .submit input {
	background: #FFF;
	padding: 5px;
	margin: 0 0 0 10px;
	border: none;
}

body.msie7 #bookmarks-help {
	margin-top: -23px;
}

body.msie7 .bookmarks span.stButton {
	margin-right: 6px;
}

body.msie7 .bookmarks span.st_sharethis span.stButton {
	margin-right: 0px;
}


/* Our additions*/
.ui-datepicker-calendar th {
	color: #57A0C9;
}

.ui-icon-help {
	background: url(../Themes/rcvs-new/front-end/gfx/helpIcon.png) no-repeat
}

.field-validation-error {
	white-space: nowrap;
	color: red;
}

.popup fieldset {
	margin: 0 20px 0 20px!important;
}

textarea {
	height: 100px;
	width: 100%;
}

.submittedOK { color: red; }

.hidden { display: none;}