/* Reset */
html, body, div, span {
    margin: 0;
    padding: 0;
    border: 0;
}
/* Site styling */
body {
    font-family: verdana;
    font-size: 8pt;
}

/* Buttons */
input[type="button"]::-moz-focus-inner { border: 0; padding: 0; }
input[type="button"] { padding: 0px; }

/* Frames */
fieldset, legend { padding: 0px; margin: 0px; }
     
legend { margin-left: 5px; margin-right:5px; padding-left: 2px; padding-right: 2px; } 
     
/* Record Selectors */
.recordSelector {
    text-align: left;
}
.recordSelector tr {
    cursor: pointer;
    overflow: hidden;
}
.recordSelector td {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid gray;
}
.highlighted { background: yellow; }

/* Textboxes */
textarea {
     resize: none;
}

/* Checkboxes */
.checkbox {
    position: relative;
    text-align: left;
}
.checkbox input {
    width: 14px;
    height: 14px;
    margin: 0;
    padding: 0;
}
.checkbox.left input {
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -7px;
}
.checkbox.right input {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -7px;
}
.checkbox.left label {
    margin-left: 18px;
}
.checkbox.android input {
    margin-top: -12px;
}
/* Radio List */
.radioList {
    border-collapse: collapse;
    border-spacing: 0;
    z-index: 1;
    text-align: left;
}
.radioList input {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.radioList label {
    vertical-align: middle;
    margin-left: 4px;
}
.radioList.android input 
{
    position: relative;
    top: -3px;
}

/* Dates */
.ui-datepicker {
    z-index: 5 !important;
    font-size: 11px !important;
}
.ui-datepicker th {
    padding-bottom: 0.4em !important; 
    padding-top: 0.4em !important; 
}
.ui-datepicker-trigger {
    position: absolute;
    right: 2px;
    top: 50%;
    margin-top: -8px;
}
.ui-datepicker.ui-corner-all, .ui-datepicker .ui-corner-all {
    border-radius: 0px !important;
}

/* Numeric */
.numeric {
    text-align: right;
}

/* Overlay */
#divOverlay {
     display: none; 
     position: fixed; 
     left: 0; 
     top: 0; 
     width: 100%; 
     height: 100%; 
     z-index: 100; 
     background-color: black; 
     filter: alpha(opacity=20); 
     opacity: 0.2;
}

/* Wait Indicator */
#pleasewaitScreen {
    display: none;
    position:absolute;
    width:130px;
    top:30%;
    left:50%;
    margin-left:-75px;
    border: black 1px solid; 
    padding:10px;
    font-family: Verdana;
    font-size: 10pt;
    color: black; 
    background-color: white; 
    text-align: center;
    z-index: 101;
}

/* Error Message Panel */
#errorMessagePanel {
    position: absolute; 
    bottom: 0px; 
    left: 0px; 
    right: 0px; 
    z-index: 10; 
    background-color: white; 
    text-align: left; 
    padding: 5px; 
    border: 1px solid;
}
#errorMessageMax {
    position: absolute; 
    right: 1px; 
    bottom: 1px; 
    z-index: 10; 
    width:20px; 
    height:20px;
    cursor: pointer;
}
#errorMessageMin {
    position: absolute; 
    right: 1px; 
    top: 0px; 
    width:20px; 
    height:20px; 
    cursor:pointer;
}

/* Fixes */
.androidHide {
    visibility: hidden;
}