/* Reset */
html, body, div, span, table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Site styling */
body { font-family: verdana; }

.page { z-index: 1; }

.header {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 57px;
}

.main {
    position: fixed;
    left: 0;
    right: 0;
    top: 57px;
    bottom: 60px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.footer {
    position: fixed;
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.main > label {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.controlgrid { width: 100%; }

.main td { vertical-align: middle; }

.controlgrid input, .controlgrid label {
    margin-top: 3px;
    margin-bottom: 3px;
}

.controlgrid input {
    padding: 2px;
    border: 1px solid #333366;
}

.controlgrid input[type="checkbox"] { border: none; }

.copyright {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #333366;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    background-color: black;
    filter: alpha(opacity=50);
    opacity: 0.5;
    z-index: 200;
}

.dialog 
{
    position: fixed;
    top: 30%;
    left: 50%;
    width: 300px;
    margin-left: -162px;
    background-color: #002248; 
    padding: 10px;
    border: 2px solid gainsboro; 
    border-radius: 10px; 
    text-align: center; 
    z-index: 400;
}

.background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/* Adjustment for larger screens */

.large-view .page {
    width: 320px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}

.large-view .header { position: relative; }

.large-view .main { position: absolute; }

.large-view .footer { position: absolute; }

.large-view .header { border-radius: 6px 6px 0px 0px; }

.large-view .footer { border-radius: 0px 0px 6px 6px; }