<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
  </configSections>

  <appSettings>
    <add key="Name" value="ExampleConnector"/>
  </appSettings>

    <!-- 1. In order to configure remote endpoints use the format: "queue@machine" 
       2. Input queue must be on the same machine as the process feeding off of it.
       3. Error queue can (and often should) be on a different machine.
       4. The community edition doesn't support more than one worker thread.
  -->

  <!--InputQueue="Connector1InputQueue" -->
  <MsmqTransportConfig ErrorQueue="error" NumberOfWorkerThreads="1" MaxRetries="5"/>

  <UnicastBusConfig DistributorControlAddress="" DistributorDataAddress="" ForwardReceivedMessagesTo="">
    
    <MessageEndpointMappings>
      <add Messages="Fusion.Messages.General.LogMessage, Fusion.Messages.General" Endpoint="fusion.logservice"/>
      <add Messages="Fusion.Messages.General.LogTranslationMessage, Fusion.Messages.General" Endpoint="fusion.logservice"/>

      <add Messages="Fusion.Messages.Example.ServiceUserUpdateMessage, Fusion.Messages.Example" Endpoint="fusion.publisher.example" />
      <add Messages="Fusion.Messages.Example.ServiceUserUpdateRequest, Fusion.Messages.Example" Endpoint="fusion.publisher.example" />

    
    
    
    
    </MessageEndpointMappings>
    
  </UnicastBusConfig>
  
	<!--<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="StructureMap" publicKeyToken="E60AD81ABAE3C223" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>-->
</configuration>
