<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
	<!-- ======================================================================================================== -->
	<!--                Define the SQL Server(s), Database(s) and Exchange Server on which the                    -->
	<!--                          OpenHR Outlook Calendar Service will run here.                                  -->
	<!-- ======================================================================================================== -->
	<!--                                                                                                          -->
	<!-- Modify the 'server', 'database' and 'exchange' key values below to define the first                      -->
	<!-- SQL Server, Database and Exchange Server on which the OpenHR Outlook Calendar Service will service.      -->
	<!--                                                                                                          -->
	<!-- Example                                                                                                  -->
	<!-- To configure the service to run on the 'mydatabase' database on the 'myserver' SQL Server using the      -->
	<!-- 'myExchange' Exchange Server:                                                                            -->
	<!--     <add key="exchange"  value="mydatabase"/>                                                            -->
	<!--     <add key="server"    value="myserver"/>                                                              -->
	<!--     <add key="database"  value="mydatabase"/>                                                            -->
	<!--                                                                                                          -->
	<!-- Add new 'server*' and 'database*' key values to define additional SQL Server(s) & Database(s)            -->
	<!-- on which the OpenHR Outlook Calendar Service will run.                                                   -->
	<!-- NB. The 'server' and 'database' keys have digits appended to them to make the keys unique.               -->
	<!--                                                                                                          -->
	<!-- NOTE: Only 1 Exchange server is supported.                                                               -->
	<!--                                                                                                          -->
	<!-- Example                                                                                                  -->
	<!-- To configure the service to run on the 'mydatabase' database on the 'myserver' SQL Server,               -->
	<!-- and the 'mydatabase1' database on the 'myserver' SQL Server,                                             -->
	<!-- and the 'mydatabase2' database on the 'myserver2' SQL Server:                                            -->
	<!--     <add key="exchange"  value="myexchange"/>                                                            -->
	<!--     <add key="server"    value="myserver"/>                                                              -->
	<!--     <add key="database"  value="mydatabase"/>                                                            -->
	<!--     <add key="database1" value="mydatabase1"/>                                                           -->
	<!--     <add key="server2"   value="myserver2"/>                                                             -->
	<!--     <add key="database2" value="mydatabase2"/>                                                           -->
	<!--                                                                                                          -->
	<!-- ==============================================================================================           -->
	<!--                                                                                                          -->
	<!-- Define your server and database values here:                                                             -->

	<add key="openhruser" value=""/>
	<add key="openhrpassword" value=""/>
	<add key="exchange" value=""/>
	<add key="serviceAccountPassword" value=""/>
	<add key="server" value=""/>
	<add key="database" value=""/>
	<add key="debug" value="0"/>
	<add key="commandtimeout" value="200"/>
  </appSettings>
</configuration>
