--select * from asrsysAccordtransferfielddefinitions where transfertypeid = 0 order by description 
-- select * from ASRSysAccordTransferTypes  order by transfertype
-- select * FROM asrsysModuleSetup

--select * from [fusion].[Element] 

DECLARE @columnID integer,
		@tableID integer;

DELETE FROM fusion.[MessageRelations]
DELETE FROM fusion.[MessageElements]
DELETE FROM fusion.[Message]

DELETE FROM [fusion].[Element]
DELETE FROM [fusion].[Category]

DBCC CHECKIDENT ('fusion.[MessageElements]', RESEED, 0)





	-- Categories
	EXEC dbo.spsys_getaccordmodulesetting 'MODULE_PERSONNEL', 'Param_TablePersonnel', 'PType_TableID', @tableID OUTPUT;
	INSERT [fusion].[Category] ([ID], [Name], [TableID], [TranslationName]) VALUES (0, N'Employee', @tableID, 'staff');

	SELECT @tableID = NULLIF(ISNULL(ASRBaseTableID, NULL),0) FROM ASRSysAccordTransferTypes WHERE TransferTypeID = 1;
	INSERT [fusion].[Category] ([ID], [Name], [TableID], [TranslationName]) VALUES (1, N'Salary', @tableID, 'salary');

	EXEC dbo.spsys_getaccordmodulesetting 'MODULE_PERSONNEL', 'Param_FieldsHWorkingPatternTable', 'PType_TableID', @tableID OUTPUT;
	INSERT [fusion].[Category] ([ID], [Name], [TableID], [TranslationName]) VALUES (2, N'Working History (Contracts)', @tableID, 'contract');

	EXEC dbo.spsys_getaccordmodulesetting 'MODULE_ABSENCE', 'Param_TableAbsence', 'PType_TableID', @tableID OUTPUT;

	EXEC dbo.spsys_getaccordmodulesetting 'MODULE_TRAININGBOOKING', 'Param_TrainBookTable', 'PType_TableID', @tableID OUTPUT;

	EXEC dbo.spsys_getaccordmodulesetting 'MODULE_TRAININGBOOKING', 'Param_CourseTable', 'PType_TableID', @tableID OUTPUT;

	SET @tableID = NULL;




	-- Staff elements
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 0
	INSERT [fusion].[Element] ([ID], [CategoryID], [Name], [Description], [DataType], [MinSize], [MaxSize], [Lookup], [ColumnID]) VALUES (1, 0, N'Company Code', '', 12, NULL, NULL, 1, @columnID)
	SELECT @columnID = parameterValue FROM asrsysModuleSetup WHERE ModuleKey = 'MODULE_PERSONNEL' AND ParameterKey = 'Param_FieldsEmployeeNumber' AND parametertype = 'PType_ColumnID';
	INSERT [fusion].[Element] ([ID], [CategoryID], [Name], [Description], [DataType], [MinSize], [MaxSize], [Lookup], [ColumnID]) VALUES (2, 0, N'Staff Number', '', 12, NULL, NULL, 0, @columnID)
	SELECT @columnID = parameterValue FROM asrsysModuleSetup WHERE ModuleKey = 'MODULE_PERSONNEL' AND ParameterKey = 'Param_FieldsSurname' AND parametertype = 'PType_ColumnID';
	INSERT [fusion].[Element] ([ID], [CategoryID], [Name], [Description], [DataType], [MinSize], [MaxSize], [Lookup], [ColumnID]) VALUES (3, 0, N'Surname', '', 12, NULL, NULL, 0, @columnID)
	SELECT @columnID = parameterValue FROM asrsysModuleSetup WHERE ModuleKey = 'MODULE_PERSONNEL' AND ParameterKey = 'Param_FieldsForename' AND parametertype = 'PType_ColumnID';
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 4
	SELECT @columnID = NULL;
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 6
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 7
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 8
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 9
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 10
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 11
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 12
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 13
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 14
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 15
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 16
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 17
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 18
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 19
	SELECT @columnID = parameterValue FROM asrsysModuleSetup WHERE ModuleKey = 'MODULE_PERSONNEL' AND ParameterKey = 'Param_FieldsStartDate' AND parametertype = 'PType_ColumnID';
	SELECT @columnID = parameterValue FROM asrsysModuleSetup WHERE ModuleKey = 'MODULE_PERSONNEL' AND ParameterKey = 'Param_FieldsLeavingDate' AND parametertype = 'PType_ColumnID';
	SELECT @columnID = NULL;
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 18
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 15
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 16
	SELECT @columnID = parameterValue FROM asrsysModuleSetup WHERE ModuleKey = 'MODULE_PERSONNEL' AND ParameterKey = 'Param_FieldsJobTitle' AND parametertype = 'PType_ColumnID';
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 57
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 0 AND [transferfieldid] = 81
	SELECT @columnID = parameterValue FROM asrsysModuleSetup WHERE ModuleKey = 'MODULE_PERSONNEL' AND ParameterKey = 'Param_FieldsHRegion' AND parametertype = 'PType_ColumnID';
	SELECT @columnID = NULL;
	EXEC dbo.spsys_getaccordmodulesetting 'MODULE_PERSONNEL', 'Param_FieldsDepartment', 'PType_ColumnID', @columnID OUTPUT;


	-- Appointment/Working Pattern/Contract elements
	SELECT @columnID = NULL;
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 65 AND [transferfieldid] = 3
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 65 AND [transferfieldid] = 15
	SELECT @columnID = NULL;
	SELECT @columnid = ASRColumnID FROM asrsysAccordtransferfielddefinitions WHERE [transfertypeid] = 65 AND [transferfieldid] = 12
	SELECT @columnID = NULL;


	-- Training Booking elements
	SELECT @columnID = parameterValue FROM asrsysModuleSetup WHERE ModuleKey = 'MODULE_TRAININGBOOKING' AND ParameterKey = 'Param_CourseTitle' AND parametertype = 'PType_ColumnID';
	SELECT @columnID = parameterValue FROM asrsysModuleSetup WHERE ModuleKey = 'MODULE_TRAININGBOOKING' AND ParameterKey = 'Param_CourseStartDate' AND parametertype = 'PType_ColumnID';
	SELECT @columnID = parameterValue FROM asrsysModuleSetup WHERE ModuleKey = 'MODULE_TRAININGBOOKING' AND ParameterKey = 'Param_CourseEndDate' AND parametertype = 'PType_ColumnID';
	SELECT @columnID = NULL;
	SELECT @columnID = parameterValue FROM asrsysModuleSetup WHERE ModuleKey = 'MODULE_TRAININGBOOKING' AND ParameterKey = 'Param_TrainBookStatus' AND parametertype = 'PType_ColumnID';
	SELECT @columnID = NULL;


	-- Courses
	SELECT @columnID = parameterValue FROM asrsysModuleSetup WHERE ModuleKey = 'MODULE_TRAININGBOOKING' AND ParameterKey = 'Param_CourseCancelDate' AND parametertype = 'PType_ColumnID';
	SELECT @columnID = parameterValue FROM asrsysModuleSetup WHERE ModuleKey = 'MODULE_TRAININGBOOKING' AND ParameterKey = 'Param_CourseCancelledBy' AND parametertype = 'PType_ColumnID';
	SELECT @columnID = parameterValue FROM asrsysModuleSetup WHERE ModuleKey = 'MODULE_TRAININGBOOKING' AND ParameterKey = 'Param_CourseEndDate' AND parametertype = 'PType_ColumnID';
	SELECT @columnID = parameterValue FROM asrsysModuleSetup WHERE ModuleKey = 'MODULE_TRAININGBOOKING' AND ParameterKey = 'Param_CourseMaxNumber' AND parametertype = 'PType_ColumnID';
	SELECT @columnID = parameterValue FROM asrsysModuleSetup WHERE ModuleKey = 'MODULE_TRAININGBOOKING' AND ParameterKey = 'Param_CourseNumberBooked' AND parametertype = 'PType_ColumnID';
	SELECT @columnID = parameterValue FROM asrsysModuleSetup WHERE ModuleKey = 'MODULE_TRAININGBOOKING' AND ParameterKey = 'Param_CourseStartDate' AND parametertype = 'PType_ColumnID';
	SELECT @columnID = parameterValue FROM asrsysModuleSetup WHERE ModuleKey = 'MODULE_TRAININGBOOKING' AND ParameterKey = 'Param_CourseTitle' AND parametertype = 'PType_ColumnID';


	-- Documents
	SELECT @columnID = NULL;

	
	-- Timesheet
	SELECT @columnID = NULL;

	
	-- Contacts
	SELECT @columnID = NULL;




-- Salary elements
SELECT @columnID = NULL;
SELECT @columnID = NULL;
SELECT @columnID = NULL;
SELECT @columnID = NULL;


	-- Messages (based on xsd definitions)
	INSERT fusion.[Message] (ID, Name, Description, [DataNodeKey], [Schema], Version, AllowPublish, AllowSubscribe, Publish, Subscribe
			, StopDeletion, BypassValidation, xmlns, xmlschemaLocation, xmlxsi)
		VALUES (1, 'staffChange', 'Staff details', 'staff'
			, 0x
			, 1, 1, 1, 1, 1, 1, 1
			, 'http://advancedcomputersoftware.com/xml/fusion/socialCare'
			, 'http://advancedcomputersoftware.com/xml/fusion/socialCare https://rlo.advanced365.com/FUSION/Message%20Specifications/Data%20Examples/'
			, 'http://www.w3.org/2001/XMLSchema-instance')

	INSERT fusion.[Message] (ID, Name, Description, [DataNodeKey], [Schema], Version, AllowPublish, AllowSubscribe, Publish, Subscribe
			, StopDeletion, BypassValidation, xmlns, xmlschemaLocation, xmlxsi)
		VALUES (2, 'staffContractChange', 'Staff contract details', 'staffContract'
			, 0x
			, 1, 1, 1, 1, 1, 1, 1
			, 'http://advancedcomputersoftware.com/xml/fusion/socialCare'
			, 'http://advancedcomputersoftware.com/xml/fusion/socialCare https://rlo.advanced365.com/FUSION/Message%20Specifications/Data%20Examples/'
			, 'http://www.w3.org/2001/XMLSchema-instance')
  
  
	INSERT fusion.[Message] (ID, Name, Description, [Schema], Skeleton, Version, AllowPublish, AllowSubscribe, Publish, Subscribe, StopDeletion, BypassValidation)
		VALUES (3, 'staffPictureChange', 'Staff picture details', 0x, 1, 1, 1, 1, 1, 1, 1, 1)

		

	-- staffChange message
	INSERT fusion.[MessageRelations] (MessageID, NodeKey, CategoryID, IsPrimaryKey)
		VALUES (1, 'staffRef', 0, 1)	
	INSERT fusion.[MessageElements] (MessageID, ElementID, NodeKey, Position, DataType, Nillable, MinOccurs, MaxOccurs, MinSize, MaxSize, [Lookup])
		VALUES (1, 5, 'title', 1, 12, 1, 1, 1, 1, 0, 1)
	INSERT fusion.[MessageElements] (MessageID, ElementID, NodeKey, Position, DataType, Nillable, MinOccurs, MaxOccurs, MinSize, MaxSize, [Lookup])
		VALUES (1, 4, 'forenames', 1, 12, 0, 1, 1, 1, 0, 0)
	INSERT fusion.[MessageElements] (MessageID, ElementID, NodeKey, Position, DataType, Nillable, MinOccurs, MaxOccurs, MinSize, MaxSize, [Lookup])
		VALUES (1, 3, 'surname', 2, 12, 0, 1, 1, 1, 0, 0)

	-- staffContractChange
	INSERT fusion.[MessageRelations] (MessageID, NodeKey, CategoryID, IsPrimaryKey)
		VALUES (2, 'staffContractRef', 2, 1)
	INSERT fusion.[MessageRelations] (MessageID, NodeKey, CategoryID, IsPrimaryKey)
		VALUES (2, 'staffRef', 0, 0)

	-- staffPictureChange

	-- staffSkillChange
	
	-- staffLegalDocumentChange

	-- staffTimesheetPerContractChange

	-- staffHolidayBalanceRemainingChange


	-- StaffContactChange

	-- outeachAreaChange

	-- personTitleChange

	-- staffMaritalStatusChange

	-- staffEthnicityChange

	-- personContactTypeChange

	-- staffLeavingReasonChange

	-- staffDepartmentChange
	
	-- staffTrainingOutcomeChange

