<?xml version="1.0"?>
<configuration>
  <appSettings configSource="web.custom.config"/>
  <system.web>
    <compilation debug="true" strict="true" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.VisualBasic.Compatibility, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <sessionState timeout="60" cookieless="true"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" name="openhr.auth" defaultUrl="Home.aspx" timeout="262800"/>
    </authentication>
    <customErrors mode="RemoteOnly"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
  <location path="FileUpload.aspx">
    <system.web>
      <httpRuntime maxRequestLength="2097151" requestLengthDiskThreshold="8192"/>
    </system.web>
  </location>
  <location path="Home.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="PendingSteps.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>